<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	<link href="/css/admin_kgr9.css" rel="stylesheet">
</head>
<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">상품 입/출고 등록</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<form id="addInOutcomingForm" th:action="@{/admin/stock/add_in_outcoming}" method="post">
							<div class="tb-title">
								<h2>입/출고 정보</h2>
							</div>
							<table class="table table-bordered search-table-gr" id="searchTable" width="100%" cellspacing="0">
								<tbody>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsName">상품명</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="goodsName" name="goodsName" placeholder="상품명을 입력해주세요."/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsLotNumber">제조번호</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="goodsLotNumber" name="goodsLotNumber" placeholder="제조번호를 입력해주세요."/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsCompany">제조사</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="goodsCompany" name="goodsCompany" placeholder="제조사를 입력해주세요."/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="inOutcomingType">입/출고 분류</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												&nbsp;
												 <select class="dropdown btn btn-primary required-form" id="inOutcomingTypeSelect" name="inOutcomingTypeSelect" onchange="inOutType(this.value)">
													<option value="">:: 입/출고 분류 ::</option>
														<option>입고</option>
														<option>출고</option>
														<option>교환</option>
														<option>폐기</option>
												</select>
											</div>
											<div class="form-row align-items-center search-schedule">
												&nbsp;
												<input type="hidden" id="inOutcomingType" name="inOutcomingType" placeholder=":: 입/출고 분류 ::" />
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="inOutcomingQuantity">입/출고 수량</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control number-input" 
													id="inOutcomingQuantity" name="inOutcomingQuantity" placeholder="입/출고 수량"/>개
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="inOutcomingDate">입/출고일</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="date" class="form-control form-control-user-search" 
													id="inOutcomingDate" name="inOutcomingDate"/>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="tb-title">
								<h2>입고 상세 정보</h2>
							</div>
							<table class="table table-bordered search-table-gr" id="searchTable" width="100%" cellspacing="0">
								<tbody>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsExprityDate">상품 유통기한</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="date" class="form-control form-control-user-search incoming" 
													id="goodsExprityDate" name="goodsExprityDate" disabled/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="stocktakingCheck">재고조사 진행 현황</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												&nbsp;
												<div class="form-row align-items-center search-schedule">
											      <label>
												      <input type="radio" class="incoming" name="stocktakingCheck" disabled>
												      <span class="text">완료</span>&nbsp;&nbsp;
											      </label>
											    </div>
												<div class="form-row align-items-center search-schedule">
											      <label>
												      <input type="radio" class="incoming" name="stocktakingCheck" disabled>
												      <span class="text">미완료</span>
											      </label>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="stocktakingDate">재고조사일</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="date" class="form-control form-control-user-search incoming" 
													id="stocktakingDate" name="stocktakingDate" disabled/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="unusualStockCheck">비정상 재고 유무</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												&nbsp;
												<div class="form-row align-items-center search-schedule">
											      <label>
												      <input type="radio" class="incoming" name="unusualStockCheck" disabled>
												      <span class="text">유</span>&nbsp;&nbsp;
											      </label>
											    </div>
												<div class="form-row align-items-center search-schedule">
											      <label>
												      <input type="radio" class="incoming" name="unusualStockCheck" disabled>
												      <span class="text">무</span>
											      </label>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="unusualStockAmount">비정상 재고 수량</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control number-input incoming" 
													id="unusualStockAmount" name="unusualStockAmount" placeholder="비정상 재고 수량" disabled/>개
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="unusualStockDate">비정상 재고 발생일</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="date" class="form-control form-control-user-search incoming" 
													id="unusualStockDate" name="unusualStockDate" disabled/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="unusualStockReason">비정상 재고 사유</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input incoming" 
													id="unusualStockReason" name="unusualStockReason" placeholder="비정상 재고 사유를 입력해주세요." disabled/>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="tb-title">
								<h2>출고 상세 정보</h2>
							</div>
							<table class="table table-bordered search-table-gr" id="searchTable" width="100%" cellspacing="0">
								<tbody>
									<tr>
										<th class="bg-gray-100">
											<label for="outcomingId">출고 담당자</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input outcoming" 
													id="outcomingId" name="outcomingId" placeholder="출고 담당자를 입력해주세요." disabled/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="foundationName">출고 재단명</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input outcoming" 
													id="foundationName" name="foundationName" placeholder="출고 재단명을 입력해주세요." disabled/>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<div align="center">
								<button type="submit" id="submitBtn" class="btn btn-primary btn-icon-split">
									<span class="icon text-white-50"><i class="fas fa-check"></i></span>
									<span class="text">등록하기</span>
								</button>
								<button type="reset" id="resetBtn" class="btn btn-secondary btn-icon-split">
									<span class="icon text-white-50"><i class="fas fa-trash"></i></span>
									<span class="text">입력취소</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</th:block>

<th:block layout:fragment="customJs">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/js/custom/kgr9.js}"></script>
	<script th:inline="javascript">
		
		// 입/출고 분류 select box value 값 -> input value로 넣기
		function inOutType(category) {
			const selectInput = document.querySelector('#inOutcomingType');
			selectInput.value = category;
		};
		
		$(function(){
			
			// 입출고분류 체크박스 선택 값에 따라 input 입력 활성화
			// select box 입고 선택 시 입고 상세정보 테이블 input 입력 활성화
		 	// select box 출고 선택 시 출고 상세정보 테이블 input 입력 활성화
			const inOutcomingTypeSelect = $('#inOutcomingTypeSelect');
			const incomingTypeInputs = $('.incoming');
			const outcomingTypeInputs = $('.outcoming');
			
			function toggleInOutcomingTypeInputs() {
				const selectedValue = inOutcomingTypeSelect.val();
				if(selectedValue == '입고'){
					incomingTypeInputs.prop('disabled', false);
				    outcomingTypeInputs.val('').prop('disabled', true);
				}else if(selectedValue == '출고'){
					incomingTypeInputs.val('').prop('disabled', true);
				    outcomingTypeInputs.prop('disabled', false);
				}else{
					incomingTypeInputs.val('').prop('disabled', true);
				    outcomingTypeInputs.val('').prop('disabled', true);
				}
			};
			
			// 페이지 로드 시 초기 설정
			toggleInOutcomingTypeInputs();
			
			// 입출고분류 체크박스 선택 변경 시 이벤트 처리
			inOutcomingTypeSelect.change(function() {
				toggleInOutcomingTypeInputs();
			});
			
			// form submitBtn 등록하기 버튼 클릭 시 공란 체크
			function validationCheck(ele){
				let data = $(ele).val();
				let isValid = true;
				if (ele.id === 'inOutcomingTypeSelect' && data === '입고') {
					if(typeof data == 'undefined' || data == null || data == '' && !$(ele).hasClass('outcoming')) {
						let msg = $(ele).parents('tr').find('label').text();
						isValid = false;
					}
			    } else if(ele.id === 'inOutcomingTypeSelect' && data === '출고') {
			    	if(typeof data == 'undefined' || data == null || data == '' && !$(ele).hasClass('incoming')) {
						let msg = $(ele).parents('tr').find('label').text();
						isValid = false;
					}
			    } else {
			        if (typeof data === 'undefined' || data === null || data === '' 
			        	&& !$(ele).hasClass('incoming') && !$(ele).hasClass('outcoming')) {
						let msg = $(ele).parents('tr').find('label').text();
						isValid = false;
			        }
			    }
				return isValid;
			};
			
			$('#submitBtn').click(function(){
				const addInOutcomingForm = $('#addInOutcomingForm');
				const inputGroup = $('#addInOutcomingForm input');
				let isSubmit = true;
				inputGroup.each(function(idx, item){
				isSubmit = validationCheck(item);
					if(!isSubmit) {
						let msg = $(item).parents('tr').find('label').text();
						alert(`${msg} 필수 항목입니다. ${msg} 입력해주세요.`);
						$(item).focus();
						return false;
					}
				});
			if(isSubmit) addInOutcomingForm.submit();
			});
		});
	</script>
</th:block>

</html>