<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	<link href="/css/admin_kgr9.css" rel="stylesheet">
</head>
<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">재고 수정</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<form id="modifyStockForm" th:action="@{/admin/stock/modify_stock}" method="post">
							<table th:object="${stockInfo}" class="table table-bordered search-table-gr" width="100%" cellspacing="0">
								<tbody>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsStockCode">상품재고코드</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="goodsStockCode" name="goodsStockCode" th:value="*{goodsStockCode}" readonly/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsName">상품명</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="goodsName" name="goodsName" th:value="*{goodsInfo.goodsName}" readonly="${goodsInfo.goodsName != null}"/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsLotNumber">제조번호</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search short-input" id="goodsLotNumber" name="goodsLotNumber" th:value="*{goodsLotNumber}" readonly/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsCompany">제조사</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search short-input" id="goodsCompany" name="goodsCompany" th:value="*{goodsInfo.goodsCompany}" readonly/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsExpiryDate">상품 유통기한</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control number-input" id="goodsExpiryDate" name="goodsExpiryDate" th:value="*{goodsExpiryDate}" readonly/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="stocktakingCheck">재고조사 현황</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												&nbsp;
												<div class="form-row align-items-center search-schedule">
													<label>
													  <input type="radio" class="incoming" name="stocktakingCheck" th:checked="*{stocktakingCheck} == '1'">
													  <span class="text">완료</span>&nbsp;&nbsp;
													</label>
												</div>
												<div class="form-row align-items-center search-schedule">
													<label>
													  <input type="radio" class="incoming" name="stocktakingCheck" th:checked="*{stocktakingCheck} == '0'">
													  <span class="text">미완료</span>
													</label>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="stocktakingDate">재고조사일</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control number-input" id="stocktakingDate" name="stocktakingDate" th:value="*{stocktakingDate}" placeholder="재고조사일을 입력해주세요." />
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="currentStockAmount">현재고량</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control number-input" id="currentStockAmount" min="0" name="goodsPrice" th:value="*{currentStockAmount}" placeholder="현재고량를 입력해주세요." />개
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="unusualStockCheck">비정상재고</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												&nbsp;
												<div class="form-row align-items-center search-schedule">
													<label>
														<input type="radio" class="incoming" name="unusualStockCheck" th:checked="*{unusualStockCheck} == '1'">
														<span class="text">유</span>&nbsp;&nbsp;
													</label>
												</div>
												<div class="form-row align-items-center search-schedule">
												  	<label>
														<input type="radio" class="incoming" name="unusualStockCheck"
																th:checked="(*{stocktakingCheck} == '1' or (*{stocktakingCheck} == '0' and *{unusualStockCheck} == '0'))">
														<span class="text">무</span>
													</label>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="unusualStockAmount">비정상재고량</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control number-input" id="unusualStockAmount" name="unusualStockAmount" th:value="*{unusualStockAmount}" placeholder="비정상재고량을 입력해주세요." disabled/>개
											</div>
										</td>
									</tr>
									<tr>
									<th class="bg-gray-100">
										<label for="unusualStockDate">비정상 재고 발생일자</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="date" class="form-control form-control-user-search" id="unusualStockDate" name="unusualStockDate" disabled/>
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="unusualStockReason">비정상 재고 사유</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="text" class="form-control form-control-user-search long-input" id="unusualStockReason" name="unusualStockReason" placeholder="비정상 재고 발생 사유를 입력해주세요." disabled/>
										</div>
									</td>
								</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="finalStockAmount">출고가능수량</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control number-input" id="finalStockAmount" name="finalStockAmount" th:value="*{unusualStockAmount}" placeholder="출고가능수량을 입력해주세요." />개
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<div align="center">
								<button type="submit" id="submitBtn" class="btn btn-primary btn-icon-split">
									<span class="icon text-white-50"><i class="fas fa-check"></i></span>
									<span class="text">수정하기</span>
								</button>
								<button type="button" id="returnBtn" class="btn btn-secondary btn-icon-split">
									<span class="icon text-white-50"><i class="fas fa-trash"></i></span>
									<span class="text">돌아가기</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</th:block>

<th:block layout:fragment="customJs">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/js/custom/kgr9.js}"></script>
	<script th:inline="javascript">
		
		$(function() {
			// 재고조사 현황 radio 선택 값에 따라 input 입력 활성화
			const stocktakingCheck = $('#stocktakingCheck checked');
			const stocktakingInputs = $('#stocktakingDate, #currentStockAmount');
			
			function togglestocktakingInputs() {
				const selectedValue = stocktakingCheckSelect.val();
				if(selectedValue == '완료'){
					stocktakingInputs.prop('disabled', false);
				}else{
					stocktakingInputs.val('').prop('disabled', true);
				}
			}
			
			// 페이지 로드 시 초기 설정
			togglestocktakingInputs();
			
			// 재고조사 현황 체크박스 선택 변경 시 이벤트 처리
			stocktakingCheckSelect.change(function() {
				togglestocktakingInputs();
			});
			
			// 비정상재고 체크박스 선택 값에 따라 input 입력 활성화
			const unusualStockCheckSelect = $('#unusualStockCheckSelect');
			const unusualStockInputs = $('#unusualStockAmount, #unusualStockDate, #unusualStockReason');
			
			function toggleUnusualStockInputs() {
				const selectedValue = unusualStockCheckSelect.val();
				if(selectedValue == '유'){
					unusualStockInputs.prop('disabled', false);
				}else{
					unusualStockInputs.val('').prop('disabled', true);
				}
			}
			
			// 페이지 로드 시 초기 설정
			toggleUnusualStockInputs();
			
			// 비정상재고 체크박스 선택 변경 시 이벤트 처리
			unusualStockCheckSelect.change(function() {
			  toggleUnusualStockInputs();
			});
		});
		
	</script>
</th:block>

</html>