<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	<link href="/css/admin_kgr9.css" rel="stylesheet">
</head>
<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">재고 수정</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<form id="modifyStockForm" th:action="@{/admin/stock/modify_stock}" method="post">
							<table th:object="${stockInfo}" class="table table-bordered search-table-gr" width="100%" cellspacing="0">
								<tbody>
									<tr class="hidden">
										<th class="bg-gray-100">
											<label for="goodsStockCode">상품재고코드</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="goodsStockCode" name="goodsStockCode" th:value="*{goodsStockCode}"/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsName">상품명</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="goodsName" name="goodsName" th:value="*{goodsInfo.goodsName}" readonly="${goodsInfo.goodsName != null}"/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsLotNumber">제조번호</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search short-input" id="goodsLotNumber" name="goodsLotNumber" th:value="*{goodsLotNumber}" readonly/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsCompany">제조사</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search short-input" id="goodsCompany" name="goodsCompany" th:value="*{goodsInfo.goodsCompany}" readonly/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsExprityDate">상품 유통기한</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control number-input" id="goodsExprityDate" name="goodsExprityDate" th:value="*{goodsExprityDate}" readonly/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="stocktakingCheck">재고조사 현황</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												&nbsp;
												 <select class="dropdown btn btn-primary required-form" id="stocktakingCheckSelect" name="stocktakingCheckSelect" onchange="stocktaking(this.value)">
													<option value="">:: 재고조사 현황 ::</option>
													<option th:selected="*{stocktakingCheck} == '1'" >완료</option>
													<option th:selected="*{stocktakingCheck} == '0'" >미완료</option>
												</select>
											</div>
											<div class="form-row align-items-center search-schedule">
												<input type="hidden" class="form-control form-control-user-search short-input"
													id="stocktakingCheck" name="stocktakingCheck" th:value="*{stocktakingCheck}"/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="stocktakingDate">재고조사일</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control number-input" id="stocktakingDate" name="stocktakingDate" th:value="*{stocktakingDate}" placeholder="재고조사일을 입력해주세요." />
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="currentStockAmount">현재고량</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control number-input" id="currentStockAmount" min="0" name="goodsPrice" th:value="*{currentStockAmount}" placeholder="현재고량를 입력해주세요." />개
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="unusualStockCheck">비정상재고</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												&nbsp;
												 <select class="dropdown btn btn-primary required-form" id="unusualStockCheckSelect" name="unusualStockCheckSelect" onchange="unusualStock(this.value)">
													<option value="">:: 비정상재고 ::</option>
													<option th:selected="*{stocktakingCheck} == '1' and *{unusualStockCheck} == '0'" >무</option>
													<option th:selected="*{unusualStockCheck} == '1'" >유</option>
													<option th:selected="*{stocktakingCheck} == '0' and *{unusualStockCheck} == '0'">재고조사 미진행</option>
												</select>
											</div>
											<div class="form-row align-items-center search-schedule">
												<input type="hidden" class="form-control form-control-user-search short-input"
													id="unusualStockCheck" name="unusualStockCheck" th:value="*{unusualStockCheck}"/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="unusualStockAmount">비정상재고량</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control number-input" id="unusualStockAmount" name="unusualStockAmount" th:value="*{unusualStockAmount}" placeholder="비정상재고량을 입력해주세요." disabled/>개
											</div>
										</td>
									</tr>
									<tr>
									<th class="bg-gray-100">
										<label for="unusualStockDate">비정상 재고 발생일자</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="date" class="form-control form-control-user-search" id="unusualStockDate" name="unusualStockDate" disabled/>
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="unusualStockReason">비정상 재고 사유</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="text" class="form-control form-control-user-search long-input" id="unusualStockReason" name="unusualStockReason" placeholder="비정상 재고 발생 사유를 입력해주세요." disabled/>
										</div>
									</td>
								</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="finalStockAmount">출고가능수량</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control number-input" id="finalStockAmount" name="finalStockAmount" th:value="*{unusualStockAmount}" placeholder="출고가능수량을 입력해주세요." />개
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<div align="center">
								<button type="submit" id="submitBtn" class="btn btn-primary btn-icon-split">
									<span class="icon text-white-50"><i class="fas fa-check"></i></span>
									<span class="text">수정하기</span>
								</button>
								<button type="button" id="returnBtn" class="btn btn-secondary btn-icon-split">
									<span class="icon text-white-50"><i class="fas fa-trash"></i></span>
									<span class="text">돌아가기</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</th:block>

<th:block layout:fragment="customJs">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/js/custom/kgr9.js}"></script>
	<script th:inline="javascript">
		
		/*
		* 재고조사 현황 select box value 값 -> input value로 넣기
		*/
		function stocktaking(category) {
			const selectInputEle = $('#stocktakingCheck');
			selectInputEle.val(category);
		};
		
		
		/**
		 * 재고조사 현황 select box selected 값 -> input text로 넣기
		 */
		var selectedText = $("#stocktakingCheckSelect option:selected").text(); // select 요소에서 선택된 option 요소의 text 값을 가져온다.
		$("#stocktakingCheck").val(selectedText); // input 요소에 선택된 text 값을 할당한다.
		
		/**
		 * 비정상재고 select box value 값 -> input value로 넣기
		 */
		function unusualStock(category) {
			const selectInputEle = $('#unusualStockCheck');
			selectInputEle.val(category);
		};
		
		/**
		 * 비정상재고 select box selected 값 -> input text로 넣기
		 */
		var selectedText = $("#unusualStockCheckSelect option:selected").text(); // select 요소에서 선택된 option 요소의 text 값을 가져온다.
		$("#unusualStockCheck").val(selectedText); // input 요소에 선택된 text 값을 할당한다.
			
		$(function(){
			/**
			* 비정상재고 유 선택 시 비정상재고 상세 input 입력 활성화
			*/
			$('#unusualStockCheckSelect').change(function() {
		        var selectedValue = $(this).val();
		        if (selectedValue === '유') {
		            $('#unusualStockAmount').prop('disabled', false);
		            $('#unusualStockDate').prop('disabled', false);
		            $('#unusualStockReason').prop('disabled', false);
		        } else {
		            $('#unusualStockAmount').prop('disabled', true);
		            $('#unusualStockDate').prop('disabled', true);
		            $('#unusualStockReason').prop('disabled', true);
		        }
		    });
	    });
	</script>
</th:block>

</html>