<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	
	<link href="/css/admin_kgr9.css" rel="stylesheet">

</head>
<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">재고 수정</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<form id="modifyStockForm" th:action="@{/admin/stock/modify_stock}" method="post">
							<table th:object="${stockInfo}" class="table table-bordered search-table-gr" width="100%" cellspacing="0">
								<tbody>
									<tr class="hidden">
										<th class="bg-gray-100">
											<label for="goodsStockCode">상품재고코드</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="goodsStockCode" name="goodsStockCode" th:value="*{goodsStockCode}"/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsName">상품명</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="goodsName" name="goodsName" th:value="*{goodsName}" readonly/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsCategory">상품 분류</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="goodsCategory" name="goodsCategory" th:value="*{goodsCategory}" readonly/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsCompany">제조사</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="goodsCompany" name="goodsCompany" th:value="*{goodsCompany}" readonly/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsExprityDate">상품 유통기한</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control short-input" id="goodsExprityDate" min="0" name="goodsExprityDate" th:value="*{goodsExprityDate}" readonly/>원
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="stocktakingCheck">재고조사 여부</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control short-input" id="stocktakingCheck" min="0" name="stocktakingCheck" th:value="*{stocktakingCheck}" placeholder="재고 조사 여부를 입력해주세요." />원
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="stocktakingDate">재고조사일</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control short-input" id="goodsPrice" min="0" name="goodsPrice" th:value="*{goodsPrice}" placeholder="상품 단가를 입력해주세요." />원
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="currentStockAmount">현재고량</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control short-input" id="goodsPrice" min="0" name="goodsPrice" th:value="*{goodsPrice}" placeholder="상품 단가를 입력해주세요." />원
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="unusualStockCheck">비정상재고 유무</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control short-input" id="goodsPrice" min="0" name="goodsPrice" th:value="*{goodsPrice}" placeholder="상품 단가를 입력해주세요." />원
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="unusualStockAmount">비정상재고량</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control short-input" id="goodsPrice" min="0" name="goodsPrice" th:value="*{goodsPrice}" placeholder="상품 단가를 입력해주세요." />원
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="finalStockAmount">출고가능수량</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control short-input" id="goodsPrice" min="0" name="goodsPrice" th:value="*{goodsPrice}" placeholder="상품 단가를 입력해주세요." />원
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<div align="center">
								<button type="submit" id="submitBtn" class="btn btn-primary btn-icon-split">
									<span class="icon text-white-50"><i class="fas fa-check"></i></span>
									<span class="text">수정하기</span>
								</button>
								<button type="button" id="returnBtn" class="btn btn-secondary btn-icon-split">
									<span class="icon text-white-50"><i class="fas fa-trash"></i></span>
									<span class="text">돌아가기</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i>
	</a>
	<!-- /.container-fluid -->
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i>
	</a>
</th:block>

<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/js/custom/kgr9.js}"></script>
	<script th:inline="javascript">
		/**
		 * 상품분류 select box value 값 -> input value로 넣기
		 */
		function goodsCate(category) {
			const selectInput = document.querySelector('#goodsCategory');
			selectInput.value = category;
		};
	</script>
</th:block>

</html>