<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	<link href="/css/admin_kgr9.css" rel="stylesheet">
</head>
<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">상품 입/출고 등록</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<form id="modifyInOutcomingForm" th:action="@{/admin/stock/modify_in_outcoming}" method="post">
							<div class="tb-title">
								<h2>입/출고 정보</h2>
							</div>
							<table th:object="${inOutcomingForm}" class="table table-bordered search-table-gr" width="100%" cellspacing="0">
								<tbody>
									<tr>
										<th class="bg-gray-100">
											<label for="inOutcomingCode">상품입출고코드</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="inOutcomingCode" name="inOutcomingCode" th:value="*{inOutcomingCode}" readonly/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsName">상품명</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												&nbsp;
												 <select class="dropdown btn btn-primary required-form" id="selectGoodsName" name="selectGoodsName" onchange="selectedGoodsName(this.value)">
													<option value="">:: 상품명 선택 ::</option>
													<option th:if="${goodsNameList == null}">등록된 상품명이 없습니다.</option>
    												<option th:each="goodsName : ${goodsNameList}" th:value="${goodsName}" th:text="${goodsName}" th:selected="${goodsName} == *{goodsName}"></option>
												</select>
											</div>
											<input type="hidden" id="goodsName" name="goodsName" th:value="*{goodsName}"/>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsLotNumber">제조번호</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="goodsLotNumber" name="goodsLotNumber" th:value="*{goodsLotNumber}" placeholder="제조번호를 입력해주세요."/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="inOutcomingType">입/출고 분류</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												&nbsp;
												 <select class="dropdown btn btn-primary required-form" id="selectInOutcomingType" name="selectInOutcomingType" onchange="selectedInOutcomingType(this.value)">
													<option value="">:: 입/출고 분류 ::</option>
													<option value="incoming" th:selected="*{inOutcomingType} == 'incoming'">입고</option>
													<option value="outcoming" th:selected="*{inOutcomingType} == 'outcoming'">출고</option>
													<option value="exchange" th:selected="*{inOutcomingType} == 'exchange'">교환</option>
													<option value="disposal" th:selected="*{inOutcomingType} == 'disposal'">폐기</option>
												</select>
											</div>
											<input type="hidden" id="inOutcomingType" name="inOutcomingType" th:value="*{inOutcomingType}"/>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="inOutcomingQuantity">입/출고 수량</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control number-input" id="inOutcomingQuantity" name="inOutcomingQuantity" th:value="*{inOutcomingQuantity}" placeholder="입/출고 수량"/>개
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="inOutcomingDate">입/출고일</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="date" class="form-control form-control-user-search" id="inOutcomingDate" name="inOutcomingDate" th:value="*{inOutcomingDate}"/>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="tb-title">
								<h2>입고 상세 정보</h2>
							</div>
							<table th:object="${inOutcomingForm}" class="table table-bordered search-table-gr" width="100%" cellspacing="0">
								<tbody>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsExpiryDate">상품 유통기한</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="date" class="form-control form-control-user-search incoming" id="goodsExpiryDate" name="goodsExpiryDate" th:value="*{goodsExpiryDate}"/>
											</div>
										</td>
									</tr>
									</tbody>
							</table>
							<div class="tb-title">
								<h2>출고 상세 정보</h2>
							</div>
							<table th:object="${inOutcomingForm}" class="table table-bordered search-table-gr" width="100%" cellspacing="0">
								<tbody>
									<tr>
										<th class="bg-gray-100">
											<label for="outcomingId">출고 담당자 아이디</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input outcoming" id="outcomingId" name="outcomingId" th:value="*{outcomingId}" placeholder="출고 담당자를 입력해주세요."/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="foundationName">출고 재단명</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												&nbsp;
												 <select class="dropdown btn btn-primary required-form outcoming" id="selectFoundationName" name="selectFoundationName" onchange="selectedFoundationName(this.value)">
													<option value="">:: 재단명 선택 ::</option>
													<option th:if="${foundationNameList == null}">등록된 재단명이 없습니다.</option>
    												<option th:each="foundationName : ${foundationNameList}" th:value="${foundationName}" th:text="${foundationName}" th:selected="${foundationName} == *{foundationName}"></option>
												</select>
											</div>
											<input type="hidden" class="outcoming" id="foundationName" name="foundationName" th:value="*{foundationName}"/>
										</td>
									</tr>
								</tbody>
							</table>
							<div align="center">
								<button type="submit" id="submitBtn" class="btn btn-primary btn-icon-split">
									<span class="icon text-white-50"><i class="fas fa-check"></i></span>
									<span class="text">등록하기</span>
								</button>
								<button type="reset" id="resetBtn" class="btn btn-secondary btn-icon-split">
									<span class="icon text-white-50"><i class="fas fa-trash"></i></span>
									<span class="text">입력취소</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</th:block>

<th:block layout:fragment="customJs">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/js/custom/kgr9.js}"></script>
	<script th:inline="javascript">
	
		// 상품명 select box value 값 -> input value로 넣기
		function selectedGoodsName(selectValue) {
			const selectInputEle = $('#goodsName');
			selectInputEle.val(selectValue);
		};
		
		// 입/출고 분류 select box 선택 value 값 -> input value로 넣기
		function selectedInOutcomingType(selectValue) {
			const selectInputEle = $('#inOutcomingType');
			selectInputEle.val(selectValue);
		};
		
		// 재단명 select box 선택 value 값 -> input value로 넣기
		function selectedFoundationName(selectValue) {
			const selectInputEle = $('#foundationName');
			selectInputEle.val(selectValue);
		};
		
		$(function(){
			/** 
			*	입출고분류 체크박스 선택 값에 따라 input 입력 활성화
			*	select box 입고 선택 시 입고 상세정보 테이블 input 활성화
		 	* 	select box 출고 선택 시 출고 상세정보 테이블 input 활성화
		 	*/
			const inOutcomingTypeSelectEle = $('#selectInOutcomingType');
			const incomingInputsEles = $('.incoming');
			const outcomingInputsEles = $('.outcoming');
			
			function toggleInOutcomingTypeInputs() {
				const selectedValue = inOutcomingTypeSelectEle.val();
				if(selectedValue == 'incoming'){
					incomingInputsEles.prop('disabled', false);
					outcomingInputsEles.val('').prop('disabled', true);
				}else if(selectedValue == 'outcoming'){
					incomingInputsEles.val('').prop('disabled', true);
					outcomingInputsEles.prop('disabled', false);
				}else{
					incomingInputsEles.val('').prop('disabled', true);
					outcomingInputsEles.val('').prop('disabled', true);
				}
			};
			
			// 초기 로딩 시 selectbox 상태에 따라 입력 필드 활성화/비활성화 설정
			toggleInOutcomingTypeInputs();
			
			// 입출고분류 selectbox 선택 변경 시 이벤트 처리
			inOutcomingTypeSelectEle.change(function() {
				toggleInOutcomingTypeInputs();
			});
		});
	</script>
</th:block>

</html>