<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	
	<link href="/css/admin_kgr9.css" rel="stylesheet">

</head>
<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Begin Page Content -->

		<!-- Page Heading -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">상품 출고 상세정보 조회</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered search-table-gr" id="searchTable" width="100%" cellspacing="0">
						<tbody>
							<tr>
								<th class="bg-gray-100">
									<label for="goodsName">검색 분류</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										&nbsp;&nbsp;
										<select class="dropdown btn btn-primary dropdown-toggle" id="dropdownMenuButton"
											data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<option value="option1">:: 검색 분류 ::</option>
											<option value="option1">상품명</option>
											<option value="option2">출고 담당자</option>
											<option value="option1">재단명</option>
											<option value="option2">등록/수정자</option>
										</select>
										&nbsp;
										<input type="text" class="form-control form-control-user-search middle-input"
											id="goodsName" name="goodsName" placeholder="검색 분류 선택 후 입력해주세요." />
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">출고일자</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										<div class="form-row align-items-center search-schedule">
											<button class="btn btn-secondary">
												<span class="text text-gray-100">오늘</span>
											</button>
										</div>
										<div class="form-row align-items-center search-schedule">
											<button class="btn btn-secondary">
												<span class="text text-gray-100">3일</span>
											</button>
										</div>
										<div class="form-row align-items-center search-schedule">
											<button class="btn btn-secondary">
												<span class="text text-gray-100">7일</span>
											</button>
										</div>
										<div class="form-row align-items-center search-schedule">
											<button class="btn btn-secondary">
												<span class="text text-gray-100">1개월</span>
											</button>
										</div>
										<div class="form-row align-items-center search-schedule">
											<button class="btn btn-secondary">
												<span class="text text-gray-100">3개월</span>
											</button>
										</div>
										<div class="form-row align-items-center search-schedule">
											<button class="btn btn-secondary">
												<span class="text text-gray-100">1년</span>
											</button>
										</div>
										<div class="form-row align-items-center search-schedule">
											<button class="btn btn-primary">
												<span class="text text-gray-100">전체</span>
											</button>
											&nbsp;
										</div>
										<div class="col-auto">
											<label for="start-date" class="sr-only">시작일</label>
											<input type="date" id="start-date" class="form-control"
												placeholder="시작일">
										</div>
										~
										<div class="col-auto">
											<label for="end-date" class="sr-only">종료일</label>
											<input type="date" id="end-date" class="form-control" placeholder="종료일">
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">
									<label for="goodsPrice">출고 수량</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										<div class="col-auto">
											<input type="number"
												class="form-control"
												id="purchase-search" min="0" name="goodsPrice"
												placeholder="상품 수량" />
										</div>
										~
										<div class="col-auto">
											<input type="number"
												class="form-control"
												id="purchase-search" min="0" name="goodsPrice"
												placeholder="상품 수량" />
										</div>개
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div align="center">
						<button type="button" id="totalSearchBtn" class="btn btn-primary btn-icon-split">
							<span class="icon text-white-50"><i class="fas fa-check"></i></span>
							<span class="text">검색</span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-body">
				<div class="table-responsive overflow-x">
					<table class="table table-bordered text-center table-layout-auto table-space" id="dataTable" width="100%"
						cellspacing="0">
						<thead class="bg-gray-100">
							<tr>
								<th>상품출고상세코드</th>
								<th>상품입출고코드</th>
								<th>출고 상품명</th>
								<th>출고수량</th>
								<th>출고일자</th>
								<th>출고 담당자</th>
								<th>출고 재단명</th>
								<th>등록/수정자</th>
								<th>등록/수정일자</th>
								<th>수정</th>
								<th>삭제</th>
							</tr>
						</thead>
						<tbody>
							<tr th:unless="${outcomingDetailList == null}" th:each=" l : ${outcomingDetailList}">
								<td th:text="${l.outcomingDetailCode}"></td>
								<td th:text="${l.inOutcomingCode}"></td>
								<td th:text="${l.outcomingGoods}"></td>
								<td th:text="${l.outcomingQuantity}"></td>
								<td th:text="${l.outcomingDate}"></td>
								<td th:text="${l.outcomingId}"></td>
								<td th:text="${l.foundationCode}"></td>
								<td th:if="${l.outcomingDetailUpdateId == null}" th:text="${l.outcomingDetailRegId}"></td>
								<td th:unless="${l.outcomingDetailUpdateId == null}" th:text="${l.outcomingDetailUpdateId}"></td>
								<td th:if="${l.outcomingDetailUpdateDate == null}" th:text="${l.outcomingDetailRegDate}"></td>
								<td th:unless="${l.outcomingDetailUpdateDate == null}" th:text="${l.outcomingDetailUpdateDate}"></td>
								<td>
									<a class="btn btn-secondary btn-icon-split btn-sm"
										th:href="@{/stock/modify_in_outcoming(inOutcomingCode=${l.inOutcomingCode})}">
										<span class="text">수정</span>
									</a>
								</td>
								<td>
									<a class="btn btn-secondary btn-icon-split btn-sm"
										th:href="@{/stock/remove_in_outcoming(inOutcomingCode=${l.inOutcomingCode})}">
										<span class="text">삭제</span>
									</a>
								</td>
							</tr>
							<tr th:if="${outcomingDetailList == null}">
								<td colspan="11">등록된 상품 출고 세부정보가 없습니다.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i>
	</a>

	<!-- /.container-fluid -->
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i>
	</a>


</th:block>

<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>


	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
</th:block>

</html>