<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	
	<link href="/css/admin_kgr9.css" rel="stylesheet">

</head>
<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Begin Page Content -->

		<!-- Page Heading -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">상품 재고 조회</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered search-table-gr" id="searchTable" width="100%" cellspacing="0">
						<tbody>
							<tr>
								<th class="bg-gray-100">
									<label for="goodsName">상품명</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										<input type="text" class="form-control form-control-user-search middle-input"
											id="goodsName" name="goodsName" placeholder="상품명을 검색하거나 입력해주세요." />
										&nbsp;
										<button type="button" id="goodsSearchBtn"
											class="btn btn-primary btn-icon-split">
											<span class="text">상품명 검색</span>
										</button>
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">
									<label for="goodsCompany">제조사</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										<input type="text" class="form-control form-control-user-search middle-input" id="goodsCompany" name="goodsCompany" placeholder="제조사를 검색하거나 입력해주세요."/>
									</div>
									<div class="form-row align-items-center search-schedule">
										<button type="button" id="companySearchBtn" class="btn btn-primary btn-icon-split">
											<span class="text">제조사 검색</span>
										</button>
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">
									<label for="goodsLotNumber">제조번호</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										<input type="text" class="form-control form-control-user-search number-input"
											id="goodsLotNumber" name="goodsLotNumber" placeholder="제조번호" />
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">
									<label for="goodsAmount">상품수량</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										<select class="dropdown btn btn-primary required-form" id="dropdownMenuButton">
											<option value="">:: 상품수량 분류 ::</option>
											<option value="currentStockAmount">재고량</option>
											<option value="unusualStockAmount">비정상재고량</option>
											<option value="finalStockAmount">출고가능수량</option>
										</select>
										<div class="col-auto">
											<input type="number"
												class="form-control number-input"
												id="minGoodsAmount" min="0" name="goodsAmount"
												placeholder="최소 수량" />
										</div>
										~
										<div class="col-auto">
											<input type="number"
												class="form-control number-input"
												id="maxGoodsAmount" min="0" name="goodsAmount"
												placeholder="최대 수량" />
										</div>개
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">
									<label for="stocktakingCheck">재고조사 현황</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" id="allStatus" name="status" value="allStatus" checked>
										      <span class="text">전체</span>&nbsp;&nbsp;
									      </label>
									    </div>
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" id="endStatus" name="status" value="endStatus">
										      <span class="text">완료</span>&nbsp;&nbsp;
									      </label>
									    </div>
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" id="undoneStatus" name="status" value="undoneStatus">
										      <span class="text">미완료</span>
									      </label>
									</div>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										<div class="form-row align-items-center search-schedule">
											<button class="btn btn-secondary">
												<span class="text text-gray-100">오늘</span>
											</button>
										</div>
										<div class="form-row align-items-center search-schedule">
											<button class="btn btn-secondary">
												<span class="text text-gray-100">1개월</span>
											</button>
										</div>
										<div class="form-row align-items-center search-schedule">
											<button class="btn btn-secondary">
												<span class="text text-gray-100">1년</span>
											</button>
										</div>
										<div class="form-row align-items-center search-schedule">
											<button class="btn btn-primary">
												<span class="text text-gray-100">전체</span>
											</button>
											&nbsp;
										</div>
										<div class="col-auto">
											<label for="start-date" class="sr-only">시작일</label>
											<input type="date" id="start-date" class="form-control"
												placeholder="시작일">
										</div>
										~
										<div class="col-auto">
											<label for="end-date" class="sr-only">종료일</label>
											<input type="date" id="end-date" class="form-control" placeholder="종료일">
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">
									<label for="unusualStockAmount">비정상재고</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" id="allUnusualStock" name="unusualStock" value="allUnusualStock" checked>
										      <span class="text">전체</span>&nbsp;&nbsp;
									      </label>
									    </div>
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" id="existUnsual" name="unusualStock" value="existUnsual">
										      <span class="text">유</span>&nbsp;&nbsp;
									      </label>
									    </div>
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" id="notExistUnsual" name="unusualStock" value="notExistUnsual">
										      <span class="text">무</span>
									      </label>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div align="center">
						<button type="submit" id="searchBtn" class="btn btn-primary btn-icon-split">
							<span class="icon text-white-50"><i class="fas fa-check"></i></span>
							<span class="text">검색</span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-body">
				<div class="table-responsive overflow-x">
					<table class="table table-bordered text-center table-layout-auto table-space" id="dataTable" width="100%" cellspacing="0">
						<thead class="bg-gray-100">
							<tr>
								<th><input type="checkbox" id="allCheck"></th>
								<th>No</th>
								<th>상품명</th>
								<th>제조번호</th>
								<th>제조사</th>
								<th>상품 유통기한</th>
								<th>재고조사 여부</th>
								<th>재고조사일</th>
								<th>현재고량</th>
								<th>비정상재고 유무</th>
								<th>비정상재고량</th>
								<th>출고가능수량</th>
								<th>수정</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:unless="${stockList == null}" th:each=" l : ${stockList}">
								<th:block th:unless="${l.goodsInfo == null}"  th:each="gl, status : ${l.goodsInfo}">
									<tr>
										<td><input class="checks" type="checkbox" th:value="${l.goodsStockCode}"></td>
										<th th:text="${lStat.count}"></th>
										<td th:text="${gl.goodsName}"></td>
										<td th:text="${l.goodsLotNumber}"></td>
										<td th:text="${gl.goodsCompany}"></td>
										<td th:text="${l.goodsExprityDate}"></td>
										<td th:if="${l.stocktakingCheck == '1'}">완료</td>
										<td th:unless="${l.stocktakingCheck == '1'}">미완료</td>
										<td th:text="${l.stocktakingDate}"></td>
										<td th:text="${l.currentStockAmount}"></td>
										<td th:if="${l.unusualStockCheck == '1'}">유</td>
										<td th:if="${l.stocktakingCheck == '0'} and ${l.unusualStockCheck == '0'}">재고조사 미진행</td>
										<td th:if="${l.stocktakingCheck == '1'} and ${l.unusualStockCheck == '0'}">무</td>
										<td th:text="${l.unusualStockAmount}"></td>
										<td th:text="${l.finalStockAmount}"></td>
										<td>
											<a class="btn btn-secondary btn-icon-split btn-sm"
												th:href="@{/admin/stock/modify_stock(goodsStockCode=${l.goodsStockCode})}">
												<span class="text">수정</span>
											</a>
										</td>
									</tr>
									<tr th:if="${stockList == null}">
										<td colspan="12">등록된 상품 재고 정보가 없습니다.</td>
									</tr>
								</th:block>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i>
	</a>

	<!-- /.container-fluid -->
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i>
	</a>


</th:block>

<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/js/custom/kgr9.js}"></script>
	<script th:inline="javascript">
		/**
		 * 상품분류 select box value 값 -> input value로 넣기
		 */
		function goodsCate(category) {
			const selectInput = document.querySelector('#goodsCategory');
			selectInput.value = category;
		};
		
		/**
		* 전체 선택
		*/
		$('#allCheck').click(function () {
			$('.checks').prop('checked', $(this).prop('checked'));
		});
		$('.checks').click(function () {
			let length = $('.checks').length;
			let checkedLength = $('.checks:checked').length;
			if (length == checkedLength) {
				$('#allCheck').prop('checked', true);
			} else {
				$('#allCheck').prop('checked', false);
			}
		});
	</script>
</th:block>

</html>