<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	<link href="/css/admin_kgr9.css" rel="stylesheet">
	<!-- daterangepicker -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Begin Page Content -->

		<!-- Page Heading -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">상품 재고 조회</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered search-table-gr" id="searchTable">
						<tbody>
							<tr>
								<th class="bg-gray-100">검색 조건</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										 <select class="dropdown btn btn-primary required-form" id="inputSearchKey">
											<option value="" selected>:: 검색 조건 ::</option>
											<option value="goodsName">상품명</option>
											<option value="goodsLotNumber">제조번호</option>
											<option value="goodsCompany">제조사</option>
										</select>
									</div>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										<input type="text" class="form-control form-control-user-search short-input"
											id="inputSearchValue" placeholder="검색어를 입력해주세요." />
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">
									<label for="stocktakingCheck">재고조사</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" name="stocktakingCheck" checked>
										      <span class="text">전체</span>&nbsp;&nbsp;
									      </label>
									    </div>
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" name="stocktakingCheck">
										      <span class="text">완료</span>&nbsp;&nbsp;
									      </label>
									    </div>
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" name="stocktakingCheck">
										      <span class="text">미완료</span>
									      </label>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">
									<label for="unusualStockCheck">비정상재고</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" name="unusualStockCheck" checked>
										      <span class="text">전체</span>&nbsp;&nbsp;
									      </label>
									    </div>
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" name="unusualStockCheck">
										      <span class="text">유</span>&nbsp;&nbsp;
									      </label>
									    </div>
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" name="unusualStockCheck">
										      <span class="text">무</span>
									      </label>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">기간 검색</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										 <select class="dropdown btn btn-primary required-form" id="dateSearchKey">
											<option value="">:: 기간 분류 ::</option>
											<option value="goodsExprityDate">상품유통기한</option>
											<option value="stocktakingDate">재고조사일</option>
										</select>
									</div>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										<button class="btn btn-primary" id="allDateBtn">
											<span class="text text-gray-100">전체</span>
										</button>
									</div>
									<div class="form-row align-items-center search-schedule">
										<button class="btn btn-secondary" id="todayBtn">
											<span class="text text-gray-100">오늘</span>
										</button>
									</div>
									<div class="form-row align-items-center search-schedule">
										<button class="btn btn-secondary" id="oneweekBtn">
											<span class="text text-gray-100">일주일</span>
										</button>
									</div>
									<div class="form-row align-items-center search-schedule">
										<button class="btn btn-secondary" id="oneMonthBtn">
											<span class="text text-gray-100">1개월</span>
										</button>
									</div>
									&nbsp;
									<div class="form-row align-items-center search-schedule">
										<div class="col-auto">
											<input type="text" id="daterange" class="form-control short-input">
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div align="center">
						<button type="submit" id="searchBtn" class="btn btn-primary btn-icon-split">
							<span class="icon text-white-50"><i class="fas fa-check"></i></span>
							<span class="text">검색</span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered text-center table-layout-auto table-space tb-sm" id="dataTable">
						<thead class="bg-gray-100">
							<tr>
								<th>No</th>
								<th>상품재고코드</th>
								<th>상품명</th>
								<th>제조번호</th>
								<th>제조사</th>
								<th>상품 유통기한</th>
								<th>재고조사 여부</th>
								<th>재고조사일</th>
								<th>현재고량</th>
								<th>비정상재고 유무</th>
								<th>비정상재고량</th>
								<th>출고가능수량</th>
								<th>수정</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:unless="${stockList == null}" th:each=" l : ${stockList}">
								<th:block th:unless="${l.goodsInfo == null}"  th:each="gl : ${l.goodsInfo}">
									<tr>
										<th th:text="${lStat.count}"></th>
										<td>
											<a th:text="${l.goodsStockCode}"
												th:href="@{modify_stock(goodsStockCode=${l.goodsStockCode})}"></a>
										</td>
										<td th:text="${gl.goodsName}"></td>
										<td th:text="${l.goodsLotNumber}"></td>
										<td th:text="${gl.goodsCompany}"></td>
										<td th:text="${l.goodsExpiryDate}"></td>
										<td th:if="${l.stocktakingCheck == true}">완료</td>
										<td th:unless="${l.stocktakingCheck == true}">미완료</td>
										<td th:text="${l.stocktakingDate}"></td>
										<td th:text="${l.currentStockAmount}"></td>
										<td th:if="${l.unusualStockCheck == true}">유</td>
										<td th:if="${l.stocktakingCheck == false} and ${l.unusualStockCheck == false}">무</td>
										<td th:if="${l.stocktakingCheck == true} and ${l.unusualStockCheck == false}">무</td>
										<td th:text="${l.unusualStockAmount}"></td>
										<td th:text="${l.finalStockAmount}"></td>
										<td>
											<a class="btn btn-secondary btn-icon-split btn-sm"
												th:href="@{modify_stock(goodsStockCode=${l.goodsStockCode})}">
												<span class="text">수정</span>
											</a>
										</td>
									</tr>
									<tr th:if="${stockList == null}">
										<td colspan="11">등록된 상품 재고 정보가 없습니다.</td>
									</tr>
								</th:block>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</th:block>

<th:block layout:fragment="customJs">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<!-- Page level plugins -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/js/custom/kgr9.js}"></script>
	<script th:inline="javascript">
		$(function(){
			
			// 재고 검색 결과 조회
			$(document).on('click', '#searchBtn', function(){
				
				// 검색 조건 선택된 값 가져오기
			    let inputSearchKey = $('#inputSearchKey option:selected').attr('value');
			    let inputSearchValue = $('#inputSearchValue').val();
	
			 	// 재고조사 stocktakingCheck 선택된 값 가져오기
				let stocktakingKey = $('input[name="stocktakingCheck"]:checked').attr('name');
				let stocktakingValue = $('input[name="stocktakingCheck"]:checked').next('span.text').text();
				
				// 비정상재고 unusualStockCheck 선택된 값 가져오기
				let unusualStockKey = $('input[name="unusualStockCheck"]:checked').attr('name');
				let unusualStockValue = $('input[name="unusualStockCheck"]:checked').next('span.text').text();
	
				// 기간 분류 선택된 값 가져오기
			    let dateSearchKey = $('#dateSearchKey option:selected').val();
				
			    // 기간 검색 Date Range Picker에서 선택된 값 가져오기
			    let startDate = $('#daterange').data('daterangepicker').startDate.format('YYYY-MM-DD');
				let endDate = $('#daterange').data('daterangepicker').endDate.format('YYYY-MM-DD');
				
				let url = '/admin/stock/search_stock_list';
				
				let request = $.ajax({
					type: 'GET',
				    url: url,
				    dataType: 'json',
				    data:{
					      'inputSearchKey': inputSearchKey,
					      'inputSearchValue': inputSearchValue,
					      'stocktakingKey': stocktakingKey,
					      'stocktakingValue': stocktakingValue,
					      'unusualStockKey': unusualStockKey,
					      'unusualStockValue': unusualStockValue,
					      'dateSearchKey': dateSearchKey,
					      'startDate': startDate,
						  'endDate': endDate
					},
					success : function(data){
						//테이블 초기화
						$('#dataTable > tbody').empty();
						let html = '';
						let count = 1;
						if(data != null && data.length > 0){
							const stockList = data;
							for(const stockInfo of stockList){
								html += '<tr>';
								html += `	<th>${count++}</th>`;
								html += `	<td>
												<a href="/admin/stock/modify_stock?goodsStockCode=${stockInfo.goodsStockCode}">
													${stockInfo.goodsStockCode}</a>
											</td>`;
								html += `	<td>${stockInfo.goodsInfo.goodsName}</td>`;
								html += `	<td>${stockInfo.goodsLotNumber}</td>`;
								html += `	<td>${stockInfo.goodsInfo.goodsCompany}</td>`;
								html += `	<td>${stockInfo.goodsExpiryDate}</td>`;
								if(stockInfo.stocktakingCheck == '1'){
									html += `	<td>완료</td>`;
								}else{
									html += `	<td>미완료</td>`;
								}
								html += `	<td>${stockInfo.stocktakingDate}</td>`;
								html += `	<td>${stockInfo.currentStockAmount}</td>`;
								if(stockInfo.unusualStockCheck == '1'){
									html += `	<td>유</td>`;
								}else if(stockInfo.stocktakingCheck == '0' && stockInfo.unusualStockCheck == '0'){
									html += `	<td>무</td>`;
								}else if(stockInfo.stocktakingCheck == '1' && stockInfo.unusualStockCheck == '0'){
									html += `	<td>무</td>`;
								}
								html += `	<td>${stockInfo.unusualStockAmount}</td>`;
								html += `	<td>${stockInfo.finalStockAmount}</td>`;
								html += `<td>
											<a class="btn btn-secondary btn-icon-split btn-sm"
												href="/admin/stock/modify_stock?goodsStockCode=${stockInfo.goodsStockCode}">
												<span class="text">수정</span>
											</a>
										</td>`;
								html += '</tr>';
							};
						}else{
							html += '<tr>';
							html += '	<td colspan="11">검색된 상품 재고 정보가 없습니다.</td>';
							html += '</tr>';
						}
						$('#dataTable > tbody').append(html);
						$('#dataTable').DataTable();
					}
				})
				request.fail(function(jqXHR, textStatus){
					alert(`Request failed: ${textStatus}`);
				});
			});
	
		});
	</script>
</th:block>

</html>