<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	<link href="/css/admin_kgr9.css" rel="stylesheet">
	<!-- daterangepicker -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Begin Page Content -->

		<!-- Page Heading -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">상품 재고 조회</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered search-table-gr" id="searchTable" width="100%" cellspacing="0">
						<tbody>
							<tr>
								<th class="bg-gray-100">
									<label for="search">검색 조건</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										 <select class="dropdown btn btn-primary required-form" id="searchKey">
											<option value="" selected>:: 검색 조건 ::</option>
											<option value="goodsName">상품명</option>
											<option value="goodsCompany">제조사</option>
											<option value="goodsLotNumber">제조번호</option>
										</select>
									</div>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										<input type="text" class="form-control form-control-user-search short-input"
											id="searchValue" placeholder="검색어를 입력해주세요." />
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">
									<label for="stocktakingCheck">재고조사 현황</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" id="allStatus" name="status" value="allStatus" checked>
										      <span class="text">전체</span>&nbsp;&nbsp;
									      </label>
									    </div>
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" id="endStatus" name="status" value="endStatus">
										      <span class="text">완료</span>&nbsp;&nbsp;
									      </label>
									    </div>
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" id="undoneStatus" name="status" value="undoneStatus">
										      <span class="text">미완료</span>
									      </label>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">
									<label for="unusualStockAmount">비정상재고</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" id="allUnusualStock" name="unusualStock" value="allUnusualStock" checked>
										      <span class="text">전체</span>&nbsp;&nbsp;
									      </label>
									    </div>
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" id="existUnsual" name="unusualStock" value="existUnsual">
										      <span class="text">유</span>&nbsp;&nbsp;
									      </label>
									    </div>
										<div class="form-row align-items-center search-schedule">
									      <label>
										      <input type="radio" id="notExistUnsual" name="unusualStock" value="notExistUnsual">
										      <span class="text">무</span>
									      </label>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">기간 검색</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										 <select class="dropdown btn btn-primary required-form" id="dateSearchKey">
											<option value="">:: 기간 분류 ::</option>
											<option value="goodsExprityDate">상품유통기한</option>
											<option value="stocktakingDate">재고조사일</option>
										</select>
									</div>
									<div class="form-row align-items-center search-schedule">
										&nbsp;
										<button class="btn btn-primary" id="allDateBtn">
											<span class="text text-gray-100">전체</span>
										</button>
									</div>
									<div class="form-row align-items-center search-schedule">
										<button class="btn btn-secondary" id="todayBtn">
											<span class="text text-gray-100">오늘</span>
										</button>
									</div>
									<div class="form-row align-items-center search-schedule">
										<button class="btn btn-secondary" id="oneweekBtn">
											<span class="text text-gray-100">일주일</span>
										</button>
									</div>
									<div class="form-row align-items-center search-schedule">
										<button class="btn btn-secondary" id="oneMonthBtn">
											<span class="text text-gray-100">1개월</span>
										</button>
									</div>
									&nbsp;
									<div class="form-row align-items-center search-schedule">
										<div class="col-auto">
											<input type="text" id="daterange" class="form-control short-input">
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div align="center">
						<button type="submit" id="searchBtn" class="btn btn-primary btn-icon-split">
							<span class="icon text-white-50"><i class="fas fa-check"></i></span>
							<span class="text">검색</span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered text-center table-layout-auto table-space" id="dataTable" width="100%" cellspacing="0">
						<thead class="bg-gray-100">
							<tr>
								<th><input type="checkbox" id="allCheck"></th>
								<th>No</th>
								<th>상품재고코드</th>
								<th>상품명</th>
								<th>제조번호</th>
								<th>제조사</th>
								<th>상품 유통기한</th>
								<th>재고조사 여부</th>
								<th>재고조사일</th>
								<th>현재고량</th>
								<th>비정상재고 유무</th>
								<th>비정상재고량</th>
								<th>출고가능수량</th>
								<th>수정</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:unless="${stockList == null}" th:each=" l : ${stockList}">
								<th:block th:unless="${l.goodsInfo == null}"  th:each="gl : ${l.goodsInfo}">
									<tr>
										<td><input class="checks" type="checkbox" th:value="${l.goodsStockCode}"></td>
										<th th:text="${lStat.count}"></th>
										<td>
											<a th:text="${l.goodsStockCode}"
												th:href="@{modify_stock(goodsStockCode=${l.goodsStockCode})}"></a>
										</td>
										<td th:text="${gl.goodsName}"></td>
										<td th:text="${l.goodsLotNumber}"></td>
										<td th:text="${gl.goodsCompany}"></td>
										<td th:text="${l.goodsExprityDate}"></td>
										<td th:if="${l.stocktakingCheck == '1'}">완료</td>
										<td th:unless="${l.stocktakingCheck == '1'}">미완료</td>
										<td th:text="${l.stocktakingDate}"></td>
										<td th:text="${l.currentStockAmount}"></td>
										<td th:if="${l.unusualStockCheck == '1'}">유</td>
										<td th:if="${l.stocktakingCheck == '0'} and ${l.unusualStockCheck == '0'}">재고조사 미진행</td>
										<td th:if="${l.stocktakingCheck == '1'} and ${l.unusualStockCheck == '0'}">무</td>
										<td th:text="${l.unusualStockAmount}"></td>
										<td th:text="${l.finalStockAmount}"></td>
										<td>
											<a class="btn btn-secondary btn-icon-split btn-sm"
												th:href="@{modify_stock(goodsStockCode=${l.goodsStockCode})}">
												<span class="text">수정</span>
											</a>
										</td>
									</tr>
									<tr th:if="${stockList == null}">
										<td colspan="12">등록된 상품 재고 정보가 없습니다.</td>
									</tr>
								</th:block>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</th:block>

<th:block layout:fragment="customJs">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<!-- Page level plugins -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/js/custom/kgr9.js}"></script>
	<script th:inline="javascript">
		$(function(){
			
			/**
			* 재고 검색 결과 조회
			*/
			$('#searchBtn').click(function(){
				
				// select box에서 선택된 값을 가져오기
			    let searchKey = $('#searchKey option:selected').attr('value');
			    let searchValue = $('#searchValue').val();
	
			    // radio 버튼에서 선택된 값을 가져오기
			  	const radioNameArr = [];
				const radioValueArr = [];
				$('input[type="radio"]:checked').each(function() {
					radioNameArr.push($(this).attr('name'));
					radioValueArr.push($(this).val());
				});
	
			    // Date Range Picker에서 선택된 값을 가져오기
			    let dateSearchKey = $('#dateSearchKey  option:selected').attr('value');
			    let startDate = $('#daterange').data('daterangepicker').startDate.format('YYYY-MM-DD');
				let endDate = $('#daterange').data('daterangepicker').endDate.format('YYYY-MM-DD');
				let url = '/admin/stock/search_stock_List';
				
				let request = $.ajax({
					type: 'GET',
				    url: url,
				    dataType: 'json',
				    data:{
					      'searchKey': searchKey,
					      'searchValue': searchValue,
					      'radioNameArr': radioNameArr,
					      'radioValueArr': radioValueArr,
					      'dateSearchKey': dateSearchKey,
					      'startDate': startDate,
						  'endDate': endDate
					},
				    //contentType: 'application/json; charset=UTF-8',
					success : function(data){
						//테이블 초기화
						$('#dataTable > tbody').empty();
						let html = '';
						let count = 1;
						if(data != null && data.length > 0){
							const stockList = data;
							for(const stockInfo of stockList){
								html += '<tr>';
								html += `	<td><input class="checks" type="checkbox" value="${stockInfo.stockCode}"></td>`;
								html += `	<th>${count++}</th>`;
								html += `	<td>
												<a href="/admin/stock/modify_stock?stockCode=${stockInfo.stockCode}">
													${stockInfo.stockCode}</a>
											</td>`;
								html += `	<td>${stockInfo.foundationName}</td>`;
								html += `	<td>${stockInfo.contentCategory}</td>`;
								html += `	<td>${stockInfo.requestGoodsName}</td>`;
								html += `	<td>${stockInfo.requestProgressStatus}</td>`;
								html += `	<td>${stockInfo.initialGoodsAmount}</td>`;
								if(stockInfo.finalGoodsAmount == null){
									html += `	<td>미정</td>`;
								}else{
									html += `	<td>${stockInfo.finalGoodsAmount}</td>`;
								}
								html += `	<td>${stockInfo.deliveryRequestDate}</td>`;
								if(stockInfo.requestUpdDate == null){
									html += `	<td>${stockInfo.requestRegDate}</td>`;
								}else{
									html += `	<td>${stockInfo.requestUpdDate} (수정)</td>`;
								}
								html += `<td>
											<a class="btn btn-secondary btn-icon-split btn-sm"
												href="/admin/stock/modify_stock?stockCode=${stockInfo.stockCode}">
												<span class="text">수정</span>
											</a>
										</td>`;
								html += '</tr>';
							};
						}else{
							html += '<tr>';
							html += '	<td colspan="12">검색된 상품 재고 정보가 없습니다.</td>';
							html += '</tr>';
						}
						$('#dataTable > tbody').append(html);
						$('#dataTable').DataTable();
					}
				})
				request.fail(function(jqXHR, textStatus){
					alert(`Request failed: ${textStatus}`);
				});
			});
	
			/**
			* 전체 선택
			*/
			$('#allCheck').click(function () {
				$('.checks').prop('checked', $(this).prop('checked'));
			});
			$('.checks').click(function () {
				let length = $('.checks').length;
				let checkedLength = $('.checks:checked').length;
				if (length == checkedLength) {
					$('#allCheck').prop('checked', true);
				} else {
					$('#allCheck').prop('checked', false);
				}
			});
		});
	</script>
</th:block>

</html>