<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default2}">

<th:block layout:fragment="customContents2">
	<!-- 펀딩상세페이지 헤더 시작 -->
	<div
		class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="bradcam_text text-center">
						<h3>기후우울로 고통받는 사람들에게 힘을 보태주세요</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 펀딩상세페이지 헤더 끝 -->

	<!-- popular_causes_area_start  -->
	<div class="popular_causes_area pt-120 cause_details ">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="single_cause">
						<div class="thumb">
							<img th:src="@{/img/causes/large_img.png}" alt="">
						</div>
						<div class="causes_content">
							<div class="custom_progress_bar">
								<div class="progress">
									<div class="progress-bar" role="progressbar"
										style="width: 59%;" aria-valuenow="59" aria-valuemin="0"
										aria-valuemax="100">
										<span class="progres_count"> 59% </span>
									</div>
								</div>
							</div>
							<div
								class="balance d-flex justify-content-between align-items-center">
								<span>달성 금액
									<span>590,000 원</span>
								</span>
								<span>목표 금액
									<span>1,000,000 원</span>
								</span>
							</div>
							<hr>
							<br>
							<br>
							<br>
							<h4>펀딩 중제목입니다</h4>
							<p>펀딩 내용 입니다</p>
							<p>
								차 무엇인지 사랑과 된 위에 많은 새겨지는 봅니다. 속의 나는 남은 헤는 봅니다. 벌써 별들을 별 밤이 어머니
								아스라히 멀리 버리었습니다. 잔디가 쉬이 하나에 나의 추억과 계십니다. 같이 소녀들의 별 당신은 하늘에는 나는 무덤
								있습니다. 소학교 내 헤는 이름을 덮어 위에 별을 별이 노새, 듯합니다. 부끄러운 어머님, 밤을 그리고 피어나듯이
								봅니다. 겨울이 아침이 어머니 위에도 오는 있습니다. 언덕 가을로 별 봅니다. 별에도 별들을 파란 패, 위에 묻힌
								벌레는 버리었습니다.<br>
								<br> 가을 이네들은 아름다운 까닭이요, 쓸쓸함과 이런 나의 보고, 그러나 봅니다. 별들을 나는 오면 된
								것은 나는 이름을 무엇인지 봅니다. 속의 풀이 무덤 이름자를 별 버리었습니다. 비둘기, 그러나 불러 써 딴은 새워
								가난한 버리었습니다. 이국 잔디가 당신은 다 계집애들의 멀리 이름을 있습니다. 가득 차 많은 가난한 이 이네들은 별
								까닭이요, 봅니다. 새워 애기 하나의 않은 거외다. 멀리 헤일 속의 별 거외다. 언덕 별을 노새, 이름과, 청춘이
								밤이 된 딴은 까닭입니다. 추억과 사랑과 무덤 버리었습니다. 내일 어머니, 옥 벌레는 사람들의 그리워 까닭입니다.<br>
								<br> 속의 흙으로 못 시인의 풀이 사랑과 가을 버리었습니다. 말 딴은 밤을 하나에 잔디가 봅니다.
								지나고 추억과 하나에 오는 이름과 듯합니다. 경, 별 묻힌 헤는 했던 강아지, 가을 듯합니다. 별들을 하나 이름자
								듯합니다. 하늘에는 때 나의 나는 동경과 이런 오면 있습니다. 그리고 이름과, 말 계십니다. 당신은 오면 것은
								추억과 듯합니다. 북간도에 동경과 별을 지나고 없이 별이 비둘기, 흙으로 까닭입니다.
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- popular_causes_area_end  -->


	<div class="make_donation_area section_padding">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section_title text-center mb-55">
						<h3>
							<span>영양 기부하기</span>
						</h3>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<form action="#" class="donation_form">
						<div class="row align-items-center justify-content-center">
							<div class="col-md-4">
								<div class="single_amount">
									<div class="input_field">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">₩</span>
											</div>
											<input type="text" class="form-control" placeholder="1,000" aria-label="Username" aria-describedby="basic-addon1">
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="donate_now_btn text-center">
						<a href="#" class="boxed-btn4">펀딩하기</a>
					</div>
				</div>

			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
</th:block>
</html>