<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title th:text="${title}"></title>

	<!-- Custom fonts for this template-->
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	<link
		th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body class="bg-gradient-success">

	<div class="container">
		 <div class="login_logo">	
		 	<a class="sidebar-brand d-flex align-items-center justify-content-center login_logo" th:href="@{/common/funding_index}">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-capsules"></i>
				</div>
				<div class="sidebar-brand-text mx-3">Pilling Good</div>
			</a>
		</div>	
		<!-- Outer Row -->
		<div class="row justify-content-center">
			
			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">어서오세요 필링굿입니다</h1>
									</div>

									<form id="loginForm" th:action="@{/common/login}" method="post" class="user">
										<div class="form-group">
											<label for="userId">아이디</label>
											<input type="text" class="form-control form-control-user" id="userId" value="useridm1" 
												name="userId" placeholder="아이디" required>
										</div>
										<div class="form-group">
											<label for="userPw">비밀번호</label>
											<input type="password" class="form-control form-control-user" id="userPw" value="pwmaster1" 
												name="userPw" placeholder="비밀번호" required>
										</div>
										<div class="form-group">
											<div class="custom-control custom-checkbox small">
												<input type="checkbox" class="custom-control-input" id="autoLogin"
													name="autoLogin" value="true">
												<label class="custom-control-label" for="autoLogin">로그인 상태 유지</label>
												<p>
													로그인 상태 유지는 로그인 정보가 로그인 시점으로부터 일주일간 쿠키에 담겨 유지됩니다.
												</p>
											</div>
										</div>
										<a id="submitBtn" class="btn btn-success btn-user btn-block">
											로그인
										</a>
									</form>

									<hr>
									<div class="text-center">
										<a class="small" th:href="@{/common/forgot-password}">비밀번호 찾기</a>
									</div>
									<div class="text-center">
										<a class="small" th:href="@{/common/register}">회원가입</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>
	<script type="text/javascript" th:inline="javascript">
		let result = [[${result}]];
		if(result) alert(result);

		const validationFn = (ele) => {
			let value = $(ele).val();
			let result = true;
			if(typeof value == 'undefined' || value == null ||
					  value == '' || /\s{1,}/.test(value)){
				let msg = $(ele).parents('.form-group').find('label').text();
				alert(`${msg}를 입력해주세요`);
				$(ele).val('');
				$(ele).focus();
				result = false;
			}
			return result;
		}
		$('#submitBtn').click(function(){
			let isSubmit = true;
			
			const $inputEle = $('#loginForm input');
			
			$inputEle.each(function(idx, item){
				console.log(item);
				isSubmit = validationFn(item);
				return isSubmit;
			});
			
			if(isSubmit) $('#loginForm').submit();
		});



		/*
		   let result = [[${result}]];
		if(result) alert(result);
		
		const validationFn = ele => {
			let value = $(ele).val().trim();
			let result = true;
			if(typeof value == 'undefined' || value == null || value == ''){
				let msg = $(ele).parents('tr').find('label').text();
				alert(`${msg} 입력해주세요`);
				$(ele).val('');
				$(ele).focus();
				result = false;
			}
			return result;
		}
		$('#submitBtn').click(function(){
			let isSubmit = true;
			
			const $inputEle = $('#loginForm input');
			
			$inputEle.each(function(idx, item){
				isSubmit = validationFn(item);
				return isSubmit;
			});
			
			if(isSubmit) {
				const userIdEle = $('#userId');
				let userId = userIdEle.val();
				const userPwEle = $('#userPw');
				let userPw = userPwEle.val();
		
		$.ajax({
			type : 'POST',
			url : '/common/login', // 컨트롤러나 서비스의 URL
			data : {
				'userId' : userId,
				'userPw' : userPw

			}, // 입력된 데이터를 전송

			success: function(data) {
				 // 로그인 성공시
				alert(data.message);
				// TODO: 로그인 성공 후 메인화면으로 이동하는 코드 추가
				window.location.href = '/'; // 예시로 메인 화면 URL로 이동하는 코드
			},
			error: function(xhr, status, error) {
				// 로그인 실패시
				alert('로그인에 실패하였습니다. 아이디와 비밀번호를 확인해주세요');
				// TODO: 로그인 실패시 다시 로그인할 수 있도록 하는 코드 추가
				userIdEle.val(''); // 아이디 입력란 비우기
				userPwEle.val(''); // 비밀번호 입력란 비우기
				userIdEle.focus(); // 아이디 입력란으로 포커싱 이동
			}
		});
	}
});
		// 입력란이 변경될 때 실행될 이벤트 핸들러
				$('#userId, #userPw').change(
				  function() {
					// 입력란이 변경될 때 다른 입력 요소들을 비활성화
					$('#loginForm input').not('#userId, #userPw').prop('disabled', true);
					$('#loginForm button').not('#submitBtn').prop('disabled', true);
					$('#loginForm select').prop('disabled', true);
				  }
);	*/

	</script>
</body>

</html>