<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default3}">
<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	
	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<th:block layout:fragment="customContents">
	
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">정기후원 결제수단</h1>
			<p class="mb-4"> </p>

		<!-- DataTales Example -->
		
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">자주쓰는 결제수단</h6>
			</div>
			<div class="card-body overflow-x">
				<div class="table-responsive">
					<table class="table table-bordered text-center table-layout-auto table-space" id="dataTable" width="100%" cellspacing="0">
						<thead class="bg-gray-100" >
                            <tr>
                                         
                                <th>결제코드</th>
                                <th>결제수단</th>
                                <th>은행명</th>
								<th>계좌번호</th>
                                                              
                            </tr>
                        </thead>    
						<tbody>
							<tr th:unless="${getDonationPayMethod == null}" th:each=" l : ${getDonationPayMethod}">
									<td th:text="${l.donationPayMethodCode}"></td>
									<td>
									<div
										th:if="${l.paymentCode == 'pm_account'}">자동이체</div>
									</td>
									<td th:text="${l.donationPayMethodBank}"></td>
									<td th:text="${l.donationPayMethodAccount}"></td>
									
									
								
	
									
							</tr>
							<tr th:if="${getDonationPayMethod == null}">
								<td colspan="6">데이터가 존재하지 않습니다.</td>				
							</tr>							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
	
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
</th:block>

<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>


	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
</th:block>
</html>