<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default3}">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<!-- Custom styles for this template -->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">
</head>

<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- Page Heading -->

		<p class="mb-4"></p>

		<!-- DataTales Example -->

		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-success">펀딩 결제 내역 조회</h6>
			</div>
			<div class="card-body overflow-x">
				<div class="table-responsive">
					<table
						class="table table-bordered text-center table-layout-auto table-space"
						id="dataTable" width="100%" cellspacing="0">
						<thead class="bg-gray-100">

							<tr>

								<th>주문일(결제일)</th>
								<th>결제코드</th>
								<th>펀딩명</th>
								<th>재단명</th>
								<th>펀딩금액</th>
							</tr>
						</thead>
						<tbody>
							<tr th:unless="${fundingPayList == null}"
								th:each="l : ${fundingPayList}">

								<td th:text="${l.fundingPaymentDate}"></td>
								<td><a th:text="${l.fundingPayCode}"
									th:href="@{detailFundingPay(fundingPayCode=${l.fundingPayCode})}"></a></td>
								<td>
									<div th:if="${l.fundingCode == 'funding1'}">뇌전증 환아들을 위한
										따뜻한 선물</div>
									<div th:if="${l.fundingCode == 'funding2'}">영양제로 장애아동들의
										면역력을 지켜주세요.</div>
									<div th:if="${l.fundingCode == 'funding3'}">영양제로 지역아동센터
										아동의 건강을 챙겨 주세요.</div>
									<div th:if="${l.fundingCode == 'funding4'}">요양원에 계시는
										어르신들의 면역력을 키워주세요.</div>
								</td>
								<td>
									<div th:if="${l.fundingCode == 'funding1'}">초록우산 어린이재단</div>
									<div th:if="${l.fundingCode == 'funding2'}">사단법인 따뜻한하루</div>
									<div th:if="${l.fundingCode == 'funding3'}">초록우산 어린이재단</div>
									<div th:if="${l.fundingCode == 'funding4'}">사단법인 따뜻한하루</div>
								</td>
								<td
									th:text="|${#numbers.formatInteger(l.fundingPaymentAmount, 3, 'COMMA')}원|"></td>

							</tr>
							<tr th:if="${fundingPayList == null}">
							</tr>
						</tbody>
					</table>
					<p th:text="${message}" style="text-align: center;"></p>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
</th:block>

<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>


	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:inline="javascript">
		/** 
		 * dataTable 기능 숨기기
		 */
		$("#dataTable").DataTable({
			// 표시 건수기능 숨기기
			lengthChange : false,
			// 정보 표시 숨기기
			//info: false,
			// 검색 기능 숨기기
			searching : false,
			// 정렬 기능 숨기기
			ordering : false
		});
	</script>
</th:block>
</html>