<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>	
	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin_khj.css}" />
	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
	

<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">		
		<form id="detailFundingPayForm" th:action="@{admin/funding/detailFundingPay}" method="post">
			<div class="card mb-4">
				<div class="card-header py-3">
			    	<h5 class="m-0 font-weight-bold text-gray-800">펀딩 결제 내역 상세 정보</h5>
			    </div>
				<div class="card-body">
					<div class="table-responsive">
						<div th:object="${fundingPayInfo}" id="fRegInfo">
							<ul>
								<li>
									펀딩결제일 :
									<input type="text" id="fundingPaymentDate" th:value="*{fundingPaymentDate}" name="fundingPaymentDate" style="border:none;" disabled="disabled"></input>			
								</li>
								<li>
									펀딩결제코드 :
									<input type="text" id="fundingPayCode" th:value="*{fundingPayCode}" name="fundingPayCode" style="border:none;" disabled="disabled"></input>			
								</li>																	
							</ul>										
						</div>
						<div>
							<div class="mTitle">
								<h2>참여한 펀딩 내역</h2>
							</div>
							<table th:object="${fundingPayInfo}" class="modify-table table table-bordered search-table" >
								<tbody>
									<tr>
										<th class="bg-gray-100">
											<label for="fundingCode">펀딩코드</label>
										</th>									
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" id="fundingCode" th:value="*{fundingCode}" name="fundingCode" class="form-control form-control-user-search search-input" disabled="disabled"/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="fundingName">펀딩명</label>
										</th>									
										<td>
											<div class="form-row align-items-center search-schedule" style="width: 500px;">
												<input type="text" id="fundingName" th:value="*{fundingName}" name="fundingName" class="form-control form-control-user-search search-input" disabled="disabled"/>
											</div>
										</td>
									</tr>	
									<tr>
										<th class="bg-gray-100">
											<label for="fundingFoundation">펀딩재단</label>
										</th>									
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" id="fundingFoundation" th:value="*{fundingFoundation}" name="fundingFoundation" class="form-control form-control-user-search search-input" disabled="disabled"/>
											</div>
										</td>
									</tr>	
									<tr>
										<th class="bg-gray-100">
											<label for="fundingProgress">펀딩 진행상태</label>
										</th>									
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" id="fundingProgress" th:value="*{fundingProgress}" name="fundingProgress" class="form-control form-control-user-search search-input" disabled="disabled"/>
											</div>
										</td>
									</tr>										
								</tbody>
							</table>
						</div>
						<div>
							<div class="mTitle">
								<h2>결제 정보</h2>
							</div>
							<table th:object="${fundingPayInfo}" class="modify-table table table-bordered search-table" id="searchTable" width="100%" cellspacing="0">							
							<tbody>																
								<tr>
									<th class="bg-gray-100">
										<label for="fundingPaymentAmount">펀딩금액</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="number" class="form-control form-control-user-search search-input" id="fundingPaymentAmount" th:value="*{fundingPaymentAmount}" name="fundingPaymentAmount" disabled="disabled"/>
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="pmName">결제수단</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="text" class="form-control form-control-user-search search-input" id="pmName" th:value="*{pmName}" name="pmName" disabled="disabled"/>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						</div>			
						<div>
							<div class="mTitle">
								<h2>결제 회원 정보</h2>
							</div>
							<table th:object="${fundingPayInfo}" class="modify-table table table-bordered search-table" id="searchTable" width="100%" cellspacing="0">							
							<tbody>																
								<tr>
									<th class="bg-gray-100">
										<label for="userId">회원ID</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="text" class="form-control form-control-user-search search-input" id="userId" th:value="*{userId}" name="userId" disabled="disabled"/>
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="userName">이름</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="text" class="form-control form-control-user-search search-input" id="userName" th:value="*{userName}" name="userName" disabled="disabled"/>
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="userPhone">연락처</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="text" class="form-control form-control-user-search search-input" id="userPhone" th:value="*{userPhone}" name="userPhone" disabled="disabled"/>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
						<div align="center">
							<button type="button" id="confirmBtn" class="btn btn-primary btn-icon-split">
								<span class="icon text-white-50"><i class="fas fa-check"></i></span>
								<span class="text">확인</span>
							</button>
							<button type="reset" class="cancelBtn btn btn-secondary btn-icon-split">
								<span class="icon text-white-50"><i class="fas fa-trash"></i></span>
								<span class="text">취소</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- /.container-fluid -->
	
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
</th:block>



<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/js/custom/khj.js}"></script>
</th:block>

</html>