<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>	
	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin_khj.css}" />
	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">		
		
		<div class="card mb-4">
			<div class="card-header py-3">
            	<h5 class="m-0 font-weight-bold text-gray-800">펀딩 수정</h5>
         	</div>
			<div class="card-body">
				<div class="table-responsive">
					<form id="modifyFundingForm" th:action="@{/funding/modifyFunding}" method="post">
					<table th:object="${fundingInfo}" class="table table-bordered search-table" id="searchTable" width="100%" cellspacing="0">
						<tbody>
							<tr>
								<th class="bg-gray-100">
									<label for="fundingCode">펀딩코드</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										<input type="text" class="form-control form-control-user-search search-input" id="fundingCode" th:value="*{fundingCode}" name="fundingCode" readonly="readonly"/>
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">
									<label for="fundingName">펀딩명</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										<input type="text" class="form-control form-control-user-search search-input" th:value="*{fundingName}" id="fundingName" name="fundingName" placeholder="펀딩명을 입력해주세요."/>										
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">
									<label for="fundingFoundation">재단 선택</label>
								</th>
								<td>									
									<div class="form-row align-items-center search-schedule">
										<select class="dropdown btn btn-primary dropdown-toggle"
											id="FundingFoundation" name="FundingFoundation" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false"  disabled="disabled">
											<th:block th:unless="${FoundationNameList == null}" th:each="l : ${FoundationNameList}">
												<option th:value="${l.fundingFoundation}" th:selected="${l.fundingFoundation} == *{foundationName}">[[${l.fundingFoundation}]]</option>
											</th:block>
											<th:block th:if="${FoundationNameList == null}">
												<option>등록된 재단 정보가 없습니다.</option>
											</th:block>
										</select>
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">
									<label for="goodsCode">상품코드</label>
								</th>
								<td>									
									<div class="form-row align-items-center search-schedule">
										<select class="dropdown btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="goodsCode" disabled="disabled">
											<th:block th:unless="${fundingList == null}" th:each="l : ${fundingList}">
												<option th:value="${l.fundingFoundation}">[[${l.goodsCode}]]</option>
											</th:block>
											<th:block th:if="${fundingList == null}">
												<option>등록된 상품 정보가 없습니다.</option>
											</th:block>
										</select>
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">
									<label for="fundingGoalAmount">목표 금액</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										<input type="number" class="form-control form-control-user-search search-input" id="fundingGoalAmount" th:value="*{fundingGoalAmount}" name="fundingGoalAmount" placeholder="금액을 입력해주세요." />
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">
									<label for="fundingStartDate">펀딩 시작일</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										<span id="fundingStartDate" th:text="*{fundingStartDate}" name="fundingStartDate" readonly="readonly"></span>
									</div>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">
									<label for="fundingEndDate">펀딩 종료일</label>
								</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										<span id="fundingEndDate" th:text="*{fundingEndDate}" name="fundingEndDate" readonly="readonly"></span>
									</div>
								</td>
							</tr>
							<tr>
								<td class="bg-gray-100">
									<label for="fundingProgress">진행 현황</label>
								</td>
								<td>
									<div class="form-row align-items-center search-schedule">
										<select class="form-control form-control-user-search search-input" id="fundingProgress" th:value="*{fundingProgress}" name="fundingProgress">
											 <option>대기중</option>
											 <option>진행중</option>
											 <option>진행완료</option>  
										</select>
									</div>									
								</td>
							</tr>
						</tbody>
					</table>
					<div align="center">
						<button type="submit" id="modifyBtn" class="btn btn-primary btn-icon-split">
							<span class="icon text-white-50"><i class="fas fa-check"></i></span>
							<span class="text">수정</span>
						</button>
						<button type="reset" id="cancelBtn" class="btn btn-secondary btn-icon-split">
							<span class="icon text-white-50"><i class="fas fa-trash"></i></span>
							<span class="text">취소</span>
						</button>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<!-- /.container-fluid -->
	
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
</th:block>



<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/js/custom/khj.js}"></script>
</th:block>

</html>