<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>	
	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin_khj.css}" />
	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
	

<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">		
		<form id="modifyFundingPayForm" th:action="@{admin/funding/modifyFundingPay}" method="post">
			<div class="card mb-4">
				<div class="card-header py-3">
			    	<h5 class="m-0 font-weight-bold text-gray-800">펀딩 결제 내역 조회</h5>
			    </div>
				<div class="card-body">
					<div class="table-responsive">						
						<table th:object="${fundingPayInfo}" class="table table-bordered search-table" id="searchTable" width="100%" cellspacing="0">
							<tbody>
								<tr>
									<th class="bg-gray-100">
										<label for="fundingPayCode">펀딩 결제코드</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="text" class="form-control form-control-user-search search-input" id="fundingPayCode" th:value="*{fp.fundingPayCode}" name="fundingPayCode"/>
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="userId">주문자 아이디</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="text" class="form-control form-control-user-search search-input" id="userId" th:value="*{fp.userId}" name="userId"/>
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="fundingCode">펀딩코드</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="text" class="form-control form-control-user-search search-input" id="fundingCode" th:value="*{fundingCode}" name="fundingCode"/>
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="fundingPaymentDate">결제일</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="datetime-local" class="form-control form-control-user-search search-input" id="fundingPaymentDate" th:value="*{fundingPaymentDate}" name="fundingPaymentDate" />
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="fundingPaymentAmount">펀딩금액</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="datetime-local" class="form-control form-control-user-search search-input" id="fundingPaymentAmount" th:value="*{fundingPaymentAmount}" name="fundingPaymentAmount" />
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="pmName">결제수단</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="text" class="form-control form-control-user-search search-input" id="pmName" th:value="*{pmName}" name="pmName" />
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div align="center">
							<button type="submit" id="modifyBtn" class="btn btn-primary btn-icon-split">
								<span class="icon text-white-50"><i class="fas fa-check"></i></span>
								<span class="text">수정</span>
							</button>
							<button type="reset" id="cancelBtn" class="btn btn-secondary btn-icon-split">
								<span class="icon text-white-50"><i class="fas fa-trash"></i></span>
								<span class="text">취소</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- /.container-fluid -->
	
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
</th:block>



<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/js/custom/khj.js}"></script>
</th:block>

</html>