<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>	
	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin_khj.css}" />
	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
	
<th:block layout:fragment="customContents">
	<div class="container-fluid">		
		<form id="modifyFundingForm" th:action="@{/admin/funding/modifyFunding}" method="post">
			<div class="card mb-4">
				<div class="card-header py-3">
			    	<h5 class="m-0 font-weight-bold text-gray-800">펀딩 정보 수정</h5>
			    </div>
				<div class="card-body">
					<div class="table-responsive">
						<div th:object="${fundingInfo}" id="fRegInfo">
							<ul>
								<li>
									펀딩등록일 :
									<input type="text" id="fundingRegDate" th:value="*{fundingRegDate}" name="fundingRegDate" style="border:none;" disabled="disabled"></input>			
								</li>
								<li>
									최종수정일 :
									<input type="text" id="fundingUpdateDate" th:value="*{fundingUpdateDate}" name="fundingUpdateDate" style="border:none;" disabled="disabled"></input>
									수정자 아이디 :
									<input type="text" id="fundingUpdateId" th:value="${session.SID}" name="fundingUpdateId" style="border:none;" readonly="readonly"></input>		
								</li>										
							</ul>										
						</div>						
						<table th:object="${fundingInfo}" class="modify-table table table-bordered search-table" id="searchTable" width="100%" cellspacing="0">
							<tbody>									
								<tr>
									<th class="bg-gray-100">
										<label for="fundingCode">펀딩코드</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<label th:text="*{fundingCode}"></label>
											<input type="hidden" id="fundingCode" th:value="*{fundingCode}" name="fundingCode" style="border: none;" class="form-control form-control-user-search search-input" />
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="fundingName">펀딩명</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule" style="width: 500px;">
											<input type="text" id="fundingName" th:value="*{fundingName}" name="fundingName" placeholder="펀딩명을 입력해주세요." class="form-control form-control-user-search search-input"/>										
										</div>
									</td>
								</tr>
								<tr>
			                        <th class="bg-gray-100">
										<label for="fundingSummary">요약 설명</label>
									</th>
				                	<td>
				                        <div class="form-row align-items-center search-schedule" style="width: 500px;">
				                        	<input type="text" id="fundingSummary" th:value="*{fundingSummary}" name="fundingSummary" class="form-control form-control-user-search search-input"></input>
				                    	</div>
				                	</td>
			            		</tr>				  
								<tr>
								<tr>
			                        <th class="bg-gray-100">
										<label for="fundingDescription">상세 내용</label>
									</th>
				                	<td>
				                        <div class="fundingDescription form-row align-items-center search-schedule">
				                        	<textarea id="fundingDescription" th:text="*{fundingDescription}" name="fundingDescription"></textarea>
				                    	</div>
				                	</td>
			            		</tr>				  
								<tr>
									<th class="bg-gray-100">
										<label for="fundingProgress">진행 상태</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<select class="dropdown btn btn-primary dropdown-toggle" id="fundingProgress" th:value="*{fundingProgress}" name="fundingProgress" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												 <th:block th:unless="${fundingProgressList == null}"  th:each="l : ${fundingProgressList}">
													<option th:value="${l.fundingProgress}" th:selected="${l.fundingProgress} == *{fundingProgress}">[[${l.fundingProgress}]]</option>
												</th:block>																				
											</select>
										</div>									
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="foundationName">재단 선택</label>
									</th>
									<td>									
										<div class="form-row align-items-center search-schedule">
											<select id="foundationName" th:value="*{foundationName}" name="foundationName" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  class="dropdown btn btn-primary dropdown-toggle">
												<th:block th:unless="${foundationNameList == null}" th:each="l : ${foundationNameList}">
													<option th:value="${l.foundationName}" th:selected="${l.foundationName} == *{foundationName}">[[${l.foundationName}]]</option>
												</th:block>
												<th:block th:if="${foundationNameList == null}">
													<option>등록된 재단 정보가 없습니다.</option>
												</th:block>
											</select>											
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="goodsName">펀딩상품</label>
									</th>
									<td>									
										<div class="form-row align-items-center search-schedule">
											<select id="goodsName" th:value="*{goodsName}" name="goodsName" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown btn btn-primary dropdown-toggle">
												<th:block th:unless="${goodsNameList == null}" th:each="l : ${goodsNameList}">
													<option th:value="${l.goodsName}" th:selected="${l.goodsName} == *{goodsName}">[[${l.goodsName}]]</option>
												</th:block>
												<th:block th:if="${goodsNameList == null}">
													<option>등록된 상품 정보가 없습니다.</option>
												</th:block>												
											</select>
											<div class="form-row align-items-center search-schedule" style="width: 500px;">												
												<input type="text" id="goodsCode" th:value="*{goodsCode}" name="goodsCode" class="form-control form-control-user-search search-input" readonly="readonly"/>										
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="fundingGoalAmount">목표 금액</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="number"id="fundingGoalAmount" th:value="*{fundingGoalAmount}" name="fundingGoalAmount" class="form-control form-control-user-search search-input" />
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="fundingStartDate">펀딩 시작일</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">									
											<input type="datetime-local" id="fundingStartDate" th:value="*{fundingStartDate}" name="fundingStartDate" class="form-control form-control-user-search search-input"/>																				
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="fundingEndDate">펀딩 종료일</label>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="datetime-local" id="fundingEndDate" th:value="*{fundingEndDate}" name="fundingEndDate"  class="form-control form-control-user-search search-input"/>										
										</div>
									</td>
								</tr>
								<tr>
		                        	<th class="bg-gray-100">
										<label for="fundingRegId">등록아이디</label>
									</th>
		                        	<td>														
										<div class="form-row align-items-center search-schedule">
											<input type="text" id="fundingRegId" th:value="${session.SID}" name="fundingRegId" class="form-control form-control-user-search search-input" readonly="readonly"/>					
										</div>								
									</td>
		                        </tr>								
							</tbody>
						</table>
						
						<div align="center">
							<button type="submit" id="modifyBtn" class="btn btn-primary btn-icon-split">
								<span class="icon text-white-50"><i class="fas fa-check"></i></span>
								<span class="text">수정</span>
							</button>
							<button type="reset" class="cancelBtn btn btn-secondary btn-icon-split">
								<span class="icon text-white-50"><i class="fas fa-trash"></i></span>
								<span class="text">취소</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
</th:block>


<!-- javascript 삽입 시작 -->
<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/js/custom/khj.js}"></script>
</th:block>
<!-- javascript 삽입 끝 -->

</html>