<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin_khj.css}" />
	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<th:block layout:fragment="customContents">
	
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- Page Heading -->
		<h5 class="m-0 font-weight-bold text-gray-800">펀딩 결제 내역</h5>
			<p class="mb-4"></p>

		<!-- DataTales Example -->
		<div class="card mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">펀딩 결제 내역 조회</h6>
			</div>
			<!-- 검색 테이블 -->
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" width="100%" cellspacing="0">	
						<tbody>
							<tr>
								<th>결제일</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										<button type="button" id="todayBtn" class="btn btn-secondary" >
											<span class="text text-gray-100">오늘</span> 
										</button>
									</div>					
									<div class="form-row align-items-center search-schedule">
										<button type="button" id="monthBtn" class="btn btn-secondary">
											<span class="text text-gray-100">1개월</span>
										</button>
									</div>
									<div class="form-row align-items-center search-schedule">
										<button type="button" id="threeMonthBtn" class="btn btn-secondary">
											<span class="text text-gray-100">3개월</span>
										</button>
									</div>
									<div class="form-row align-items-center search-schedule">
										<button type="button" id="wholePeriodBtn"class="btn btn-primary">
											<span class="text text-gray-100">전체</span>
										</button>										
									</div>
									<div class="align-items-center search-schedule">
										<input type="date" id="startDateInput" class="dateSelect form-control form-control-user-search search-input" />
									</div>
									<div class="align-items-center search-schedule">
										<span>~</span>
									</div>
									<div class="align-items-center search-schedule">
										<input type="date" id="endDateInput" class="dateSelect form-control form-control-user-search search-input" />
									</div>								
								</td>
							</tr>	
							<tr>
								<th>검색분류</th>
								<td>
									<div class="align-items-center search-schedule">
										<select class="f-date-select form-control form-control-user-search search-input" name="">
											<option value="funding_name">결제코드</option>
											<option value="funding_name">주문자명</option>
											<option value="funding_name">주문자아이디</option>
										</select>	
									</div>
									<div class="align-items-center search-schedule">																
										<input type="text" class="form-control form-control-user-search search-input" name="" style="width: 300px;"/>
									</div>
								</td>
							</tr>							
						</tbody>
					</table>
					<div align="center">
						<button type="button" id="totalSearchBtn" class="btn btn-primary btn-icon-split" onclick="doSearchFunding()">
							<span class="icon text-white-50"><i class="fas fa-check"></i></span>
							<span class="text">검색</span>
						</button>
						<button type="reset" id="searchReset" class="btn btn-secondary btn-icon-split">								
							<span class="text">초기화</span>
						</button>
					</div>
				</div>
			</div>
		</div>		
		
		<!-- 조회 테이블 -->
		<div class="list-table card mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">조회 결과</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
                            <tr>
                                <th><input type="checkbox" id="allCheckBox" onclick="allChecked()"></th>                                
                                <th>주문일(결제일)</th>
                                <th>결제코드</th>
                                <th>주문자아이디</th>
                                <th>펀딩코드</th>                                
                                <th>펀딩금액</th>
                                <th>결제수단</th>                                
                            </tr>
                        </thead>    
						<tbody>
							<tr th:unless="${fundingPayList == null}" th:each="l : ${fundingPayList}">
								<td><input type="checkbox" name="chk" class="chk" onclick="chkClicked()" ></td>								
								<td th:text="${l.fundingPaymentDate}"></td>							
								<td><a th:text="${l.fundingPayCode}" th:href="@{modifyFundingPay(fundingPayCode=${l.fundingPayCode})}"></a></td>
								<td th:text="${l.userId}"></td>
								<td th:text="${l.fundingCode}"></td>								
								<td th:text="|₩ ${#numbers.formatInteger(l.fundingPaymentAmount, 3, 'COMMA')}|"></td>								
								<td th:text="${l.pmName}"></td>
							</tr>
							<tr th:if="${fundingPayList == null}">
								<td colspan="7">데이터가 존재하지 않습니다.</td>				
							</tr>							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
	
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
</th:block>

<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>


	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/js/custom/khj.js}"></script>
</th:block>
</html>