<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	  
<th:block layout:fragment="customContents">
	<!-- Begin Page Content -->
	<div class="container-fluid">
	    
	    <!-- DataTales Example -->
     	<div class="card mb-4">
        	<div class="card-header py-3">
            	<h5 class="m-0 font-weight-bold text-gray-800">펀딩 등록</h5>
         	</div>
        	<div class="card-body">         
            	<div class="table-responsive">
	            <form id="registFundingForm" th:action="@{/funding/register}" method="post">
	            	<table class="table table-bordered freg" id="dataTable" width="100%" cellspacing="0">
	                	<tbody>
	                		<tr>
	                        	<th>펀딩코드</th>
	                           	<td>
	                            	<div>
	                            		<input type="text" id="fundingCode" name="fundingCode" style="width:350px;"/>
	                            	</div>
	                            </td>
	                        </tr>
	                    	<tr>
	                        	<th>펀딩명</th>
	                           	<td>
	                            	<div>
	                            		<input type="text" id="fundingName" name="fundingName" style="width:350px;"/>
	                            	</div>
	                            </td>
	                         </tr>
	                         <tr>
	                         	<th>상세내용</th>
	                         	<td>
	                         		<div>
	                         			<textarea id="fundingDescription" name="fundingDescription"></textarea>
	                         		</div>
	                         	</td>
	                         </tr>
	                     </tbody>
	                 </table>
	                 
	                 <table class="table table-bordered freg" id="dataTable" width="100%" cellspacing="0">
	                	<tbody>
	                    	<tr>
	                        	<th>진행상태</th>
	                        	 <td>
	                        	 	<select id="fundingProgress" name="fundingProgress">
	                        	 		<option value="T">진행중</option>
	                        	 		<option value="F">완료</option>	                        	 
	                        	 	</select>		                        	
		                   		 </td>
	                        </tr>	                   
	                        <tr>
	                        	<th>연결재단</th>
		                       	<td>
		                       		<select id="fundingFoundation" name="fundingFoundation">
		                       			<option>사단법인 따뜻한하루</option>
		                       			<option>사단법인 여성인권 동감</option>
		                       			<option>초록우산 어린이재단</option>
		                       		</select>
		                       	</td> 
	                        </tr>                      	                      
	                        <tr>
	                        	<th>상품코드</th>
	                        	<td>
	                        		<input type="text" id="goodsCode" name="goodsCode"/>
	                        	</td>
	                        </tr>
	                        <tr>  
	                       		<th>목표금액</th>
	                       		<td>
	                       			<input type="number" id="fundingGoalAmount" name="fundingGoalAmount" min="0">
	                       			<span>원</span>
	                       		</td>
	                        </tr>
							<tr>                       
	                        	<th>기간 설정</th>
	                       		<td>
	                       			<input type="date" id="fundingStartDate" name="fundingStartDate">
	                       			<span>~</span>
	                       			<input type="date" id="fundingEndDate" name="fundingEndDate">
	                       		</td>
	                      	</tr>
	                      	<tr>
	                        	<th>등록자 아이디</th>
	                        	<td>
	                        		<input type="text" id="fundingRegId" name="fundingRegId"/>
	                        	</td>
	                        </tr>
	                     </tbody>
	                 </table>
	                 </form>
	                 <div class="f-register">
						<a class="btn btn-primary" id="fregistBtn"><span>등록</span></a>
						<a class="btn btn-primary"><span>취소</span></a>
					 </div>
             	</div>	    
			</div>
    	</div>
	</div>
	<!-- /.container-fluid -->
	
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
	
</th:block>

<th:block layout:fragment="customJs">
	<!-- Page level plugins -->


	<!-- Page level custom scripts -->
	<script th:src="@{/js/custom/khj.js}"></script>
</th:block>

</html>