<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">


<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">전체 회원 정보 조회</h1>
		<div th:include="~{view/search/search :: searchFragment}"></div><br>

		<table>
			<thead>
				<tr>
					<th>회원아이디</th>
					<th>회원등급</th>
					<th>회원비밀번호</th>
					<th>회원이름</th>
					<th>회원생년월일</th>
					<th>회원연락처</th>
					<th>회원이메일동의여부</th>
					<th>회원이메일</th>
					<th>회원주소</th>
					<th>회원가입일</th>
					<th>회원로그인기록코드</th>
					<th>로그인기록계산코드</th>
					<th>회원정보수정일자</th>
					<th>활동상태기준코드</th>
					<th>수정</th>
					<th>삭제</th>

				</tr>
			</thead>
			<tbody>
				<tr th:unless="${userList == null}" th:each=" l : ${userList}">
					<td th:text="${l.userId}"></td>
					<td th:text="${l.userLevel}"></td>
					<td th:text="${l.userPw}"></td>
					<td th:text="${l.userName}"></td>
					<td th:text="${l.userBirth}"></td>
					<td th:text="${l.userPhone}"></td>
					<td th:text="${l.userEmailAgree}"></td>
					<td th:text="${l.userEmail}"></td>
					<td th:text="${l.userAddr}"></td>
					<td th:text="${l.userJoinDate}"></td>
					<td th:text="${l.loginLogCode}"></td>
					<td th:text="${l.logDateCalcul}"></td>
					<td th:text="${l.userUpdateDate}"></td>
					<td th:text="${l.activityStatusStandardCode}"></td>
					<td><a th:href="@{/view/user/modify_user(userId=${l.userId})}">수정</a></td>
					<td><a th:href="@{/view/user/remove_user(userId=${l.userId})}">삭제</a></td>
				</tr>
				<tr th:if="${userList == null}">
					<td colspan="14">등록된 회원의 정보가 없습니다.</td>
				</tr>
			</tbody>
		</table>

	</div>
	<!-- /.container-fluid -->

</th:block>

</html>