<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
<!-- Custom styles for this page -->
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
	rel="stylesheet">

<!-- Custom styles for this page -->
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
	rel="stylesheet">

</head>

<th:block layout:fragment="customContents">
	<!-- Begin Page Content -->
	<div class="container-fluid">


		<!-- /.container-fluid -->

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">회원 등록</h1>
		<p class="mb-4">
			회원 등록입니다. 
			<a target="_blank" th:href="@{/admin/user/userList}">전체 회원 목록 바로가기</a>
			<br><br>
			
				아이디	- 영문+숫자 6~12자 이내<br>
						- 중복 확인<br>
				비밀번호	- 칸 수정<br>
						- 영문+숫자 8~20자 이내<br>
				이름		- 특수 문자나 숫자가 섞이지 않도록(중요도 낮음)<br>
				생년월일 	- 특이사항 없음<br>
				연락처 	- 드롭박스 - 칸 - 칸<br>
				이메일 	- 이메일 형식(필수)<br>
				수신여부	- 체크박스<br>
				주소 - 카카오 주소 API 사용<br>
				<br>
				필수 사항 * 체크<br>
				html 일관성있게 수정<br>
		</p>


		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">
					회원 관리 > <a th:href="@{/admin/user/addUser}">회원 등록</a>
				</h6>
			</div>
		</div>
		
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">회원 등록</h6>
			</div>
			
			<div class="card-body">
				<p>
					<span class="required-fields">*</span> 은 필수 입력 사항입니다.
				</p>
				<form id="addUserForm" th:action="@{admin/user/addUser}"
				method="post">

					<div class="table-responsive">
						<table class="table table-bordered search-table-gr table-layout"
							id="searchTable" width="100%" cellspacing="0">
							<tbody>
								<tr>
									<th class="bg-gray-100">
										<label for="userId">아이디</label>
										<span class="required-fields">*</span>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="text"
												class="form-control form-control-user-search search-input-gr"
												 id="userId" name="userId" placeholder="영문+숫자 6~12자 이내" />
											&nbsp;
											<button type="button" id="checkBtn"
												class="btn btn-primary btn-icon-split">
												<span class="text">아이디 중복체크</span>
											</button>
											
											<!-- <span class="required-text">*필수 입력 사항입니다</span> -->
											<span class="required-text"></span>
										</div>
									</td>


								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="userLevel">등급</label>
										<span class="required-fields">*</span>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<select class="dropdown btn btn-primary dropdown-toggle"
												id="dropdownMenuButton" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false">
													<option>:: 등급 설정 ::</option>
													<option value="1">관리자</option>
													<option value="2">회원</option>
											</select>
											<span class="required-text"></span>
										</div>
									</td>
								</tr>
								
								<tr>
									<th class="bg-gray-100" >
										<label for="userPw">비밀번호</label>
										<span class="required-fields">*</span>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="password" 	class="form-control form-control-user-search search-input-gr"
												 id="userPw" name="userPw" placeholder="영문+숫자 8~20자 이내" />
											<span class="required-text-pw"></span>
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100" >
										<label for="userPwcheck">비밀번호 확인</label>
										<span class="required-fields">*</span>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">	
											<input type="password" class="form-control form-control-user-search search-input-gr"
												 id="userPwCheck" name="userPwCheck" placeholder="비밀번호 확인" />
											<span class="required-text-pw"></span>
										</div>
									</td>
								</tr>

								<tr>
									<th class="bg-gray-100">
										<label for="userName">이름</label>
										<span class="required-fields">*</span>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="text"
												class="form-control form-control-user-search search-input-gr"
												id="userName" name="userName" placeholder="예) 홍길동" />
											<span class="required-text"></span>
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="userBirth">생년월일</label>
										<span class="required-fields">*</span>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="date"
												class="form-control form-control-user-search search-input-gr"
												id="userBirth" name="userBirth" />
											<span class="required-text"></span>
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="userPhone">연락처</label>
										<span class="required-fields">*</span>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<select class="dropdown btn btn-primary dropdown-toggle"
												name="userFirstTel" id="userFirstTel" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false">
												<!-- 02','031','032','033','041','043','042','044','051','052','053','054','055','061','062','063','064','070 -->
												<option value="010" selected>010</option>
												<!-- 
                                                <option value="02">02</option>
                                                <option value="031">031</option>
                                                <option value="032">032</option>
                                                <option value="033">033</option>
                                                <option value="041">041</option>
                                                <option value="042">042</option>
                                                <option value="043">043</option>
                                                <option value="044">044</option>
                                                <option value="051">051</option>
                                                <option value="052">052</option>
                                                <option value="053">053</option>
                                                <option value="054">054</option>
                                                <option value="055">055</option>
                                                <option value="061">061</option>
                                                <option value="062">062</option>
                                                <option value="063">063</option>
                                                <option value="064">064</option>
                                                <option value="070">070</option> -->
											</select>
											<div style="padding-top: 2px; margin: 0 5px;">-</div>
											<input type="text"
												class="form-control form-control-user-search search-input-gr-half"
												id="userSecondTel" name="userSecondTel"
												placeholder="0000" />
											<div style="padding-top: 2px; margin: 0 5px;">-</div>
											<input type="text"
												class="form-control form-control-user-search search-input-gr-half"
												id="userThirdTel" name="userThirdTel"
												placeholder="0000" />
											<span class="required-text"></span>
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="userEmail">이메일</label>
										<span class="required-fields">*</span>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<input type="email"
												class="form-control form-control-user-search search-input-gr"
												id="userEmail" name="userEmail"
												placeholder="예) email00@gmail.com " />
										<span class="required-text"></span>
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100">
										<label for="userEmailAgree">이메일 수신여부</label>
										<span class="required-fields">*</span>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<div>
												<input type="radio" id="userEmailAgree" value="1" name="userEmailAgree" /> 
												<label for="userEmailAgree">수신동의</label> 
											</div>
											<div style="padding: 0 10px;"></div>
											<div>
												<input type="radio" id="userEmaildDisAgree" value="0" name="userEmailAgree" checked/> 
												<label for="userEmaildDisAgree">수신거부</label>
												<span class="required-text"></span>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="bg-gray-100"><label for="userAddr">주소</label></th>
									<td>
										<div class=" align-items-center search-schedule">
											<input type="text"
												class="form-control form-control-user-search search-input-gr"
												id="userAddr" name="userAddr" placeholder="주소를 입력해주세요." />
											&nbsp;
											<button type="button" id="checkBtn2"
												class="btn btn-primary btn-icon-split" style="margin-left: -9px;">
												<span class="text">주소 검색</span>
											</button>
											<div style="padding: 5px 0;"></div>
											<input type="text"
												class="form-control form-control-user-search search-input-gr"
												id="userAddrDetail" name="userAddrDetail" placeholder="상세주소를 입력해주세요" />
										</div>
									</td>
								</tr>

							</tbody>
						</table>

						<div align="center">
							<button type="button" id="submitBtn"
								class="btn btn-primary btn-icon-split">
								<span class="icon text-white-50"><i class="fas fa-check"></i></span>
								<span class="text">회원등록</span>
							</button>
							<button type="reset" id="resetBtn"
								class="btn btn-secondary btn-icon-split">
								<span class="icon text-white-50"><i class="fas fa-trash"></i></span>
								<span class="text">입력취소</span>
							</button>
						</div>
					</div>
				</form>
			</div>

			<!-- /.container-fluid -->

			<!-- Scroll to Top Button-->
			<a class="scroll-to-top rounded" href="#page-top"> <i
				class="fas fa-angle-up"></i>
			</a>
</th:block>

<th:block layout:fragment="customJs">
	<script>	
		let isIdCheck = false; 	//아이디 중복 검사 여부를 확인하는 플래그값, submit 할 때 검사
		
		// 값 여부 체크
		function validationCheck(ele){
			let data = $(ele).val();
			let isValid = true;
			if(typeof data == 'undefined' || data == null ||
					data == '' || /\s{1,}/.test(data)){
			isValid = false;
			}
			return isValid;
		}
		
		// 아이디 중복 체크
		$('#checkBtn').click(function(){
			const $userIdEle = $('#userId');
			const userId = $userIdEle.val(); 
			console.log(userId + " <- 유저가 입력한 아이디 값");
			
			let $rqText = $userIdEle.siblings('.required-text');	//안내 메시지
			
			// (아이디 중복 체크 -) 값 여부 체크
			if(typeof userId == 'undefined' ||	userId == null ||
					userId == '' || /\s{1,}/.test(userId)){	
				$rqText.text(`*아이디를 입력해주세요`);
				$userIdEle.focus();
				return false;
			}else{	// input에 아이디가 있다면 유효성 검사			
				// 1. 아이디 양식 확인 - 영문+숫자 6~12자 이내
				let regIdForm = /^[a-zA-Z0-9]{6,12}$/;
				
				if(userId.length >= 6 && userId.length <= 12 && regIdForm.test(userId)){		// id양식이 맞는다면
					// 2. 디비에 존재하는 id와 비교
					let request = $.ajax({
						url: '/admin/user/idCheck',
						method: 'POST',
						data: {'userId' : userId},
						dataType: 'json'
					});
					
					//중복 없이 사용가능한 아이디면 request 결과 data == true
					request.done(function(checkId){
						//console.log(typeof checkId + '<- ajax 아이디 체크 메소드 실행 결과 자료형');
						//console.log(checkId + ' <- ajax 아이디 체크 결과 불린값');
						if(!checkId){
							alert('중복된 아이디입니다.');
							$userIdEle.val('');
							$userIdEle.focus();
						}else{
							// 사용가능 아이디
							alert('사용 가능한 아이디입니다.');
							isIdCheck = true;
							console.log(`${isIdCheck} <- 아이디 체크 여부`);
						}
					});
				
					request.fail(function(jqXHR, textStatus){
						alert(`Request failed: ${textStatus}`);
					});
				}else{	//아이디 양식에 맞지 않는다면
					alert('아이디 규칙이 맞지 않습니다.');
					$rqText.text(`*영문+숫자 6~12자 이내`);
				}	//else문 끝 - id 양식 체크
			}	//else문 끝 - input에 아이디가 있다면 유효성 검사
		});	//click function 끝
		
		
		$('#userId').change(function(){
			isIdCheck = false;
			console.log(`${isIdCheck} <- 아이디 체크 여부`);
		});
		
		
		//비밀번호-------------------------
		$('#userPw').on('input', function(event){
			const $userPwEle = $('#userPw');
			const userPw = $userPwEle.val();
			let $rqTextPw = $userPwEle.siblings('.required-text-pw');
			let $rqTextPwCheck = $userPwEle.siblings('.required-text-pw');
			let msg = '';
			
			console.log(userPw);
			console.log(userPw.length);
			
			let regPwFormAlpha = /^[A-Za-z0-9]+$/;		//특수문자 포함여부만 파악
			let regPwFormLeng = /^[A-Za-z0-9]{8,20}$/;	//글자수까지 파악
			let pwColor = 1;
			
			console.log((userPw.length < 8) + ' <- 1번');
			console.log((userPw.length > 20) + '<- 2번');
			console.log(regPwFormLeng.test(userPw)+ ' < 3번');
			if(!regPwFormAlpha.test(userPw)){
				msg = `*입력 규칙에 맞지 않습니다(영문)+숫자`;
			}else if(userPw.length < 8){
				msg = `*글자 수가 적습니다(8~20자 이내)`;
			}else if(userPw.length > 20){
				msg = `*글자 수가 많습니다(8~20자 이내)`;
			}else if(regPwFormLeng.test(userPw)){
				pwColor = 2;
				msg = `✔ 사용 가능한 비밀번호입니다`;
			}
			
			/* if(userPw.length < 8){
				msg = `*글자 수가 적습니다(8~20자 이내)`;
			}else if(userPw.length > 20){
				msg = `*글자 수가 많습니다(8~20자 이내)`;
			}else if(regPwForm.test(userPw)){
				pwColor = 2;
				msg = `✔ 사용 가능한 비밀번호입니다`;
			}else{
				msg = `*입력 규칙에 맞지 않습니다(영문)+숫자`;
			} */
			
			if(pwColor === 1){
				$('.required-text-pw').css("color", "red");
			}else{
				$('.required-text-pw').css("color", "green");
			}
			$rqTextPw.text(msg);
		});
		
	</script>
</th:block>

</html>