<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<!-- Custom styles for this template -->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">

</head>

<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">회원 정보 수정 관리</h1>
		<p></p>
</th:block>

<th:block layout:fragment="customContents">

	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">회원 정보 수정</h6>
		</div>
		<form id="modifyUserForm" th:action="@{/admin/user/modifyUser}"
			method="post">
			<div class="card-body">
				<div class="table-responsive">

					<table th:object="${userInfo}"
						class="table table-bordered search-table-gr" id="searchTable"
						width="100%" cellspacing="0">
						<tbody>
							<tr>
								<th class="bg-gray-100">
									<label for="userId">아이디</label>
									<span class="required-fields">*</span>
								</th>
								<td>
									<input type="text"
									class="form-control form-control-user-search search-input-gr required-form"
									id="modifyuserId" th:value="${userInfo.userId}" name="userId"
									readonly="readonly" /><span class="required-text"></span></td>
							</tr>
							<tr>
								<th class="bg-gray-100"><label for="userLevel">등급</label>
								<span class="required-fields">*</span></th>
								<td><select class="dropdown btn btn-primary required-form"
									id="modifyuserLevel" th:value="${userInfo.userLevel}" name="userLevel">
										<option value="1" th:selected="${userInfo.userLevel == '1'}">관리자</option>
           								<option value="2" th:selected="${userInfo.userLevel == '2'}">회원</option>
								</select><span class="required-text"></span></td>
							</tr>
							

							<tr>
								<th class="bg-gray-100"><label for="userPw">비밀번호</label>
								<span class="required-fields">*</span></th>
								<td><input type="password"
									class="form-control form-control-user-search search-input-gr required-form"
									id="modifyuserPw" th:value="${userInfo.userPw}" name="userPw"
									placeholder="영문+숫자 8~20자 이내" /><span class="required-text-pw"></span></td>
									
							</tr>
							<tr>
								<th class="bg-gray-100"><label for="userPwCheck">비밀번호 확인</label>
								<span class="required-fields">*</span></th>
								<td><input type="password"
									class="form-control form-control-user-search search-input-gr required-form"
									id="modifyuserPwCheck" name="userPwCheck"
									placeholder="비밀번호를 한 번 더 입력해주세요" /><span class="required-text-pw"></span></td>
									
							</tr>
							<tr>
								<th class="bg-gray-100"><label for="userName">이름</label>
								<span class="required-fields">*</span></th>
								<td><input type="text"
									class="form-control form-control-user-search search-input-gr required-form"
									id="modifyuserName" th:value="${userInfo.userName}"
									name="userName" readonly="readonly" /><span class="required-text"></span></td>
							</tr>
							<tr>
								<th class="bg-gray-100"><label for="userBirth">생년월일</label>
								<span class="required-fields">*</span>
								</th>
								<td><input type="date"
									class="form-control form-control-user-search search-input-gr required-form"
									id="modifyuserBirth" th:value="${userInfo.userBirth}"
									name="userBirth" placeholder="생년월일을 선택해주세요." /><span class="required-text"></span></td>
							</tr>
							 <tr>
								<th class="bg-gray-100"><label for="userPhone">연락처</label>
								<span class="required-fields">*</span>
								</th>
								<td><input type="tel"
									class="form-control form-control-user-search search-input-gr required-form"
									id="modifyuserPhone" th:value="${userInfo.userPhone}"
									name="userPhone" placeholder="하이픈(-)을 포함하여 입력해주세요." /><span class="required-text"></span></td>
							</tr> 
							
							
							<!--<tr>
									<th class="bg-gray-100">
										<label for="userPhone">연락처</label>
										<span class="required-fields">*</span>
									</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<select class="dropdown btn btn-primary required-form" id="modifyuserFirstTel" name="userFirstTel">
												<option value="010" selected>010</option>
											</select>
											
											<div style="padding-top: 2px; margin: 0 5px;">-</div>
											<input type="text" maxlength="4"
												class="form-control form-control-user-search search-input-gr-half required-form"
												id="modifyuserSecondTel" name="userSecondTel" th:field="*{userSecondTel}"
												 />
											<div style="padding-top: 2px; margin: 0 5px;">-</div>
											<input type="text" maxlength="4"
												class="form-control form-control-user-search search-input-gr-half required-form"
												id="modifyuserThirdTel" name="userThirdTel" th:field="*{userThirdTel}"
												 />
											
										</div>
									</td>
								</tr>-->
							
							
							<tr>
									<th class="bg-gray-100"><label for="userEmailAgree">이메일
										수신여부</label><span class="required-fields">*</span></th>
								<td><select class="dropdown btn btn-primary required-form"
									id="modifyuserEmailAgree" name="userEmailAgree"
									th:value="${userInfo.userEmailAgree}">
										<option value="1" th:selected="${userInfo.userEmailAgree == '1'}">수신동의</option>

										<option value="0" th:selected="${userInfo.userEmailAgree == '0'}">수신거부</option>
								</select><span class="required-text"></span></td>

							</tr>
							<tr>
								<th class="bg-gray-100"><label for="userEmail">이메일</label>
								<span class="required-fields">*</span>
								</th>
								<td><input type="email"
									class="form-control form-control-user-search search-input-gr required-form"
									id="modifyuserEmail" th:value="${userInfo.userEmail}"
									name="userEmail" placeholder="at sign(@)을 포함하여 입력해주세요." /><span class="required-text"></span></td>
							</tr>
							<!-- <tr>
								<th class="bg-gray-100"><label for="userAddr">주소</label></th>
								<td><input type="text"
									class="form-control form-control-user-search search-input-gr"
									id="modifyuserAddr" th:value="${userInfo.userAddr}"
									name="userAddr" placeholder="주소를 입력해주세요." /></td>
							</tr> -->
							
							<tr>
									<th class="bg-gray-100"><label for="userPostCode">주소</label></th>
									<td>
										<div class=" align-items-center search-schedule">
											<input type="text"
												class="form-control form-control-user-search search-input-gr-half-two"
												id="userPostCode" name="userPostCode" />
											&nbsp;
											<button type="button" id="checkBtn2" onclick="DaumPostcode()"
												class="btn btn-primary btn-icon-split" style="margin-left: -9px;">
												<span class="text">우편번호 찾기</span>
											</button>
											<div style="padding: 5px 0;"></div>
											<input type="text"
												class="form-control form-control-user-search search-input-gr"
												id="userAddrRoad" name="userAddrRoad" />
											<input type="text"
											class="form-control form-control-user-search search-input-gr-half-two"
											id="userExtraAddress" name="userExtraAddress"  />
											<div style="padding: 5px 0;"></div>
											<input type="text"
												class="form-control form-control-user-search search-input-gr"
												id="userAddrDetail" name="userAddrDetail" />
										</div>
									</td>
								</tr>
							
							<tr>
								<td colspan="2">
									<button type="button" id="modifysubmitBtn"
										class="btn btn-primary btn-icon-split">
										<span class="icon text-white-50"><i
											class="fas fa-check" aria-hidden="true"></i></span> <span
											class="text">정보수정</span>
									</button>

									<button type="reset" id="modifyresetBtn"
										class="btn btn-secondary btn-icon-split">
										<span class="icon text-white-50"><i
											class="fas fa-trash" aria-hidden="true"></i></span> <span
											class="text">입력취소</span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
		</form>
		<!--<script>
		const userPhone = '${userInfo.userPhone}';
		const userPhoneParts = userPhone.split('-');
		$('#modifyuserFirstTel').val(userPhoneParts[0]);
		$('#modifyuserSecondTel').val(userPhoneParts[1]);
		$('#modifyuserThirdTel').val(userPhoneParts[2]);

		// 주소 쪼개어 가져오기
		const userAddr = '${userInfo.userAddr}';
		const userAddrParts = userAddr.split(', ');
		const userPostCode = userAddrParts[0].substring(1, userAddrParts[0].length - 1);
		const userAddrRoad = userAddrParts[1];
		const userAddrDetail = userAddrParts[2];
		$('#modifyuserPostCode').val(userPostCode);
		$('#modifyuserAddrRoad').val(userAddrRoad);
		$('#modifyuserAddrDetail').val(userAddrDetail);
		</script>-->
		<!-- /.container-fluid -->

		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fas fa-angle-up"></i>
		</a>
</th:block>

<th:block layout:fragment="customJs">

	<script th:src="@{/js/jquery-3.6.4.js}"></script>
	<script>
	$('#modifyUserForm').ready(function() {
		  let isPwCheck = 0; // 비밀번호 확인 검사 여부를 확인하는 플래그값, submit 할 때 검사, 0=입력 전/1=비번 일치/2=비번 불일치
		  let fullAddress = ''; // fullAddress 변수를 전역 범위로 이동

		  function validatePassword() {
		    let userPw = $('#modifyuserPw').val();
		    let $userPwEle = $('#modifyuserPw');
		    let $rqTextPw = $userPwEle.siblings('.required-text-pw');

		    let msg = '';
		    let pwColor = 1;
		    let isValid = false;

		    let regPwForm = /^(?=.*[a-z])(?=.*\d)[a-z\d]{8,20}$/;

		    if (!regPwForm.test(userPw)) {
		      if (userPw.length < 8) {
		        msg = `*글자 수가 적습니다 (8~20자 이내)`;
		      } else if (userPw.length > 20) {
		        msg = `*글자 수가 많습니다 (8~20자 이내)`;
		      } else {
		        msg = `*입력 규칙에 맞지 않습니다 (영문 소문자와 숫자를 모두 포함해야 합니다)`;
		      }
		    } else {
		      pwColor = 2;
		      msg = `✔ 사용 가능한 비밀번호입니다`;
		      isValid = true;
		    }

		    $rqTextPw.css("color", pwColor === 1 ? "red" : "green");
		    $rqTextPw.text(msg);

		    return isValid;
		  }

		  function pwCheck() {
		    let userPw = $('#modifyuserPw').val();
		    let userPwCheck = $('#modifyuserPwCheck').val();

		    let $rqTextPwCheck = $('#modifyuserPwCheck').siblings('.required-text-pw');
		    let msg = '';
		    let pwColor = 1;

		    if (userPwCheck.length == userPw.length && userPw === userPwCheck) {
		      pwColor = 2;
		      msg = `✔ 비밀번호가 일치합니다.`;
		      isPwCheck = 1;
		    } else {
		      msg = `*비밀번호가 일치하지 않습니다.`;
		      isPwCheck = 2;
		    }

		    $rqTextPwCheck.css("color", pwColor === 1 ? "red" : "green");
		    $rqTextPwCheck.text(msg);
		    
		    return isPwCheck === 1;
		  }

		  $('#modifyuserPw').on('input', validatePassword);
		  $('#modifyuserPwCheck').on('input', pwCheck);

		  $('#modifysubmitBtn').click(
					function(event) {
					let isValid = true;
				    let isPasswordValid = validatePassword();
				    let isPwCheckValid = pwCheck();
		
				    if (!isPasswordValid || !isPwCheckValid) {
				    	alert('비밀번호가 유효하지 않거나 일치하지 않습니다');
				      return false;
				    }
		    
					const userPwEle = $('#modifyuserPw');
					let userPw = userPwEle.val();
					if (typeof userPw == 'undefined' || userPw == null
							|| userPw == '') {
						alert('회원비밀번호를 입력해주세요');
						userPwEle.focus();
						isValid = false;
					}
					const userPwCheckEle = $('#modifyuserPwCheck');
					let userPwCheck = userPwCheckEle.val();
					if (typeof userPwCheck == 'undefined' || userPwCheck == null
							|| userPwCheck == '') {
						alert('회원비밀번호확인란을 입력해주세요');
						userPwCheckEle.focus();
						isValid = false;
					}
					
					const userBirthEle = $('#modifyuserBirth');
					const userBirth = userBirthEle.val();
					if (typeof userBirth == 'undefined' || userBirth == null || userBirth == '') {
						alert('회원생년월일을 입력해주세요');
						userBirthEle.focus();
						isValid = false;
					}

					const userPhoneEle = $('#modifyuserPhone');
					const userPhone = userPhoneEle.val();
					if (typeof userPhone == 'undefined' || userPhone == null || userPhone == '') {
						alert('회원연락처를 입력해주세요');
						userPhoneEle.focus();
						isValid = false;
					}

					const userEmailEle = $('#modifyuserEmail');
					const userEmail = userEmailEle.val();
					if (typeof userEmail == 'undefined' || userEmail == null || userEmail == '') {
						alert('회원이메일을 입력해주세요');
						userEmailEle.focus();
						isValid = false;
					}
					
					 // 주소 필드의 값을 체크하여, 우편번호 값이 없으면 null로 설정
				   const userPostCodeEle = $('#userPostCode');
				   const userPostCode = userPostCodeEle.val();
				   if (typeof userPostCode === 'undefined' || userPostCode === null || userPostCode === '') {
    				   userPostCodeEle.val(null);
					}
					
					if (!isValid) {
        			return false;
    				}
				    
			//우편번호 값이 존재하면 주소가 입력됐음으로 간주하고 주소지 문자열 통합
				if (userPostCode) {
					//주소 문자열 일정 형식으로 통합 - [우편번호]주소(extraAddress), 상세주소 
					let userAddrRoad = $('#userAddrRoad').val().trim() + ($('#userExtraAddress').val() ? ' ' + $('#userExtraAddress').val().trim() : '');
					let userAddrDetail = ($('#userAddrDetail').val() ? ', ' + $('#userAddrDetail').val() : '');
					fullAddress = `[${userPostCode}] ${userAddrRoad} ${userAddrDetail}`;

					console.log(fullAddress);

				}
			
		// Ajax 요청 보내기
				
  				if (isPasswordValid && isPwCheckValid && isValid) {
				    $.ajax({
				        type: 'POST',
				        url: '/admin/user/modifyUser', // 수정 처리를 담당하는 URL
				        data: {
								userLevel: $('#modifyuserLevel').val(),
						        userPw: $('#modifyuserPw').val(),
						        userBirth: $('#modifyuserBirth').val(),
						        userPhone: $('#modifyuserPhone').val(),
						        userEmailAgree: $('#modifyuserEmailAgree').val(),
						        userEmail: $('#modifyuserEmail').val(),
						        userAddr: fullAddress
						        },
				        success: function(result) {
				            // 서버에서 전송한 응답을 처리하는 코드 작성
				            console.log(result);
				            if (result.hasOwnProperty('success') && result.success) {
				                alert('회원 정보가 수정되었습니다.');
				                window.location.href = '/admin/user/userList'; // userList로 이동
				            } else {
				                alert('회원 정보 수정에 실패하였습니다.');
				            }
				        },
				        error: function(xhr, status, error) {
				            console.error(error);
				            alert('회원 정보 수정 중 오류가 발생하였습니다.');
				        }
				    });
				 }
			});	 
		$('#modifyresetBtn').click(function() {
			$('#modifyUserForm')[0].reset(); // 폼 필드 초기화
			//location.href = '/user/userList';
			//history.go(-1);
			
		});
	});	
	
	
		</script>
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		function DaumPostcode() {
			new daum.Postcode({
				oncomplete: function (data) {
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

					// 각 주소의 노출 규칙에 따라 주소를 조합한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var addr = ''; // 주소 변수
					var extraAddr = ''; // 참고항목 변수

					//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
					if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
						addr = data.roadAddress;
					} else { // 사용자가 지번 주소를 선택했을 경우(J)
						addr = data.jibunAddress;
					}

					// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
					if (data.userSelectedType === 'R') {
						// 법정동명이 있을 경우 추가한다. (법정리는 제외)
						// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
						if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
							extraAddr += data.bname;
						}
						// 건물명이 있고, 공동주택일 경우 추가한다.
						if (data.buildingName !== '' && data.apartment === 'Y') {
							extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
						}
						// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
						if (extraAddr !== '') {
							extraAddr = ' (' + extraAddr + ')';
						}
						// 조합된 참고항목을 해당 필드에 넣는다.
						document.getElementById('userExtraAddress').value = extraAddr;

					} else {
						document.getElementById('userExtraAddress').value = '';
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('userPostCode').value = data.zonecode;
					document.getElementById('userAddrRoad').value = addr;
					// 커서를 상세주소 필드로 이동한다.
					document.getElementById('userAddrDetail').focus();
				}
			}).open();
		}
	</script>
				    
				    

	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>

</th:block>

</html>