<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">


<th:block layout:fragment="customContents">
<script th:src="@{/js/jquery-3.6.4.js}"></script>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">마이페이지</h1>



            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - 마이페이지 -->
            <li class="nav-item">
                    <span class="my-page">마이페이지(가람)</span>
            </li>
            

<!-- Edit Bareun ↓  -->
            <!-- Nav Item - 내 정보 -->
            <li class="nav-item">
                <a class="nav-link" href="@{/admin/user/(userId=${l.userId})}">
                    <i class="fas fa-fw fa-user"></i>
                    <span>내 정보</span></a>
            </li>

            <!-- Nav Item - 나의 기부 -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
                    aria-controls="collapsePages">
                    <i class="fas fa-fw fa-comment-dollar"></i>
                    <span>나의 기부</span></a>
                     <div id="collapsePages" class="collapse" aria-labelledby="headingPages"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">정기후원 참여 내역</a>
                        <div></div>
                        <a class="collapse-item" href="#">펀딩 참여 내역</a>
                    </div>
                </div>
            </li>
            
            <!-- Nav Item - 결제 -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
                    aria-controls="collapsePages">
                    <i class="fas fa-fw fa-credit-card"></i>
                    <span>결제 정보</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">자주 쓰는 결제 방식</a>
                        <div></div>
                        <a class="collapse-item" href="#">결제 내역 확인</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 문의하기 -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-headset"></i>
                    <span>나의 문의 내역</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Nav Item - 탈퇴하기 -->
            <li class="nav-item">
                <a class="nav-link" href="@{/admin/user/removeUser}">
                    <span>탈퇴하기</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

</th:block>
<th:block layout:fragment="customJs">
    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>


    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>
</th:block>
</html>