<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<!-- Custom styles for this template -->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">

</head>
<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">탈퇴 회원 정보 조회</h1>
		<p class="mb-4">
			탈퇴 회원 목록입니다. <a target="_blank"
				href="http://localhost/admin/user/userList">전체 회원 목록 바로가기</a>
		</p>

		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">탈퇴 회원 정보 조회</h6>
			</div>
			<div class="card-body overflow">
				<div class="table-responsive">
					<table class="table table-bordered text-center table-layout"
						id="dataTable" width="100%" cellspacing="0">
						<thead class="bg-gray-100">

							<tr>
								<th>아이디</th>
								<th>탈퇴일</th>
								<th>활동상태</th>
								<th>삭제</th>
								<th>조회</th>

							</tr>
						</thead>
						<tbody>
							<tr th:unless="${userDropList == null}"
								th:each=" l : ${userDropList}">
								<td th:text="${l.userId}"></td>
								<td th:text="${l.userDropDate}"></td>
								<td>
									<div th:if="${l.activityStatusStandardCode == 'status_active'}">활동</div>
									<div
										th:if="${l.activityStatusStandardCode == 'status_dormant'}">휴면</div>
									<div
										th:if="${l.activityStatusStandardCode == 'status_withdraw'}">탈퇴</div>
								</td>
								<td><a href="#">삭제</a></td>
								<td><a
									th:href="@{/admin/user/userDetailList(userId=${l.userId})}">조회</a></td>
							</tr>
							<tr th:if="${userDropList == null}">

							</tr>
						</tbody>
					</table>

				</div>
				<!-- /.container-fluid -->
</th:block>
<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>


	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
		<script type="text/javascript">
		$('#dataTable').DataTable({
			// 표시 건수기능 숨기기
			'lengthChange' : false,
			// 정보 표시 숨기기
			'info' : false,
			// 검색 기능 숨기기
			'searching' : false,
			// 정렬 기능 숨기기
			'ordering' : false,
			
		});
	</script>
</th:block>
</html>