<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<!-- Custom styles for this page -->
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
	rel="stylesheet">
</head>

<th:block layout:fragment="customContents">
	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">매출 조회</h1>
		<p class="mb-4">
			매출 조회입니다.<br> 환불 건을 제외하고 결제완료된 정기기부/펀딩의 금액과 결제일을 조회합니다.
		</p>

		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">매출 기록 조회</h6>
			</div>
			<div class="card-body">
				<!-- 검색 테이블 -->
				<div class="table-responsive">
					<table class="table table-bordered search-table"
						id="searchdataTable" width="100%" cellspacing="0">
						<tbody>
							<tr>
								<th class="bg-gray-100">통합 검색</th>
								<td><input type="text"
									class="form-control form-control-user-search"
									id="purchase-search">
									<button class="btn btn-primary">
										<span class="text text-gray-100">검색</span>
									</button></td>
							</tr>
							<tr>
								<th class="bg-gray-100">기간 상세</th>
								<td>
									<form>
										<div class="form-row align-items-center search-schedule">
											<div class="col-auto">
												<label for="start-date" class="sr-only">시작일</label> <input
													type="date" id="start-date" class="form-control"
													placeholder="시작일">
											</div>
											~
											<div class="col-auto">
												<label for="end-date" class="sr-only">종료일</label> <input
													type="date" id="end-date" class="form-control"
													placeholder="종료일">
											</div>
										</div>
									</form>
									<button class="btn btn-primary search-schedule">
										<span class="text text-gray-100">검색</span>
									</button>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">기간 검색</th>
								<td>
									<button class="btn btn-primary">
										<span class="text text-gray-100">당일</span>
									</button>
									<button class="btn btn-primary">
										<span class="text text-gray-100">당월</span>
									</button>
									<button class="btn btn-primary">
										<span class="text text-gray-100">해당 분기</span>
									</button>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">매출 구분</th>
								<td><select
									class="dropdown btn btn-primary dropdown-toggle"
									id="dropdownMenuButton" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
										<option value="option1">:: 매출 구분 ::</option>
										<option value="option2">정기기부</option>
										<option value="option2">펀딩</option>
								</select></td>
							</tr>
							<tr>
								<th class="bg-gray-100">마감 여부</th>
								<td><select
									class="dropdown btn btn-primary dropdown-toggle"
									id="dropdownMenuButton" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
										<option value="option1">:: 마감 여부 ::</option>
										<option value="option2">마감 전</option>
										<option value="option2">마감 완료</option>
								</select></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="mx-auto" style="width: 60px;">
					<button class="btn btn-primary">
						<span class="text text-gray-100">검색</span>
					</button>
				</div>
			</div>
		</div>

		<!-- start - select sales list -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">매출 조회</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%"
						cellspacing="0">
						<thead class="bg-gray-100">
							<tr>
								<th>정기기부/펀딩 구분</th>
								<th>정기기부/펀딩 코드</th>
								<th>회원 아이디</th>
								<th>결제 금액</th>
								<th>결제일</th>
								<th>마감 유무</th>
							</tr>
						</thead>
						<tfoot class="bg-gray-100">
							<tr>
								<th>정기기부/펀딩 구분</th>
								<th>정기기부/펀딩 코드</th>
								<th>회원 아이디</th>
								<th>결제 금액</th>
								<th>결제일</th>
								<th>마감 유무</th>
							</tr>
						</tfoot>
						<tbody>
							<tr>
								<td>펀딩</td>
								<td>funding_payment2</td>
								<td>useridf9</td>
								<td>₩ 50,000</td>
								<td>2023-01-27 16:45</td>
								<td>마감완료</td>
							</tr>
							<tr>
								<td>정기기부</td>
								<td>donation_payment1</td>
								<td>useridd4</td>
								<td>₩ 30,000</td>
								<td>2023-01-17 16:45</td>
								<td>마감완료</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- start - select sales list -->
	<!-- /container-fluid -->
</th:block>

<!-- 사용자정의 Js 페이지 -->
<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{../../vendor/datatables/jquery.dataTables.min.js}"></script>
	<script
		th:src="@{../../vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{../../js/demo/datatables-demo.js}"></script>
</th:block>
</html>