<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Sidebar -->
<ul th:fragment="asideFragment2"
	class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion"
	id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a
		class="sidebar-brand d-flex align-items-center justify-content-center"
		th:href="@{/}">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-capsules"></i>
		</div>
		<div class="sidebar-brand-text mx-3">Pilling Good</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - 마이페이지 -->
	<li class="nav-item"><a th:href="@{/user/mypage_index}"><span
			class="my-page">마이페이지(가람)</span> </a></li>
			
	

	<!-- Edit Bareun ↓  -->
	<!-- Nav Item - 내 정보 -->
	<li class="nav-item"><a class="nav-link" th:href="@{/user/myPage_myInfo}"><i
			class="fas fa-fw fa-user"></i> <span>내 정보</span></a></li> 
			
	<!-- Nav Item - 나의 기부 -->
	<li class="nav-item active"><a class="nav-link" href="#"
		data-toggle="collapse" data-target="#collapsePages1"
		aria-expanded="true" aria-controls="collapsePages"> <i
			class="fas fa-fw fa-comment-dollar"></i> <span>나의 기부</span></a>
		<div id="collapsePages1" class="collapse"
			aria-labelledby="headingPages" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" th:href="@{/user/myPage_myDonation}">정기후원 참여 내역 확인</a> <a
					class="collapse-item" th:href="@{/user/myPage_myFunding}">펀딩 참여 내역 확인</a>
			</div>
		</div></li>

	<!-- Nav Item - 결제 -->
	<li class="nav-item active"><a class="nav-link" href="#"
		data-toggle="collapse" data-target="#collapsePages2"
		aria-expanded="true" aria-controls="collapsePages"> <i
			class="fas fa-fw fa-credit-card"></i> <span>결제 정보</span>
	</a>
		<div id="collapsePages2" class="collapse"
			aria-labelledby="headingPages" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="#">결제 내역 확인</a> <a
					class="collapse-item" href="#">자주 쓰는 결제 방식</a>
			</div>
		</div></li>

	<!-- Nav Item - 문의하기 -->
	<li class="nav-item"><a class="nav-link" href="#"> <i
			class="fas fa-fw fa-headset"></i> <span>문의하기</span></a></li>

	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Nav Item - 탈퇴하기 -->
	<li class="nav-item"><a class="nav-link" href="#"> <span>탈퇴하기</span></a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>

</ul>
<!-- End of Sidebar -->

</html>