<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Sidebar -->
<ul th:fragment="asideFragment"
	class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
	id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/common/funding_index}">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-capsules"></i>
		</div>
		<div class="sidebar-brand-text mx-3">Pilling Good</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li class="nav-item">
		<a class="nav-link" th:href="@{/admin/admin_index}"> 
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>대시보드</span>
		</a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider">



	<!-- Edit Bareun ↓  -->
	<!-- Heading -->
	<div class="sidebar-heading">관리</div>

	<!-- Nav Item - 회원관리 Collapse Menu -->
	<li class="nav-item active"><a class="nav-link" href="#"
		data-toggle="collapse" data-target="#collapsePages1"
		aria-expanded="true" aria-controls="collapsePages"> <i
			class="fas fa-fw fa-address-card"></i> <span>회원 관리(#김가람)</span>
	</a>
		<div id="collapsePages1" class="collapse"
			aria-labelledby="headingPages" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" th:href="@{/admin/user/userLevel}">회원 등급 기준 설정!</a>
				<a class="collapse-item" th:href="@{/admin/user/activityStatus}">회원 활동 상태 기준 설정!</a> <a
				class="collapse-item" th:href="@{/admin/user/addUser}">회원 등록!</a> 
					<a
				class="collapse-item" th:href="@{/admin/user/userList}">회원 정보
				조회!</a> <a class="collapse-item" th:href="@{/admin/user/userSleepList}">휴면 회원 정보 조회!</a> <a
				class="collapse-item" th:href="@{/admin/user/userDropList}">탈퇴 회원 정보 조회!</a> <a
				class="collapse-item" th:href="@{/admin/user/loginLog}">회원 로그인
				정보 조회!</a>  <a class="collapse-item" href="#">회원 월별 기부 누적
				기록(기부왕)(#이바른)</a>
			</div>
		</div></li>

	<!-- Nav Item - 재단관리 Collapse Menu -->
	<li class="nav-item active"><a class="nav-link" href="#"
		data-toggle="collapse" data-target="#collapsePages2"
		aria-expanded="true" aria-controls="collapsePages"> <i
			class="fas fa-fw fa-building"></i> <span>재단 관리(!김귀림)</span>
	</a>
		<div id="collapsePages2" class="collapse"
			aria-labelledby="headingPages" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" th:href="@{/admin/foundation/foundation_list}">재단
					조회!</a> <a class="collapse-item" th:href="@{/admin/foundation/add_foundation}">재단
					등록!</a> <a class="collapse-item"
					th:href="@{/admin/foundation/foundation_request_list}">재단 요청사항 조회!</a> <a
					class="collapse-item"
					th:href="@{/admin/foundation/add_foundation_request}">재단 요청사항 등록!</a>
			</div>
		</div></li>

	<!-- Nav Item - 상품 Collapse Menu -->
	<li class="nav-item active"><a class="nav-link" href="#"
		data-toggle="collapse" data-target="#collapsePages3"
		aria-expanded="true" aria-controls="collapsePages"> <i
			class="fas fa-fw fa-building"></i> <span>상품 입출고 관리(!김귀림)</span>
	</a>
		<div id="collapsePages3" class="collapse"
			aria-labelledby="headingPages" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" th:href="@{/admin/goods/goods_list}">상품 조회!</a>
				<a class="collapse-item" th:href="@{/admin/goods/add_goods}">상품 등록!</a> 
				<a class="collapse-item" th:href="@{/admin/stock/stock_list}">상품 재고 조회!</a> 
				<a class="collapse-item" th:href="@{/admin/stock/incoming_stock_list}">상품 입고 조회!</a> 
				<a class="collapse-item" th:href="@{/admin/stock/outcoming_stock_list}">상품 출고 조회!</a> 
				<a class="collapse-item" th:href="@{/admin/stock/add_incoming_stock}">상품 입고 등록!</a>
				<a class="collapse-item" th:href="@{/admin/stock/add_outcoming_stock}">상품 출고 등록!</a>
				<a class="collapse-item" th:href="@{/admin/stock/outcoming_stock_detail_list}">상품 출고상세 조회!</a>
				<a class="collapse-item" th:href="@{/admin/stock/add_outcoming_stock_detail}">상품 출고상세 등록!</a> 
				<a class="collapse-item" th:href="@{/admin/stock/unusual_stock_detail_list}">상품 비정상 재고 조회!</a> 
				<a class="collapse-item" th:href="@{/admin/stock/add_unusual_stock_detail}">상품 비정상 재고 등록!</a>
			</div>
		</div></li>


	<!-- Nav Item - 정기 후원 Collapse Menu -->
	<li class="nav-item active"><a class="nav-link" href="#"
		data-toggle="collapse" data-target="#collapsePages4"
		aria-expanded="true" aria-controls="collapsePages"> <i
			class="fas fa-fw fa-comment-dollar"></i> <span>정기 후원(#백지은)</span>
	</a>
		<div id="collapsePages4" class="collapse"
			aria-labelledby="headingPages" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" th:href="@{/admin/donation/donation_list}">정기기부 단가</a> 
				<a class="collapse-item" th:href="@{/admin/donation/donationSub_list}">정기기부 구독 신청</a>
				<a class="collapse-item" th:href="@{/admin/donation/donationPayMethod_list}">등록된 회원 결제 수단</a>
				<a class="collapse-item" th:href="@{/admin/donation/donationPayDetail}">정기기부 구독 결제 상세</a>
				<a class="collapse-item" th:href="@{/admin/donation/donationRefund_list}">정기기부 결제 환불</a>
				<a class="collapse-item" th:href="@{/admin/donation/donationPayMonthly}">정기기부 월별 결제 합계</a>
			</div>
		</div></li>


	<!-- Nav Item - 펀딩 Collapse Menu -->
	<li class="nav-item active"><a class="nav-link" href="#"
		data-toggle="collapse" data-target="#collapsePages5"
		aria-expanded="true" aria-controls="collapsePages"> <i
			class="fas fa-fw fa-comment-dollar"></i> <span>펀딩(!고현지)</span>
	</a>
		<div id="collapsePages5" class="collapse"
			aria-labelledby="headingPages" data-parent="#accordionSidebar">
			<div id="collapsePages5" class="collapse"
				aria-labelledby="headingPages" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" th:href="@{/funding/manage}">펀딩 컨텐츠 관리!</a>
					<a class="collapse-item" th:href="@{/funding/register}">펀딩 등록!</a>
					<a class="collapse-item" th:href="@{/funding/current_amount}">컨텐츠 별 진행 현황!</a>
					<a class="collapse-item" th:href="@{/funding/payments}">결제	내역!</a>
					<a class="collapse-item" th:href="@{/funding/refund}">환불 관리!</a>
				</div>
			</div>
		</div></li>


	<!-- Nav Item - 재무 Collapse Menu -->
	<li class="nav-item active"><a class="nav-link" href="#"
		data-toggle="collapse" data-target="#collapsePages6"
		aria-expanded="true" aria-controls="collapsePages"> <i
			class="fas fa-fw fa-chart-line"></i> <span>재무(#백지은, 고현지/!이바른)</span>
	</a>
		<div id="collapsePages6" class="collapse"
			aria-labelledby="headingPages" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">결제:(#백지은, 고현지)</h6>
				<a class="collapse-item" th:href="@{/payment/payment_method}">결제 수단 관리</a>
					<a class="collapse-item" href="#">결제 기록 조회</a>
					<a class="collapse-item" href="#">-회원 별 월 결제 합계 조회</a>
				<div class="collapse-divider"></div>

				<h6 class="collapse-header">매입·매출:(이바른)</h6>
				<a class="collapse-item" th:href="@{/admin/purchase_sale/payment_vat_list}">수수료 관리!</a>
				<a class="collapse-item" th:href="@{/admin/purchase_sale/purchase_list}">매입 관리!</a>
				<a class="collapse-item" th:href="@{/admin/purchase_sale/sales_list}">매출 관리!</a>
				<a class="collapse-item" th:href="@{/admin/purchase_sale/month_profit_loss}">손익!</a>
			</div>
		</div></li>

	<!-- Nav Item - 사이트 관리 Collapse Menu -->
	<li class="nav-item active"><a class="nav-link" href="#"
		data-toggle="collapse" data-target="#collapsePages7"
		aria-expanded="true" aria-controls="collapsePages"> <i
			class="fas fa-fw fa-wrench"></i> <span>사이트 관리(#)</span>
	</a>
		<div id="collapsePages7" class="collapse"
			aria-labelledby="headingPages" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="#">문의글</a>
				<a class="collapse-item" href="#">공지사항</a>
				<a class="collapse-item" href="#">Q&A</a>
				<a class="collapse-item" href="#">FAQ</a>
			</div>
		</div></li>


	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>

</ul>
<!-- End of Sidebar -->

</html>