<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default2}">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin_khj.css}"></link>
</head>


<th:block layout:fragment="customContents2">
	<!-- 결제 확인 모달창 -->
	<div th:include="~{common/funding/modal :: modalFragment}"></div>
	<div th:unless="${fundingDetail == null}" th:each="l : ${fundingDetail}">
	
		<!-- 펀딩상세페이지 헤더 시작 -->
		<div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="bradcam_text text-center">
							<h3 style="font-size: 40px;" th:text="${l.fundingName}"></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 펀딩상세페이지 헤더 끝 -->

		<!-- 펀딩상세페이지 본문 시작 -->
		<div class="popular_causes_area pt-120 cause_details ">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="single_cause">
							<div class="thumb">
								<img th:src="@{/img/causes/funding1DetaliHeaderimg.jpg}" alt="mainImg">
							</div>
							<div class="causes_content">
								<div class="custom_progress_bar">
									<div class="progress">
										<div class="progress-bar" role="progressbar" style="width: 59%;" aria-valuenow="59" aria-valuemin="0" aria-valuemax="100">
											<span class="progres_count" th:text="${l.achievedRate}+'%'"></span>
										</div>
									</div>
								</div>
								<div class="balance d-flex justify-content-between align-items-center">								
									<span>달성 금액</span>
									<span th:text="|${#numbers.formatInteger(l.achievedAmount, 3, 'COMMA')}|+'원'" style="color: #3CC78F;"></span>
									<span>목표 금액</span>
									<span th:text="|${#numbers.formatInteger(l.fundingGoalAmount, 3, 'COMMA')}|+'원'" style="color: #3CC78F;"></span>								
								</div>
								<hr>
								<br>
								<br>
								<br>
								<h4 style="font-size:25px;">면역력이 약한 중증장애아동의 건강한 생활을 지원해주세요.</h4>							
								<p th:text="${l.fundingDescription}"></p>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 펀딩상세페이지 본문 끝 -->

		<div class="make_donation_area section_padding">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<div class="section_title text-center mb-55">
							<h3>
								<span>영양 기부하기</span>
							</h3>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<form action="#" class="donation_form">
							<div class="row align-items-center justify-content-center">
								<div class="col-md-4">
									<div class="single_amount">
										<!-- 금액 입력 창
										<div class="input_field">
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text" id="basic-addon1">₩</span>
												</div>												
												<input type="number" class="form-control" placeholder="1,000" aria-label="Username" aria-describedby="basic-addon1" min="0">												 
											</div>
										</div>
										-->
									</div>
								</div>
							</div>						
						</form>					
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="donate_now_btn text-center">
																			
							<select class="boxed-btn7">
								<option>펀딩 상품 선택하기</option>
								<option th:text="${l.goodsName}"></option>
							</select>
							<button type="button" class="boxed-btn4" data-toggle="modal" data-target="#exampleModal">펀딩 참여하기</button>
							<div class="fundingDetailSummary_amount">
								<strong>
									총 금액
								</strong>
								<strong class="fundingDetailSummary_number">
									<span>0</span>
									원
								</strong>
							</div>							
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>




<th:block>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:inline="javascript">	
	</script>
</th:block>

</html>