<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default2}">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin_khj.css}"></link>
</head>


<th:block layout:fragment="customContents2">
	<!-- 결제 확인 모달창 -->
	<div th:include="~{common/funding/modal :: modalFragment}"></div>
	<div th:unless="${fundingDetail == null}" th:object="${fundingDetail}">
	
		<!-- 펀딩상세페이지 헤더 시작 -->
		<div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="bradcam_text text-center">
							<h3 style="font-size: 40px;" th:text="*{fundingName}"></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 펀딩상세페이지 헤더 끝 -->

		<!-- 펀딩상세페이지 본문 시작 -->
		<div class="popular_causes_area pt-120 cause_details ">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="single_cause">
							<div class="thumb">
								<img th:src="@{/img/causes/funding1DetaliHeaderimg.jpg}" alt="mainImg">
							</div>
							<div class="causes_content">
								<div class="custom_progress_bar">
									<div class="progress">
										<div class="progress-bar" role="progressbar" th:style="|width: *{achievedRate}%;|" th:aria-valuenow="*{achievedRate}" aria-valuemin="0" aria-valuemax="100">
											<span class="progres_count" th:text="|*{achievedRate} %|"></span>
										</div>
									</div>
								</div>
								<div class="balance d-flex justify-content-between">		
									<span th:text="|*{fundingStartDate} ~ *{fundingEndDate} 까지|" style="color: #999;"></span>								
								</div>
								<div class="balance d-flex justify-content-between align-items-center">								
									<span>달성 금액</span>
									<span th:text="|*{#numbers.formatInteger(achievedAmount, 3, 'COMMA')} 원|" style="color: #3CC78F;"></span>
									<span>목표 금액</span>
									<span th:text="|*{#numbers.formatInteger(fundingGoalAmount, 3, 'COMMA')} 원|" style="color: #3CC78F;"></span>								
								</div>
								<hr>
								<br>
								<br>
								<br>
								<h4 th:text="*{fundingSummary}" style="font-size:25px;"></h4>							
								<p th:text="*{fundingDescription}"></p>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 펀딩상세페이지 본문 끝 -->

		<div class="make_donation_area section_padding">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<div class="section_title text-center mb-55">
							<h3>
								<span>영양 기부하기</span>
							</h3>
						</div>
					</div>
				</div>				
				<div class="row">
					<div class="col-12">
						<div class="donate_now_btn text-center">																			
							<select class="boxed-btn7">
								<option data-goods-price="0">펀딩 상품 선택하기</option>
								<option th:data-goods-price="*{goodsPrice}" th:text="*{goodsName}"></option>
							</select>
							<button type="button" class="boxed-btn4" data-toggle="modal" data-target="#exampleModal">펀딩 참여하기</button>
							<div class="fundingDetailSummary_amount">
								<strong>
									총 금액
								</strong>
								<strong class="fundingDetailSummary_number">
									<span class="fundingAmount">0</span>
									원
								</strong>
							</div>							
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>




<th:block layout:fragment="customJs2">
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:inline="javascript">
	
		// select 요소 변경 이벤트 핸들러
		const $fundingGoodsSelect = document.querySelector('.boxed-btn7');
		
		$fundingGoodsSelect.addEventListener('change', function() {
			let goodsPrice = this.selectedOptions[0].dataset.goodsPrice;
			goodsPrice = Number(goodsPrice).toLocaleString('ko-KR');
			const $fundingAmout = document.querySelector('.fundingAmount');
			$fundingAmout.textContent = goodsPrice;
		});
	  	
		
		$(document).ready(function() {
			$('#exampleModal').on('show.bs.modal', function(event) {
				let selectValue = $('.boxed-btn7').val(); // select 요소의 값 가져오기
		      	if (selectValue == 0) { // 선택된 값이 0인 경우
		        	event.preventDefault(); // 기본 동작 취소
		        	alert("상품을 선택하세요."); // 알림 창 표시
				}
		    });
		});
		
	</script>
</th:block>

</html>