<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<!-- Custom styles for this template -->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<!-- daterangepicker -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>

<th:block layout:fragment="customContents">

		<!-- Begin Page Content -->
		<div class="container-fluid">

		<!-- DataTales Example -->
		<div class="card mb-4">
			<div class="card-header py-3">
				<h5 class="m-0 font-weight-bold text-gray-800">콘텐츠 검색</h5>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered search-table" id="searchdataTable" width="100%" cellspacing="0">
						<tbody>
							<tr>
								<th class="bg-gray-100">통합 검색</th>
								<td><div
										th:include="~{admin/search/donation_search :: donationSearch}"></div></td>
							</tr>
							<tr>
								<th class="bg-gray-100">기간 검색</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										<div class="col-auto">
											<input type="text" id="daterange" class="form-control short-input">
										</div>
									</div>
										&nbsp;
									<button type="submit" class="btn btn-primary" id="dateBtn">검색</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="card mb-4">
				<div class="card-header py-3">
					 <h5 class="m-0 font-weight-bold text-gray-800">콘텐츠 조회</h5>
				</div>
				<div class="card-body">
					<div class="table-responsive">
					<button type="submit" id="delCheckBtn" class="btn btn-secondary btn-icon-split">
						<span class="text">선택삭제</span>
					</button>
						<table class="table table-bordered text-center table-layout-auto table-space" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr class="bg-gray-100">
									<th><input type="checkbox" id="allCheck" /></th>
									<th>코드</th>
									<th>콘텐츠명</th>
									<th>콘텐츠 금액</th>
									<th>상세설명</th>
									<th>등록자</th>
									<th>등록일자</th>
									<th>수정자</th>
									<th>수정일자</th>
									<th>수정</th>
									<th>삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr th:unless="${getDonation == null}" th:each=" l : ${getDonation}">
								<td><input class="checks" type="checkbox" th:value="${l.donationCode}"></td>
									<td th:text="${l.donationCode}"></td>
									<td th:text="${l.donationName}"></td>
									<td th:text="${l.donationPrice}"></td>
									<td th:text="${l.donationDescription}"></td>
									<td th:text="${l.donationRegId}"></td>
									<td th:text="${l.donationRegDate}"></td>
									<td th:text="${l.donationUpdateId}"></td>
									<td th:text="${l.donationUpdateDate}"></td>
									<td>
										<a th:href="@{/admin/donation/donation_modify(donationCode=${l.donationCode})}">수정</a>
									</td>
									<td>
										<a th:href="@{/admin/donation/donation_remove(donationCode=${l.donationCode})}" onclick="if(!confirm('삭제 시 복구할 수 없습니다. 삭제하시겠습니까?')){return false;}">삭제</a>
										
									</td>
								</tr>
								<tr th:if="${getDonation == null}">
									<td colspan="11">등록된 정기기부 콘텐츠 정보가 없습니다.</td>
								</tr>
						</table>
					</div>
								<div style="display: flex; justify-content: center;">
								<button type="button" class="btn btn-primary" id="addBtn">등록하기</button> </div>
				</div>
			</div>

		</div>
		<!-- /.container-fluid -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

</th:block>

<th:block layout:fragment="customJs">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	
	<script type="text/javascript">
		$('#dataTable').DataTable({
			// 정렬 기능 숨기기
			"ordering" : false,
			// 표시 건수기능 숨기기
			"lengthChange" : false,
			// 정보 표시 숨기기
			"info" : false,
			// 검색 기능 숨기기
			"searching" : false,
			// 가로 스크롤바
			"scrollX" : true
		});
		
		// 등록하기
		$('#addBtn').click(function(){
			location.href='/admin/donation/donation_add';
		});

		// 기간 검색
		$(function() {
			 let today = moment();
			 let resetDate = '2023-12-01';
			 
		function setDateRange(startDate, endDate) {
			$('#daterange').data('daterangepicker').setStartDate(startDate);
			$('#daterange').data('daterangepicker').setEndDate(endDate);
		}

		$('#daterange').daterangepicker({
			locale: {
			"separator": " ~ ",
	      	"format": "YYYY-MM-DD",
	      	"applyLabel": "확인",
	      	"cancelLabel": "취소",
	       	"daysOfWeek": ["일", "월", "화", "수", "목", "금", "토"],
	       	"monthNames": ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"]
		},
			applyClass: 'btn-primary btn-sm',
	   	 	cancelClass: 'btn-secondary btn-sm',
		});
	
		$('#daterange').data('daterangepicker').setStartDate(moment(resetDate));
		$('#daterange').data('daterangepicker').setEndDate(moment(today));
			
		
		});
		
		$('#dateBtn').click(function() {

			let startDate = $('#daterange').data('daterangepicker').startDate.format('YYYY-MM-DD');
			let endDate = $('#daterange').data('daterangepicker').endDate.format('YYYY-MM-DD');

			let data = {
							startDate : startDate,
							endDate : endDate
						};
				});
		
		let data = '';
		let query = jQuery.param(data);
		let url = '/admin/donation/donation_list?' + query;
		
		let request = $.ajax({
			type: 'GET',
		    url: url,
		    contentType: 'application/json; charset=UTF-8',
			success : function(data){
				//테이블 초기화
				$('#dataTable > tbody').empty();
				let html = '';
				if(data != null && data.length > 0){
					const getDonation = data;
					for(const donationInfo of getDonation){
						html += '<tr>';
						html += `	<td><input class="checks" type="checkbox" value="${donationInfo.donationCode}"></td>`;
						html += `	<td>${donationInfo.donationName}</td>`;
						html += `	<td>${donationInfo.donationPrice}</td>`;
						html += `	<td>${donationInfo.donationDescription}</td>`;
						html += `	<td>${donationInfo.donationRegId}</td>`;
						html += `	<td>${donationInfo.donationRegDate}</td>`;
						if(donationInfo.donationUpdateId == null){
							html += `	<td>${donationInfo.donationUpdateId}</td>`;
						}else{
							html += `	<td>${donationInfo.donationUpdateDate}</td>`;
							
						}
						html += `<td>
										<a class="btn btn-secondary btn-icon-split btn-sm"
											href="/admin/donation/donation_modify?donationCode=${donationInfo.donationCode}">
											<span class="text">수정</span>
										</a>
									</td>`;
						html += '</tr>';
					};
				}else{
					html += '<tr>';
					html += `	<td><input class="checks" type="checkbox"></td>`;
					html += '	<td colspan="7">등록된 정기기부 콘텐츠 정보가 없습니다.</td>';
					html += '</tr>';
				}
				$('#dataTable > tbody').append(html);
				$('#dataTable').DataTable();
			}
		})
		request.fail(function(jqXHR, textStatus){
			alert(`Request failed: ${textStatus}`);
		});
		
		// 전체 선택
		$('#allCheck').click(function(){
			$('.checks').prop('checked', $(this).prop('checked'));
		});
		$('.checks').click(function(){
			let length = $('.checks').length;
			let checkedLength = $('.checks:checked').length;
			if (length == checkedLength) {
				$('#allCheck').prop('checked', true);
			} else {
				$('#allCheck').prop('checked', false);
			}
		});
		
		// 선택 삭제
		$('#delCheckBtn').click(function(){
				
				const checkedArr = $('.checks:checked');
				console.log(checkedArr);
				
				let length = checkedArr.length;
				
				const valueArr = [];
				let msg = '삭제하시겠습니까?';
				
				if (length == 0) {
					alert('선택된 항목이 없습니다.');
				}
				else {
					let result = confirm(msg);
					
					if(result == true){
						
						$(checkedArr).each(function(){
							valueArr.push($(this).attr('value'));
				        });
						console.log(valueArr);
						
						let request = $.ajax({
							url: '/admin/donation/donation_remove',
							method: 'POST',
							data: { valueArr : valueArr },
							dataType: 'json'
						});
						
						request.done(function(result){
							if(result){
								alert('삭제되었습니다.');
								location.reload();
							}
						});
						
						request.fail(function(jqXHR, textStatus){
							alert(`Request failed: ${textStatus}`);
						});
					}else{
						location.reload();
					}
				}
			});
	</script>
</th:block>
</html>