<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Page Heading -->

		<!-- DataTales Example -->
		<div class="card mb-4">
			<div class="card-header py-3">
				<h5 class="m-0 font-weight-bold text-gray-800">월별 결제 합계 수정</h5>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<form id="modifyDonationMonthPayForm" th:action="@{/admin/donation/donationMonthPay_modify}" method="post">
						<table th:object="${donationMonthPayInfo}" class="table table-bordered freg" id="modifyDonationMonthPay" width="100%" cellspacing="0">
							<tbody>
								<tr>
									<th>코드</th>
									<td><input type="text" id="donationMonthPayCode"
										th:value="*{donationMonthPayCode}" name="donationMonthPayCode"
										style="width: 400px;" readonly="readonly" /></td>
								</tr>
								<tr>
									<th>콘텐츠 코드</th>
									<td><input type="text" id="donationCode"
										th:value="*{donationCode}" name="donationCode"
										style="width: 400px;" readonly="readonly" /></td>
								</tr>
								<tr>
									<th>연도</th>
									<td><input type="number" id="donationMonthPayYear"
										th:value="*{donationMonthPayYear}" name="donationMonthPayYear"
										style="width: 400px;" placeholder="연도를 입력해주세요." /></td>
								</tr>
								<tr>
									<th>월</th>
									<td><input type="number" id="donationMonthPayMonth"
										th:value="*{donationMonthPayMonth}" name="donationMonthPayMonth"
										style="width: 400px;" placeholder="월을 입력해주세요." /></td>
								</tr>
								<tr>
									<th>총 결제금액</th>
									<td><input type="number" id="donationMonthPayAmount"
										th:value="*{donationMonthPayAmount}" name="donationMonthPayAmount"
										style="width: 400px;" placeholder="총 결제금액을 입력해주세요." /><span>원</span></td>
								</tr>
								<tr>
									<th>월 마감 그룹 코드</th>
									<td><input type="text" id="donationMonthPayDeadlineGroup"
										th:value="*{donationMonthPayDeadlineGroup}" name="donationMonthPayDeadlineGroup"
										style="width: 400px;" readonly="readonly" /></td>
								</tr>
								<tr>
									<td colspan="2"> <div style="display: flex; justify-content: center;">
										<button type="submit" class="btn btn-primary" id="modifyBtn">수정</button> &nbsp;
										<button type="button" class="btn btn-primary" id="resetBtn">입력취소</button> </div>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- /.container-fluid -->
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
</th:block>
</th:block>

<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>


	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script type="text/javascript">
		$('#resetBtn').click(function(){
			location.href='/admin/donation/donationMonthPay_list';
		});
	</script>
</th:block>
</html>