<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>

<!-- Custom styles for this template -->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->

			<!-- DataTales Example -->
			<div class="card mb-4">
				<div class="card-header py-3">
					<h5 class="m-0 font-weight-bold text-gray-800">구독 신청 내역 검색</h5>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered search-table" id="searchdataTable" width="100%" cellspacing="0">
							<tbody>
								<tr>
									<th class="bg-gray-100">통합 검색</th>
									<td><div th:include="~{admin/search/donation_search :: donationSubSearch}"></div></td>
								</tr>
								<tr>
									<th class="bg-gray-100">구독 시작일</th>
									<td>
										<div class="form-row align-items-center search-schedule">
											<div class="col-auto">
												<input type="date" class="form-control" id="startDate">
											</div>
											~
											<div class="col-auto">
												<input type="date" class="form-control" id="endDate">
											</div>
											&nbsp;
											<button type="button" class="btn btn-primary" id="dateBtn">검색</button>
										</div>
									</td>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="card mb-4">
				<div class="card-header py-3">
					 <h5 class="m-0 font-weight-bold text-gray-800">구독 신청 내역 조회</h5>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered text-center table-layout-auto table-space" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr class="bg-gray-100">
									<th>코드</th>
									<th>회원 아이디</th>
									<th>콘텐츠</th>
									<th>회원 결제수단</th>
									<th>구독 시작일</th>
									<th>구독 종료일</th>
									<th>수정</th>
									<th>삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr th:unless="${getDonationSub == null}" th:each=" l : ${getDonationSub}">
									<td th:text="${l.donationSubCode}" th:href="@{/admin/donation/donationPayDetail_list}"></td>
									<td th:text="${l.donationSubUserId}"></td>
									<td th:text="${l.donationCode}"></td>
									<td th:text="${l.donationPayMethodCode}"></td>
									<td th:text="${l.donationSubStartDate}"></td>
									<td th:text="${l.donationSubEndDate}"></td>
									<td>
										<a th:href="@{/admin/donation/donationSub_modify(donationSubCode=${l.donationSubCode})}">수정</a>
									</td>
									<td>
										<a th:href="@{/admin/donation/donationSub_remove(donationSubCode=${l.donationSubCode})}" onclick="if(!confirm('삭제 시 복구할 수 없습니다. 삭제하시겠습니까?')){return false;}">삭제</a>
										
									</td>
								</tr>
								<tr th:if="${getDonationSub == null}">
									<td colspan="11">등록된 정기기부 구독 신청 정보가 없습니다.</td>
								</tr>
						</table>
					</div>
						<div style="display: flex; justify-content: center;">
						<button type="submit" class="btn btn-primary" id="addBtn">등록하기</button></div>
				</div>
			</div>

		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.container-fluid -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- /.container-fluid -->
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

</th:block>

<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>


	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script type="text/javascript">
		$('#dataTable').DataTable({
			"ordering" : false 
		});
		$('#addBtn').click(function(){
			location.href='/admin/donation/donationSub_add';
		});
	</script>
</th:block>
</html>