<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Page Heading -->

		<!-- DataTales Example -->
		<div class="card mb-4">
			<div class="card-header py-3">
				<h5 class="m-0 font-weight-bold text-gray-800">구독 결제 상세 수정</h5>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<form id="modifyDonationPayDetailForm" th:action="@{/admin/donation/donationPayDetail_modify}" method="post">
						<table th:object="${donationPayDetailInfo}" class="table table-bordered freg" id="modifyDonationPayDetail" width="100%" cellspacing="0">
							<tbody>
								<tr>
									<th>코드</th>
									<td><input type="text" id="donationPayDetailCode"
										th:value="*{donationPayDetailCode}" name="donationPayDetailCode"
										style="width: 400px;" readonly="readonly" /></td>
								</tr>
								<tr>
									<th>회원 아이디</th>
									<td><input type="text" id="donationPayUserId"
										th:value="*{donationPayUserId}" name="donationPayUserId"
										style="width: 400px;"  readonly="readonly" /></td>
								</tr>
								<tr>
									<th>구독 신청 코드</th>
									<td><input type="text" id="donationSubCode"
										th:value="*{donationSubCode}" name="donationSubCode"
										style="width: 400px;" readonly="readonly" /></td>
								</tr>
								<tr>
									<th>콘텐츠 코드</th>
									<td><input type="text" id="donationCode"
										th:value="*{donationCode}" name="donationCode"
										style="width: 400px;" readonly="readonly" /></td>
								</tr>
								<tr>
									<th>결제수단 코드</th>
									<td><input type="text" id="donationPayMethodCode"
										th:value="*{donationPayMethodCode}" name="donationPayMethodCode"
										style="width: 400px;" readonly="readonly" /></td>
								</tr>
								<tr>
									<th>결제금액</th>
									<td><input type="number" id="donationPayAmount"
										th:value="*{donationPayAmount}" name="donationPayAmount"
										style="width: 400px;" placeholder="결제금액을 입력해주세요." /><span>원</span></td>
								</tr>
								<tr>
									<th>수수료</th>
									<td><input type="number" id="donationPaySalesCommission"
										th:value="*{donationPaySalesCommission}" name="donationPaySalesCommission"
										style="width: 400px;" placeholder="수수료를 입력해주세요." /><span>원</span></td>
								</tr>
								<tr>
									<th>매입예산</th>
									<td><input type="number" id="donationPayPurchaseBudget"
										th:value="*{donationPayPurchaseBudget}" name="donationPayPurchaseBudget"
										style="width: 400px;" placeholder="매입예산을 입력해주세요." /><span>원</span></td>
								</tr>

								<tr>
									<th>결제일</th>
									<td><input type="text" id="donationPayDate"
										th:value="*{donationPayDate}"
										name="donationPayDate" style="width: 400px;" readonly="readonly" /></td>
								<tr>
									<th>환불 요청 여부</th>
									<td><select name="donationPayRefundRequest" id="donationPayRefundRequest">
											<option value="option1">:: 환불 요청 ::</option>
											<option value="1">요청 O</option>
											<option value="0">요청 X</option>
									</select></td>
								</tr>
								<tr>
									<th>매출 그룹 코드</th>
									<td><input type="text" id="donationPaySalesGroup"
										th:value="*{donationPaySalesGroup}" name="donationPaySalesGroup"
										style="width: 400px;" readonly="readonly" /></td>
								</tr>
								<tr>
									<th>마감 유무</th>
									<td><select name="donationPayDeadlineCheck" id="donationPayDeadlineCheck">
											<option value="option1">:: 마감 ::</option>
											<option value="마감전">마감전</option>
											<option value="마감완료">마감완료</option>
									</select></td>
								</tr>
								<tr>
									<td colspan="2"> <div style="display: flex; justify-content: center;">
										<button type="submit" class="btn btn-primary" id="modifyBtn">수정</button> &nbsp;
										<button type="button" class="btn btn-primary" id="resetBtn">입력취소</button></div>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- /.container-fluid -->
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
</th:block>
</th:block>

<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>


	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script type="text/javascript">
		$('#resetBtn').click(function(){
			location.href='/admin/donation/donationPayDetail_list';
		});
	</script>
</th:block>
</html>