<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>

<!-- Custom styles for this template -->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->

			<!-- DataTales Example -->
			<div class="card mb-4">
				<div class="card-header py-3">
					<h5 class="m-0 font-weight-bold text-gray-800">월별 결제 합계 검색</h5>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<div
							th:include="~{admin/search/donation_search :: donationMonthPaySearch}"></div>
					</div>
				</div>
			</div>
			
			<div class="card mb-4">
				<div class="card-header py-3">
					 <h5 class="m-0 font-weight-bold text-gray-800">월별 결제 합계 조회</h5>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered table-layout-auto table-space" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>코드</th>
									<th>콘텐츠</th>
									<th>연도</th>
									<th>월</th>
									<th>총 결제금액</th>
									<th>월 마감 그룹코드</th>
									<th>수정</th>
									<th>삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr th:unless="${getDonationMonthPay == null}" th:each=" l : ${getDonationMonthPay}">
									<td th:text="${l.donationMonthPayCode}"></td>
									<td th:text="${l.donationCode}"></td>
									<td th:text="${l.donationMonthPayYear}"></td>
									<td th:text="${l.donationMonthPayMonth}"></td>
									<td th:text="${l.donationMonthPayAmount}"></td>
									<td th:text="${l.donationMonthPayDeadlineGroup}"></td>
									<td>
										<a th:href="@{/admin/donation/donationMonthPay_modify(donationMonthPayCode=${l.donationMonthPayCode})}">수정</a>
									</td>
									<td>
										<a th:href="@{/admin/donation/donationMonthPay_remove(donationMonthPayCode=${l.donationMonthPayCode})}" onclick="if(!confirm('삭제 시 복구할 수 없습니다. 삭제하시겠습니까?')){return false;}">삭제</a>
										
									</td>
								</tr>
								<tr th:if="${getDonationMonthPay == null}">
									<td colspan="11">등록된 정기기부 월별 결제 합계 정보가 없습니다</td>
								</tr>
						</table>
					</div>
						<div style="display: flex; justify-content: center;">
						<button type="button" class="btn btn-primary" id="addBtn">등록하기</button></div>
				</div>
			</div>

		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.container-fluid -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- /.container-fluid -->
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

</th:block>

<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>


	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script type="text/javascript">
		$('#dataTable').DataTable({
			"ordering" : false 
		});
		$('#addBtn').click(function(){
			location.href='/admin/donation/donationMonthPay_add';
		});
	</script>
</th:block>
</html>