<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>

<!-- Custom styles for this template -->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->

			<!-- DataTales Example -->
			<div class="card mb-4">
				<div class="card-header py-3">
					 <h5 class="m-0 font-weight-bold text-gray-800">정기기부 구독 결제 상세 조회</h5>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered table-layout-auto table-space" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>코드</th>
									<th>회원 아이디</th>
									<th>구독 신청</th>
									<th>콘텐츠</th>
									<th>결제수단</th>
									<th>결제금액</th>
									<th>수수료</th>
									<th>매입예산</th>
									<th>결제일</th>
									<th>환불요청여부</th>
									<th>매출그룹코드</th>
									<th>마감유무</th>
									<th>수정</th>
									<th>삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr th:unless="${getDonationPayDetail == null}" th:each=" l : ${getDonationPayDetail}">
									<td th:text="${l.donationPayDetailCode}"></td>
									<td th:text="${l.donationPayUserId}"></td>
									<td th:text="${l.donationSubCode}"></td>
									<td th:text="${l.donationCode}"></td>
									<td th:text="${l.donationPayMethodCode}"></td>
									<td th:text="${l.donationPayAmount}"></td>
									<td th:text="${l.donationPaySalesCommission}"></td>
									<td th:text="${l.donationPayPurchaseBudget}"></td>
									<td th:text="${l.donationPayDate}"></td>
									<td th:text="${l.donationPayRefundRequest}"></td>
									<td th:text="${l.donationPaySalesGroup}"></td>
									<td th:text="${l.donationPayDeadlineCheck}"></td>
									<td>
										<a th:href="@{/admin/donation/donationPayDetail_modify(donationPayDetailCode=${l.donationPayDetailCode})}">수정</a>
									</td>
									<td>
										<a th:href="@{/admin/donation/donationPayDetail_remove(donationPayDetailCode=${l.donationPayDetailCode})}" onclick="if(!confirm('삭제 시 복구할 수 없습니다. 삭제하시겠습니까?')){return false;}">삭제</a>
										
									</td>
								</tr>
								<tr th:if="${getDonationPayDetail == null}">
									<td colspan="11">등록된 정기기부 구독 결제 상세 정보가 없습니다.</td>
								</tr>
						</table>
					</div>
						<div style="display: flex; justify-content: center;">
						<button type="button" class="btn btn-primary" id="addBtn"
								onclick="location.href='/admin/donation/donationPayDetail_add'">등록하기</button></div>
				</div>
			</div>

		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.container-fluid -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- /.container-fluid -->
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

</th:block>

<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>


	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
</th:block>
</html></html>