<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<!-- Custom styles for this template -->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<th:block layout:fragment="customContents">

		<!-- Begin Page Content -->
		<div class="container-fluid">

		<!-- DataTales Example -->
		<div class="card mb-4">
			<div class="card-header py-3">
				<h5 class="m-0 font-weight-bold text-gray-800">환불 검색</h5>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered search-table" id="searchdataTable" width="100%" cellspacing="0">
						<tbody>
							<tr>
								<th class="bg-gray-100">통합 검색</th>
								<td><div th:include="~{admin/search/donation_search :: donationRefundSearch}"></div></td>
							</tr>
							<tr>
								<th class="bg-gray-100">기간 검색</th>
								<td>
									<div class="form-row align-items-center search-schedule">
										<div class="col-auto">
											<input type="date" class="form-control" id="startDate">
										</div>
										~
										<div class="col-auto">
											<input type="date" class="form-control" id="endDate">
										</div>
										&nbsp;
										<button type="button" class="btn btn-primary" id="dateBtn">검색</button>
									</div>
								</td>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="card mb-4">
				<div class="card-header py-3">
					 <h5 class="m-0 font-weight-bold text-gray-800">환불 조회</h5>
				</div>
			<div class="card-body">
					<div class="table-responsive">
					<button type="submit" id="delCheckBtn" class="btn btn-secondary btn-icon-split">
						<span class="text">선택삭제</span>
					</button>
						<table class="table table-bordered text-center table-layout-auto table-space" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr class="bg-gray-100">
									<th><input type="checkbox" id="allCheck" /></th>
									<th>코드</th>
									<th>회원 아이디</th>
									<th>결제 상세</th>
									<th>요청일자</th>
									<th>요청금액</th>
									<th>요청사유</th>
									<th>은행명</th>
									<th>계좌번호</th>
									<th>처리상태</th>
									<th>승인일자</th>
									<th>반려일자</th>
									<th>등록자</th>
									<th>등록일자</th>
									<th>수정자</th>
									<th>수정일자</th>
									<th>수정</th>
									<th>삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr th:unless="${getDonationRefund == null}" th:each=" l : ${getDonationRefund}">
									<td><input class="checks" type="checkbox" th:value="${l.donationRefundCode}"></td>
									<td th:text="${l.donationRefundCode}"></td>
									<td th:text="${l.donationRefundUserId}"></td>
									<td th:text="${l.donationPayDetailCode}"></td>
									<td th:text="${l.donationRefundRequestDate}"></td>
									<td th:text="${l.donationRefundRequestAmount}"></td>
									<td th:text="${l.donationRefundRequestReason}"></td>
									<td th:text="${l.donationRefundBank}"></td>
									<td th:text="${l.donationRefundAccount}"></td>
									<td th:text="${l.donationRefundStatus}"></td>
									<td th:text="${l.donationRefundApprovalDate}"></td>
									<td th:text="${l.donationRefundRejectionDate}"></td>
									<td th:text="${l.donationRefundRegId}"></td>
									<td th:text="${l.donationRefundRegDate}"></td>
									<td th:text="${l.donationRefundUpdateId}"></td>
									<td th:text="${l.donationRefundUpdateDate}"></td>
									<td>
										<a th:href="@{/admin/donation/donationRefund_modify(donationRefundCode=${l.donationRefundCode})}">수정</a>
									</td>
									<td>
										<a th:href="@{/admin/donation/donationRefund_remove(donationRefundCode=${l.donationRefundCode})}" onclick="if(!confirm('삭제 시 복구할 수 없습니다. 삭제하시겠습니까?')){return false;}">삭제</a>
										
									</td>
								</tr>
								<tr th:if="${getDonationRefund == null}">
									<td colspan="11">등록된 정기기부 환불 정보가 없습니다.</td>
								</tr>
						</table>
					</div>
								<div style="display: flex; justify-content: center;">
								<button type="button" class="btn btn-primary" id="addBtn">등록하기</button> </div>
				</div>
			</div>

		</div>
		<!-- /.container-fluid -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
</th:block>

<th:block layout:fragment="customJs">
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script type="text/javascript">
		$('#dataTable').DataTable({
			// 정렬 기능 숨기기
			"ordering" : false,
			// 표시 건수기능 숨기기
			"lengthChange" : false,
			// 정보 표시 숨기기
			"info" : false,
			// 검색 기능 숨기기
			"searching" : false,
			// 가로 스크롤바
			"scrollX" : true
		});
		
		// 등록하기
		$('#addBtn').click(function(){
			location.href='/admin/donation/donationRefund_add';
		});
		
		// 전체 선택
		$('#allCheck').click(function(){
			$('.checks').prop('checked', $(this).prop('checked'));
		});
		$('.checks').click(function(){
			let length = $('.checks').length;
			let checkedLength = $('.checks:checked').length;
			if (length == checkedLength) {
				$('#allCheck').prop('checked', true);
			} else {
				$('#allCheck').prop('checked', false);
			}
		});
		
		// 선택 삭제
		$('#delCheckBtn').click(function(){
				
				const checkedArr = $('.checks:checked');
				console.log(checkedArr);
				
				let length = checkedArr.length;
				
				const valueArr = [];
				let msg = '삭제하시겠습니까?';
				
				if (length == 0) {
					alert('선택된 항목이 없습니다.');
				}
				else {
					let result = confirm(msg);
					
					if(result == true){
						
						$(checkedArr).each(function(){
							valueArr.push($(this).attr('value'));
				        });
						console.log(valueArr);
						
						let request = $.ajax({
							url: '/admin/donation/donationRefund_remove',
							method: 'POST',
							data: { valueArr : valueArr },
							dataType: 'json'
						});
						
						request.done(function(result){
							if(result){
								alert('삭제되었습니다.');
								location.reload();
							}
						});
						
						request.fail(function(jqXHR, textStatus){
							alert(`Request failed: ${textStatus}`);
						});
					}else{
						location.reload();
					}
				}
			});
	</script>
</th:block>
</html>