<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<!-- Custom styles for this template -->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">
	
<p> **회원이 신청하면 그 폼 가져와서 처리상태 등록하면 등록자, 등록일자 포함된 리스트로 조회</p>
		
		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h5 class="m-0 font-weight-bold text-gray-800">환불 요청 확인</h5>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<form th:action="@{/admin/donation/donationRefund_add}"
						method="POST" id="addDonationRefundForm"
						name="addDonationRefundForm">
						<table class="table table-bordered freg" id="addDonationRefund" width="100%" cellspacing="0">
							<tbody>
								<tr>
									<th>회원 아이디</th>
									<td><input type="text" id="donationRefundUserId" name="donationRefundUserId" 
										style="width: 400px;" placeholder="유저 신청에서 값 가져오기 리드온리" /></td>
								</tr>
								<tr>
									<th>결제 상세 코드</th>
									<td>
									<select id="donationPayDetailCode" name="donationPayDetailCode" style="width: 400px;">
											<th:block th:unless="${donationPayDetailCode == null}" th:each="l : ${donationPayDetailCode}">
												<option th:value="${l.donationPayDetailCode}">[[${l.donationPayDetailCode}]]</option>
											</th:block>
											<th:block th:if="${donationPayDetailCode == null}">
												<option>등록된 결제 상세 코드 정보가 없습니다.</option>
											</th:block>
									</select>
									</td>
								</tr>
								<tr>
									<th>요청일자</th>
									<td><input type="datetime-local" id="donationRefundRequestDate" name="donationRefundRequestDate" style="width: 400px;" /></td>
								</tr>
								<tr>
									<th>요청금액</th>
									<td><input type="number" id="donationRefundRequestAmount" name="donationRefundRequestAmount" 
										style="width: 400px;" placeholder="유저 신청에서 값 가져오기 리드온리" /><span>원</span></td>
								</tr>
								<tr>
									<th>요청사유</th>
									<td><input type="text" id="donationRefundRequestReason" name="donationRefundRequestReason" 
										style="width: 400px; height: 200px;" placeholder="유저 신청에서 값 가져오기 리드온리" /></td>
								</tr>
								<tr>
									<th>은행명</th>
									<td><input type="text" id="donationRefundBank" name="donationRefundBank" 
										style="width: 400px;" placeholder="유저 신청에서 값 가져오기 리드온리" /></td>
								</tr>
								<tr>
									<th>계좌번호</th>
									<td><input type="text" id="donationRefundAccount" name="donationRefundAccount" 
										style="width: 400px;" placeholder="유저 신청에서 값 가져오기 리드온리" /></td>
								</tr>
								<tr>
									<th>요청처리</th>
									<td><select id="donationRefundStatus" name="donationRefundStatus">
											<option value="환불 전">환불 전</option>
											<option value="환불 완료">환불 완료</option>
									</select></td>
								</tr>
								<tr>
									<td colspan="3"> <div style="display: flex; justify-content: center;">
										<button type="button" class="btn btn-primary" id="addBtn">신청</button> &nbsp;
										<button type="button" class="btn btn-primary" id="resetBtn">입력취소</button> </div>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
		<!-- container-fluid -->
		
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
</th:block>

<th:block layout:fragment="customJs">
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script type="text/javascript">
		$(document).on('click','#addBtn', function(){
			const addDonationRefundForm = $('#addDonationRefundForm');
			const addDonationFormInputs = addDonationRefundForm.find('input');
			let isSubmit = true;
			$(addDonationFormInputs).each((idx, item) => {
				let validationCheck = $(item).parents('tr').children().eq(0).text();
				let validationValue = $(item).val();
				if(typeof validationValue == 'undefined' || validationValue == null || validationValue == ''){
					alert(`${validationCheck} 필수 입력 항목입니다.`);
					$(item).focus();
					isSubmit = false;
					return false;
				}
			});
			if(isSubmit) addDonationRefundForm.submit();
		})
		$('#resetBtn').click(function(){
			location.href='/admin/donation/donationRefund_list';
		});
	</script>
</th:block>
</html>