<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

<th:block layout:fragment="customContents">
	
	<!-- Begin Page Content -->
	<div class="container-fluid">
	
	    <!-- Page Heading -->
	    
	    <!-- DataTales Example -->
     	<div class="card mb-4">
        	 <div class="card-header py-3">
             	<h5 class="m-0 font-weight-bold text-gray-800">월별 결제 합계 등록</h5>
        	 </div>
         <div class="card-body">
				<div class="table-responsive">
					<form th:action="@{/admin/donation/donationMonthPay_add}" method="POST"
						id="addDonationMonthPayForm" name="addDonationMonthPayForm">
						<table th:object="${donationMonthPayInfo}" class="table table-bordered freg" id="addDonationMonthPay"
							width="100%" cellspacing="0">
							<tbody>
								<tr>
									<th>코드</th>
									<td><input type="text" id="donationMonthPayCode"
										name="donationMonthPayCode" style="width: 400px;" placeholder="자동증가코드 ! !"/></td>
								</tr>
								<tr>
									<th>콘텐츠 코드</th>
									<td>
									<select id="donationCode" name="donationCode" style="width: 400px;">
											<th:block th:unless="${donationCode == null}"
												th:each="l : ${donationCode}">
												<option th:value="${l.donationCode}">[[${l.donationCode}]]</option>
											</th:block>
											<th:block th:if="${donationCode == null}">
												<option>등록된 콘텐츠 코드 정보가 없습니다.</option>
											</th:block>
									</select>
									</td>
								</tr>
								<tr>
									<th>연도</th>
									<td><input type="number" id="donationMonthPayYear"
										name="donationMonthPayYear" style="width: 400px;" placeholder="연도를 입력해주세요."/></td>
								</tr>
								<tr>
									<th>월</th>
									<td><input type="number" id="donationMonthPayMonth"
										name="donationMonthPayMonth" style="width: 400px;" placeholder="월을 입력해주세요."/></td>
								</tr>
								<tr>
									<th>총 결제금액</th>
									<td><input type="number" id="donationMonthPayAmount"
										name="donationMonthPayAmount" style="width: 400px;" placeholder="총 결제금액을 입력해주세요."/><span>원</span></td>
								</tr>
								<tr>
									<th>월 마감 그룹코드</th>
									<td><input type="text" id="donationMonthPayDeadlineGroup"
												name="donationMonthPayDeadlineGroup" style="width: 400px;" placeholder="자동증가코드 ! !"/></td>
								</tr>
								<tr>
									<td colspan="3"> <div style="display: flex; justify-content: center;">
										<button type="button" class="btn btn-primary" id="addBtn">등록</button> &nbsp;
										<button type="button" class="btn btn-primary" id="resetBtn">입력취소</button> </div>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
    	</div>
	</div>
	
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- /.container-fluid -->
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
</th:block>

<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>


	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script type="text/javascript">
		$(document).on('click','#addBtn', function(){
			const addDonationMonthPayForm = $('#addDonationMonthPayForm');
			const addDonationFormInputs = addDonationMonthPayForm.find('input');
			let isSubmit = true;
			$(addDonationFormInputs).each((idx, item) => {
				let validationCheck = $(item).parents('tr').children().eq(0).text();
				let validationValue = $(item).val();
				if(typeof validationValue == 'undefined' || validationValue == null || validationValue == ''){
					alert(`${validationCheck} 필수 입력 항목입니다.`);
					$(item).focus();
					isSubmit = false;
					return false;
				}
			});
			if(isSubmit) addDonationMonthPayForm.submit();
		})
		$('#resetBtn').click(function(){
			location.href='/admin/donation/donationMonthPay_list';
		});
	</script>
</th:block>
</html>