<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

<th:block layout:fragment="customContents">
	
	<!-- Begin Page Content -->
	<div class="container-fluid">
	
	    <!-- Page Heading -->
	    
	    <!-- DataTales Example -->
     	<div class="card mb-4">
        	 <div class="card-header py-3">
             	<h5 class="m-0 font-weight-bold text-gray-800">결제수단 등록(유저)</h5>
        	 </div>
         <div class="card-body">
				<div class="table-responsive">
					<form th:action="@{/admin/donation/donationPayMethod_add}" method="POST"
						id="addDonationPayMethodForm" name="addDonationPayMethodForm">
						<table class="table table-bordered freg" id="addDonationPayDetail"
							width="100%" cellspacing="0">
							<tbody>
								<tr>
									<th>회원 아이디</th>
									<td><input type="text" id="donationPayMethodUserId"
										name="donationPayMethodUserId" style="width: 400px;"
										placeholder="회원 아이디를 입력해주세요." /></td>
								</tr>
								<tr>
									<th>결제 방식</th>
									<td>
										<select id="paymentCode" name="paymentCode" style="width: 400px;">
											<th:block th:unless="${paymentCode == null}"
												th:each="l : ${paymentCode}">
												<option th:value="${l.paymentCode}">[[${l.paymentCode}]]</option>
											</th:block>
											<th:block th:if="${paymentCode == null}">
												<option>등록된 결제 방식 정보가 없습니다.</option>
											</th:block>
										</select>
									</td>
								</tr>
								<tr>
									<th>은행명</th>
									<td><input type="text" id="donationPayMethodBank"
										name="donationPayMethodBank" style="width: 400px;"
										placeholder="결제 은행명을 입력해주세요." /></td>
								</tr>
								<tr>
									<th>계좌번호</th>
									<td><input type="number" id="donationPayMethodAccount"
										name="donationPayMethodAccount" style="width: 400px;"
										placeholder="결제 계좌번호를 입력해주세요." /></td>
								</tr>
								<tr> 
									<td colspan="3"> <div style="display: flex; justify-content: center;">
										<button type="button" class="btn btn-primary" id="addBtn">신청</button> &nbsp;
										<button type="button" class="btn btn-primary" id="resetBtn">입력취소</button> </div>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
    	</div>
	</div>
	
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- /.container-fluid -->
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
</th:block>

<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>


	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script type="text/javascript">
		$(document).on('click','#addBtn', function(){
			const addDonationPayMethodForm = $('#addDonationPayMethodForm');
			const addDonationFormInputs = addDonationPayMethodForm.find('input');
			let isSubmit = true;
			$(addDonationFormInputs).each((idx, item) => {
				let validationCheck = $(item).parents('tr').children().eq(0).text();
				let validationValue = $(item).val();
				if(typeof validationValue == 'undefined' || validationValue == null || validationValue == ''){
					alert(`${validationCheck} 필수 입력 항목입니다.`);
					$(item).focus();
					isSubmit = false;
					return false;
				}
			});
			if(isSubmit) addDonationPayMethodForm.submit();
		})
		$('#resetBtn').click(function(){
			location.href='/admin/donation/donationPayMethod_list';
		});
	</script>
</th:block>
</html></html>