<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<!-- Custom styles for this page -->
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
	rel="stylesheet">
</head>

<th:block layout:fragment="customContents">
	<!-- Begin Page Content -->
	<div class="container-fluid">
<p> **요청금액, 사유, 은행명, 계좌번호, 요청처리, 승인일자/반려일자, 수정자 수정하면 수정일자 포함된 리스트로 조회</p>
		<!-- Page Heading -->
<div class="card mb-4">
			<div class="card-header py-3">
				<h5 class="m-0 font-weight-bold text-gray-800">환불 수정</h5>
			</div>
			<div class="card-body">
				<div class="card-body">
				<div class="table-responsive">
					<form id="modifyDonationRefundForm" th:action="@{/admin/donation/donationRefund_modify}" method="post">
						<table th:object="${donationRefundInfo}" class="table table-bordered freg" id="modifyDonationRefund" width="100%" cellspacing="0">
								<tbody>
									<tr>
										<th>코드</th>
										<td><input type="text" id="donationRefundCode"
											th:value="*{donationRefundCode}"
											name="donationRefundCode" style="width: 400px;" readonly="readonly" /></td>
									</tr>
									<tr>
										<th>회원 아이디</th>
										<td><input type="text" id="donationRefundUserId"
											th:value="*{donationRefundUserId}"
											name="donationRefundUserId" style="width: 400px;" readonly="readonly" /></td>
									</tr>
									<tr>
										<th>결제 상세 코드</th>
										<td><select id="donationPayDetailCode"
											name="donationPayDetailCode" style="width: 400px;">
												<th:block th:unless="${donationPayDetailCode == null}"
													th:each="l : ${donationPayDetailCode}">
													<option th:value="${l.donationPayDetailCode}">[[${l.donationPayDetailCode}]]</option>
												</th:block>
												<th:block th:if="${donationPayDetailCode == null}">
													<option>등록된 결제 상세 코드 정보가 없습니다.</option>
												</th:block>
										</select></td>
									</tr>
									<tr>
										<th>요청일자</th>
										<td><input type="text" id="donationRefundRequestDate"
											th:value="*{donationRefundRequestDate}"
											name="donationRefundRequestDate" style="width: 400px;"readonly="readonly" /></td>
									</tr>
									<tr>
										<th>요청금액</th>
										<td><input type="number" id="donationRefundRequestAmount"
											th:value="*{donationRefundRequestAmount}"
											name="donationRefundRequestAmount" style="width: 400px;"/><span>원</span></td>
									</tr>
									<tr>
										<th>요청사유</th>
										<td><input type="text" id="donationRefundRequestReason"
											th:value="*{donationRefundRequestReason}"
											name="donationRefundRequestReason" style="width: 400px; height: 200px;"/></td>
									</tr>
									<tr>
										<th>은행명</th>
										<td><input type="text" id="donationRefundBank"
											th:value="*{donationRefundBank}"
											name="donationRefundBank" style="width: 400px;"/></td>
									</tr>
									<tr>
										<th>계좌번호</th>
										<td><input type="text" id="donationRefundAccount"
											th:value="*{donationRefundAccount}"
											name="donationRefundAccount" style="width: 400px;"/></td>
									</tr>
									<tr>
										<th>요청처리</th>
										<td><select id="donationRefundStatus" name="donationRefundStatus">
												<option value="환불 전">환불 전</option>
												<option value="환불 완료">환불 완료</option>
										</select></td>
									</tr>
									<tr>
										<th>승인일자</th>
										<td><input type="datetime-local" id="donationRefundApprovalDate"
											th:value="*{donationRefundApprovalDate}"
											name="donationRefundApprovalDate" style="width: 400px;"/></td>
									</tr>
									<tr>
										<th>반려일자</th>
										<td><input type="datetime-local" id="donationRefundRejectionDate"
											th:value="*{donationRefundRejectionDate}"
											name="donationRefundRejectionDate" style="width: 400px;"/></td>
									</tr>
									<tr>
										<th>등록자</th>
										<td><input type="text" id="donationRefundRegId"
											th:value="*{donationRefundRegId}"
											name="donationRefundRegId" style="width: 400px;" readonly="readonly"/></td>
									</tr>
									<tr>
										<th>등록일자</th>
										<td><input type="text" id="donationRefundRegDate"
											th:value="*{donationRefundRegDate}"
											name="donationRefundRegDate" style="width: 400px;" readonly="readonly"/></td>
									</tr>
									<tr>
										<th>수정자</th>
										<td><input type="text" id="donationRefundUpdateId"
											th:value="*{donationRefundUpdateId}"
											name="donationRefundUpdateId" style="width: 400px;"/></td>
									</tr>
									<tr>
									<td colspan="2"> <div style="display: flex; justify-content: center;">
										<button type="submit" class="btn btn-primary" id="modifyBtn">수정</button> &nbsp;
										<button type="button" class="btn btn-primary" id="resetBtn">입력취소</button> </div>
									</td>
								</tr>
								</tbody>
							</table>
						</form>
					</div>
			</div>
		</div>
	</div>
</div>
	<!-- container-fluid -->
</th:block>

<!-- 사용자정의 Js 페이지 -->
<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{../../vendor/datatables/jquery.dataTables.min.js}"></script>
	<script
		th:src="@{../../vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{../../js/demo/datatables-demo.js}"></script>
	<script type="text/javascript">
		$('#resetBtn').click(function(){
			location.href='/admin/donation/donationRefund_list';
		});
	</script>
</th:block>
</html>