<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<!-- Custom styles for this page -->
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
	rel="stylesheet">
</head>

<th:block layout:fragment="customContents">
	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">정기기부 환불 등록</h1>
		<p class="mb-4">
			정기기부 환불 등록 - 초안 23-04-21 AM 12:16(LBR)<br> 회원이 작성한 환불 문의폼에서 곧장
			승인/반려 버튼을 통하여 해당 페이지로 이동<br> 아이디는 환불폼 작성자 아이디가 자동으로 끌려옴<br>
			하나의 결제 건에 해당하여 환불 가능. 부분 환불 불가능.<br> 회원 결제 조회 -> 하나의 결제 옆 환불 신청
			버튼 -> 회원 환불폼 -> 환불폼 조회 -> 환불 처리 등록 -> 전체 환불 조회
		</p>

		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">정기기부 환불 등록</h6>
			</div>
			<div class="card-body">
				<br>
				<!-- 회원 아이디(자동)|해당 결제 건(자동)|요청 일자(자동-폼 작성시점)|금액|은행명|환불 계좌|요청 사유|처리 상태 -->

				<!-- 등록 테이블 -->
				<form>
					<div class="table-responsive">
						<table class="table table-bordered search-table"
							id="searchdataTable" width="100%" cellspacing="0">
							<tbody>
								<tr>
									<th class="bg-gray-100">회원 아이디</th>
									<td><input type="text"
										class="form-control form-control-user-search"
										id="purchase-search" readonly="readonly"></td>
								</tr>
								<tr>
									<th class="bg-gray-100">요청 일자</th>
									<td><input type="date"
										class="form-control form-control-user-search"
										id="purchase-search" readonly="readonly"></td>
								</tr>
								<tr>
									<th class="bg-gray-100">해당<br>결제 건
									</th>
									<td><input type="text"
										class="form-control form-control-user-search"
										id="purchase-search" readonly="readonly"></td>
								</tr>
								<tr>
									<th class="bg-gray-100">금액</th>
									<td><input type="text"
										class="form-control form-control-user-search"
										id="purchase-search" readonly="readonly"></td>
								</tr>

								<tr>
									<th class="bg-gray-100">은행명</th>
									<td><input type="text"
										class="form-control form-control-user-search"
										id="purchase-search"></td>
								</tr>
								<tr>
									<th class="bg-gray-100">환불 계좌</th>
									<td><input type="text"
										class="form-control form-control-user-search"
										id="purchase-search"></td>
								</tr>

								<tr>
									<th class="bg-gray-100">요청 사유</th>
									<td><input type="text"
										class="form-control form-control-user-search"
										id="purchase-insert"></td>
								</tr>
								<tr>
									<th class="bg-gray-100">요청 처리</th>
									<td><select
										class="dropdown btn btn-primary dropdown-toggle"
										id="dropdownMenuButton" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false">
											<option value="option1">:: 요청 처리 분류 ::</option>
											<option value="option2">승인</option>
											<option value="option2">반려</option>
									</select></td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
				<div class="mx-auto" style="width: 230px;">
					<button type="submit" class="btn btn-primary">
						<span class="text text-gray-100">요청 처리</span>
					</button>
					<button type="reset" class="btn btn-primary"
						style="margin-left: 10px;">
						<span class="text text-gray-100">취소</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- container-fluid -->
</th:block>

<!-- 사용자정의 Js 페이지 -->
<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{../../vendor/datatables/jquery.dataTables.min.js}"></script>
	<script
		th:src="@{../../vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{../../js/demo/datatables-demo.js}"></script>
</th:block>
</html>