<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	<link href="/css/admin_kgr9.css" rel="stylesheet">
</head>
<th:block layout:fragment="customContents">
	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">상품 등록</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<form id="addGoodsForm" th:action="@{/admin/goods/add_goods}" method="post">
							<table class="table table-bordered search-table-gr" width="100%" cellspacing="0">
								<tbody>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsName">상품명</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="goodsName" name="goodsName" placeholder="상품명을 입력해주세요."/>
												&nbsp;
												<button type="button" id="checkBtn" class="btn btn-primary btn-icon-split">
													<span class="text">중복확인</span>
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsCategory">상품 분류</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												&nbsp;
												 <select class="dropdown btn btn-primary required-form" id="selectCategory" name="selectCategory" onchange="goodsCate(this.value)">
													<option value="">:: 상품 분류 ::</option>
													<th:block th:unless="${goodsCategoryList == null}" th:each="l : ${goodsCategoryList}">
														<option th:value="${l.goodsCategory}" th:selected="${l.goodsCategory} == *{goodsCategory}">[[${l.goodsCategory}]]</option>
													</th:block>
													<th:block th:if="${goodsCategoryList == null}">
														<option>등록된 상품분류가 없습니다.</option>
													</th:block>
												</select>
											</div>
											<div class="form-row align-items-center search-schedule">
												&nbsp;
												<input type="hidden" class="form-control form-control-user-search short-input"
													id="goodsCategory" name="goodsCategory" placeholder="상품 분류를 선택해주세요." />
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsCompany">제조사</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="goodsCompany" name="goodsCompany" placeholder="제조사를 입력해주세요."/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsPrice">상품 단가</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control short-input" id="goodsPrice" min="0" name="goodsPrice" placeholder="상품 단가를 입력해주세요." />원
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<div align="center">
								<button type="button" id="submitBtn" class="btn btn-primary btn-icon-split">
									<span class="icon text-white-50"><i class="fas fa-check"></i></span>
									<span class="text">등록하기</span>
								</button>
								<button type="reset" class="btn btn-secondary btn-icon-split">
									<span class="icon text-white-50"><i class="fas fa-trash"></i></span>
									<span class="text">입력취소</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</th:block>
<th:block layout:fragment="customJs">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/js/custom/kgr9.js}"></script>
	<script th:inline="javascript">
		
		// 상품분류 select box value 값 -> input value로 넣기
		function goodsCate(category) {
			const selectInputEle = $('#goodsCategory');
			selectInputEle.val(category);
		};
			
		$(function(){		
			
			// checkBtn 상품명 중복확인 버튼
			$('#goodsName').change(function(){
				$('#addGoodsForm input').not('#goodsName').prop('disabled', true);
				$('#addGoodsForm button').not('#checkBtn').prop('disabled', true);
				$('#addGoodsForm select').prop('disabled', true);
			});
			
			$('#checkBtn').click(function(){
				const goodsNameEle = $('#goodsName');
				let goodsName = goodsNameEle.val();
				console.log(goodsName);
				if(typeof goodsName == 'undefined' || goodsName == null || goodsName == ''){
					alert('상품명을 입력해주세요');
					goodsNameEle.focus();
					return false;
				}
				let request = $.ajax({
					  url: '/admin/goods/check_goods_name',
					  method: 'POST',
					  data: { 'goodsName' : goodsName },
					  dataType: 'json'
				});
						 
				request.done(function( isCheck ) {
					console.log(isCheck)
					if(!isCheck){
						alert('중복된 상품명 입니다.');
						goodsNameEle.val('');
						goodsNameEle.focus();
					}else{
						alert('등록 가능한 상품명 입니다.');
						// 중복이 아닐 경우 속성의 disabled를 제거
						$('#addGoodsForm input').prop('disabled', false);
						$('#addGoodsForm button').prop('disabled', false);
						$('#addGoodsForm select').prop('disabled', false);
					}
				});
						 
				request.fail(function( jqXHR, textStatus ) {
					alert(`Request failed: ${textStatus}`);
				});
			});
				
			// form submitBtn 등록하기 버튼 클릭 시 공란 체크
			function validationCheck(ele){
				let data = $(ele).val();
				let isValid = true;
				if(typeof data == 'undefined' || data == null || data == ''){
					isValid = false;
				}
				return isValid;
			};
				
			$('#submitBtn').click(function(){
				const addGoodsForm = $('#addGoodsForm');
				const inputGroup = $('#addGoodsForm input');
				let isSubmit = true;
				inputGroup.each(function(idx, item){
					isSubmit = validationCheck(item);
					if(!isSubmit) {
						let msg = $(item).parents('tr').find('label').text();
						alert(`${msg} 필수 항목입니다. ${msg} 입력해주세요.`);
						$(item).focus();
						return false;
					}
				});
				if(isSubmit) addGoodsForm.submit();
			});
		});
	</script>
</th:block>
</html>