<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	<link href="/css/admin_kgr9.css" rel="stylesheet">
</head>
<th:block layout:fragment="customContents">

	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">상품 수정</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<form id="modifyGoodsForm" th:action="@{/admin/goods/modify_goods}" method="post">
							<table th:object="${goodsInfo}" class="table table-bordered search-table-gr" width="100%" cellspacing="0">
								<tbody>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsCode">상품코드</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="goodsCode" name="goodsCode" th:value="*{goodsCode}" readonly/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsName">상품명</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="goodsName" name="goodsName" th:value="*{goodsName}"/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsCategory">상품 분류</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												&nbsp;
												 <select class="dropdown btn btn-primary required-form" id="selectCategory" name="selectCategory" onchange="goodsCate(this.value)">
													<option value="">:: 상품 분류 ::</option>
													<th:block th:unless="${goodsCategoryList == null}" th:each="l : ${goodsCategoryList}">
														<option th:value="${l.goodsCategory}" th:selected="${l.goodsCategory} == *{goodsCategory}">[[${l.goodsCategory}]]</option>
													</th:block>
													<th:block th:if="${goodsCategoryList == null}">
														<option>등록된 상품분류가 없습니다.</option>
													</th:block>
												</select>
											</div>
											<div class="form-row align-items-center search-schedule">
												&nbsp;
												<input type="text" class="form-control form-control-user-search short-input"
													id="goodsCategory" name="goodsCategory" th:value="*{goodsCategory}" placeholder="상품 분류를 선택해주세요." />
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsCompany">제조사</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search middle-input" id="goodsCompany" name="goodsCompany" th:value="*{goodsCompany}" placeholder="제조사를 검색하거나 입력해주세요."/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsPrice">상품 단가</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="number" class="form-control short-input" id="goodsPrice" min="0" name="goodsPrice" th:value="*{goodsPrice}" placeholder="상품 단가를 입력해주세요." />원
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsRegDate">등록일자</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search short-input" id="goodsRegDate" name="goodsRegDate" th:value="*{goodsRegDate}" readonly/>
											</div>
										</td>
									</tr>
									<tr>
										<th class="bg-gray-100">
											<label for="goodsUpdDate">수정일자</label>
										</th>
										<td>
											<div class="form-row align-items-center search-schedule">
												<input type="text" class="form-control form-control-user-search short-input" id="goodsUpdDate" name="goodsUpdDate" th:value="*{goodsUpdDate}" placeholder="수정 전" readonly/>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<div align="center">
								<button type="submit" id="submitBtn" class="btn btn-primary btn-icon-split">
									<span class="icon text-white-50"><i class="fas fa-check"></i></span>
									<span class="text">수정하기</span>
								</button>
								<button type="button" id="returnBtn" class="btn btn-secondary btn-icon-split">
									<span class="icon text-white-50"><i class="fas fa-trash"></i></span>
									<span class="text">돌아가기</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</th:block>

<th:block layout:fragment="customJs">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/js/custom/kgr9.js}"></script>
	<script th:inline="javascript">
		
		// 상품분류 select box value 값 -> input value로 넣기
		function goodsCate(category) {
			const selectInputEle = $('#goodsCategory');
			selectInputEle.val(category);
		};
	</script>
</th:block>
</html>