<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
 	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

	<title th:text="${title}"></title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
        rel="stylesheet">
        
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.min.css}"></link>	
	 
</head>
<body id="page-top">
	<!-- Start of Page Wrapper -->
	<div id="wrapper">
		 <!-- 왼쪽메뉴 start -->
		 <div th:replace="~{fragments/aside2 :: asideFragment2}"></div>
		 <!-- 왼쪽메뉴 end -->
		  
		 <!-- 오른쪽 콘텐츠 wrapper 영역 start -->
		 <div id="content-wrapper" class="d-flex flex-column">
		 	<!-- Main Content -->
            <div id="content">            
				 <!-- 상단메뉴 start -->
				 <div th:replace="~{fragments/header3 :: headerFragment3}"></div>
				 <!-- 상단메뉴 end -->
				<th:block layout:fragment="customContents"></th:block>
            </div>
			<!-- footer start -->
			<div th:replace="~{fragments/footer :: footerFragment}"></div>
			<!-- footer end -->
		 </div>
		 <!-- 오른쪽 콘텐츠 wrapper 영역 end -->	  
	</div>
    <!-- End of Page Wrapper -->
	
	
	<!-- 공통 js -->
	<!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
	<!-- end of 공통 js -->
	
	<!-- fontAwsome 아이콘 -->
	<script th:src="@{https://kit.fontawesome.com/1c03a4d101.js}" crossorigin="anonymous"></script>
	
	
	<!-- 사용자정의 Js 페이지 -->
	<th:block layout:fragment="customJs"></th:block>
	
	
	
	
</body>
</html>