<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ks46team04.admin.mapper.DonationMapper">
	<resultMap type="Donation" id="donationResultMap">
		<id		column="regular_donation_code"				property="donationCode"/>
		<result column="regular_donation_name"				property="donationName"/>
		<result column="regular_donation_price"				property="donationPrice"/>
		<result column="regular_donation_description"		property="donationDescription"/>
		<result column="regular_donation_reg_id"			property="donationRegId"/>
		<result column="regular_donationr_reg_date"			property="donationRegDate"/>
		<result column="regular_donation_update_id"			property="donationUpdateId"/>
		<result column="regular_donation_update_date"		property="donationUpdateDate"/>
	</resultMap>
		
	<select id="getDonation" resultMap="donationResultMap">
		/*정기기부 단가 조회*/
		SELECT 
			regular_donation_code
			, regular_donation_name
			, regular_donation_price
			, regular_donation_description
			, regular_donation_reg_id
			, regular_donationr_reg_date
			, regular_donation_update_id
			, regular_donation_update_date
		FROM
			regular_donation_unit_price;
	</select>
	
	<insert id="addDonation" parameterType="Donation">
		/* 정기기부 단가 등록 */
		INSERT INTO regular_donation_unit_price
		(regular_donation_code, regular_donation_name, regular_donation_price, regular_donation_description,
		regular_donation_reg_id, regular_donationr_reg_date, regular_donation_update_id, regular_donation_update_date)
		VALUES
		(#{donationCode}, #{donationName}, #{donationPrice}, #{donationDescription},
		 #{donationRegId}, #{donationRegDate}, #{donationUpdateId}, #{donationUpdateDate});		
	</insert>
	
	<select id="getDonationInfoByCode" parameterType="String" resultMap="donationResultMap">
		/* 특정 정기기부 단가 조회*/
		SELECT
			regular_donation_code
			, regular_donation_name
			, regular_donation_price
			, regular_donation_description
			, regular_donation_reg_id
			, regular_donationr_reg_date
			, regular_donation_update_id
			, regular_donation_update_date
		FROM
			regular_donation_unit_price
		WHERE
			regular_donation_code = #{donationCode}
	</select>
	
	<update id="modifyDonation" parameterType="Donation">
		/* 정기기부 단가 수정 */
		UPDATE regular_donation_unit_price
		<set>
			<if test="donationName != null and donationName !=''">
				regular_donation_name = #{donationName}
			</if>
			<if test="donationPrice != null and donationPrice !=''">
				,regular_donation_price = #{donationPrice}
			</if>
			<if test="donationDescription != null and donationDescription !=''">
				,regular_donation_description = #{donationDescription}
			</if>
			<if test="donationDescription != null and donationDescription !=''">
				,regular_donation_description = #{donationDescription}
			</if>
			, regular_donation_update_id = #{donationUpdateId}
			, regular_donation_update_date = NOW()
		</set>
		WHERE
			regular_donation_code = #{donationCode};
	</update>
	
	<delete id="removeDonation" parameterType="Donation">
		/* 정기기부 단가 삭제 */
		DELETE
		FROM
		 	regular_donation_unit_price 
		WHERE 
			regular_donation_code = #{donationCode};
	</delete>
	
	<select id="getDonationPayMethod" resultType="DonationPayMethod">
		/* 등록된 회원 결제수단 조회 */
		SELECT 
			regular_donation_auto_pm_code AS donationPayMethodCode
			, user_id AS donationPayMethodUserId
			, pm_code AS donationPayCode
			, regular_donation_payment_bank AS donationPayMethodBank
			, regular_donation_payment_account AS donationPayMethodAccount
			, regular_donation_payment_reg_date AS donationPayMethodRegDate
			, regular_donation_payment_update_date AS donationPayMethodUpdateDate
		FROM
			donation_auto_pay_method;
	</select>
	
	<insert id="addDonationPayMethod" parameterType="DonationPayMethod">
		/* 등록된 회원 결제수단 등록 */
		INSERT INTO donation_auto_pay_method
		(regular_donation_auto_pm_code, user_id, pm_code, regular_donation_payment_bank,
		regular_donation_payment_account, regular_donation_payment_reg_date, regular_donation_payment_update_date)
		VALUES
		(#{donationPayMethodCode}, #{donationPayMethodUserId}, #{donationPayCode}, #{donationPayMethodBank},
		 #{donationPayMethodAccount}, #{donationPayMethodRegDate}, #{donationPayMethodUpdateDate});		
	</insert>
	
	<select id="getDonationPayMethodInfoByCode" resultType="DonationPayMethod" parameterType="String">
		/* 특정 등록된 회원 결제수단 조회*/
		SELECT
			regular_donation_auto_pm_code AS donationPayMethodCode
			, user_id AS donationPayMethodUserId
			, pm_code AS donationPayCode
			, regular_donation_payment_bank AS donationPayMethodBank
			, regular_donation_payment_account AS donationPayMethodAccount
			, regular_donation_payment_reg_date AS donationPayMethodRegDate
			, regular_donation_payment_update_date AS donationPayMethodUpdateDate
		FROM
			donation_auto_pay_method
		WHERE
			regular_donation_auto_pm_code = #{donationPayMethodCode};
	</select>
	
	<update id="modifyDonationPayMethod" parameterType="DonationPayMethod">
		/* 등록된 회원 결제수단 수정 */
		UPDATE donation_auto_pay_method
		<set>
			<if test="donationPayMethodUserId != null and donationPayMethodUserId !=''">
				user_id = #{donationPayMethodUserId}
			</if>
			<if test="donationPayMethodBank != null and donationPayMethodBank !=''">
				,regular_donation_payment_bank = #{donationPayMethodBank}
			</if>
			<if test="donationPayMethodAccount != null and donationPayMethodAccount !=''">
				,regular_donation_payment_account = #{donationPayMethodAccount}
			</if>
				,regular_donation_payment_update_date = NOW()
		</set>
		WHERE
			regular_donation_auto_pm_code = #{donationPayMethodCode};
	</update>
	
	<delete id="removeDonationPayMethod" parameterType="DonationPayMethod">
		/* 등록된 회원 결제수단 삭제 */
		DELETE
		FROM
		 	donation_auto_pay_method 
		WHERE 
			regular_donation_auto_pm_code = #{donationPayMethodCode};		
	</delete>
	
	<select id="getDonationSub" resultType="DonationSub">
		/* 정기기부 구독 신청 조회 */
		SELECT 
			user_regular_donation_subscription_code AS `donationSubCode`
			, user_id AS `donationSubUserId`
			, regular_donation_code AS `donationCode`
			, regular_donation_auto_pm_code AS `donationPayMethodCode`
			, user_regular_donation_subscription_start_date AS `donationSubStartDate`
			, user_regular_donation_subscription_end_date AS `donationSubEndDate`
		FROM
			user_regular_donation_subscription;
	</select>
	
	<insert id="addDonationSub" parameterType="DonationSub">
		/* 정기기부 구독 신청 등록 */
		INSERT INTO user_regular_donation_subscription
		(user_regular_donation_subscription_code, user_id, regular_donation_code, regular_donation_auto_pm_code,
		user_regular_donation_subscription_start_date, user_regular_donation_subscription_end_date)
		VALUES
		(#{donationSubCode}, #{donationSubUserId}, #{donationCode}, #{donationPayMethodCode},
		 #{donationSubStartDate}, #{donationSubEndDate});		
	</insert>
	
	<select id="getDonationSubInfoByCode" resultType="DonationSub" parameterType="String">
		/* 특정 정기기부 구독 신청 조회*/
		SELECT
			user_regular_donation_subscription_code AS `donationSubCode`
			, user_id AS `donationSubUserId`
			, regular_donation_code AS `donationCode`
			, regular_donation_auto_pm_code AS `donationPayMethodCode`
			, user_regular_donation_subscription_start_date AS `donationSubStartDate`
			, user_regular_donation_subscription_end_date AS `donationSubEndDate`
		FROM
			user_regular_donation_subscription
		WHERE
			user_regular_donation_subscription_code = #{donationSubCode};
	</select>
	
	<update id="modifyDonationSub" parameterType="DonationSub">
		/* 정기기부 구독 신청 수정 */
		UPDATE user_regular_donation_subscription
		<set>
			<if test="donationSubUserId != null and donationSubUserId !=''">
				user_id = #{donationSubUserId}
			</if>
			<if test="donationSubStartDate != null and donationSubStartDate !=''">
				,user_regular_donation_subscription_start_date = #{donationSubStartDate}
			</if>
			<if test="donationSubEndDate != null and donationSubEndDate !=''">
				,user_regular_donation_subscription_end_date = #{donationSubEndDate}
			</if>
		</set>
		WHERE
			user_regular_donation_subscription_code = #{donationSubCode};
	</update>
	
	<delete id="removeDonationSub" parameterType="DonationSub">
		/* 정기기부 구독 신청 삭제 */
		DELETE
		FROM
		 	user_regular_donation_subscription 
		WHERE 
			user_regular_donation_subscription_code = #{donationSubCode};		
	</delete>
	
	<select id="getDonationPayDetail" resultType="DonationPayDetail">
		/* 정기기부 구독 결제 상세 조회 */
		SELECT 
			regular_donation_payment_code AS `donationPayDetailCode`
			, user_id AS `donationPayUserId`
			, user_regular_donation_subscription_code AS `donationSubCode`
			, regular_donation_code AS `donationCode`
			, regular_donation_auto_pm_code AS `donationPayMethodCode`
			, payment_amount AS `donationPayAmount`
			, sales_commission AS `donationPaySalesCommission`
			, purchase_budget AS `donationPayPurchaseBudget`
			, user_regular_donation_payment_date AS `donationPayDate`
			, user_regular_donation_payment_refund_requested AS `donationPayRefundRequest`
			, regular_donation_sales_group AS `donationPaySalesGroup`
			, user_regular_donation_deadline_check AS `donationPayDeadlineCheck`
		FROM
			user_regular_donation_payment;
	</select>
	
	<insert id="addDonationPayDetail" parameterType="DonationPayDetail">
		/* 정기기부 구독 결제 상세 등록 */
		INSERT INTO user_regular_donation_payment
		(user_id, payment_amount, sales_commission, purchase_budget,user_regular_donation_payment_date
		user_regular_donation_payment_refund_requested, user_regular_donation_deadline_check)
		VALUES
		(#{donationPayUserId}, #{donationPayAmount}, #{donationPaySalesCommission}, #{donationPayPurchaseBudget},
		 #{donationPayDate}, #{donationPayRefundRequest},#{donationPayDeadlineCheck});		
	</insert>
	
	<select id="getDonationPayDetailInfoByCode" resultType="DonationPayDetail" parameterType="String">
		/* 특정 정기기부 구독 결제 상세 조회*/
		SELECT
			regular_donation_payment_code AS `donationPayDetailCode`
			, user_id AS `donationPayUserId`
			, user_regular_donation_subscription_code AS `donationSubCode`
			, regular_donation_code AS `donationCode`
			, regular_donation_auto_pm_code AS `donationPayMethodCode`
			, payment_amount AS `donationPayAmount`
			, sales_commission AS `donationPaySalesCommission`
			, purchase_budget AS `donationPayPurchaseBudget`
			, user_regular_donation_payment_date AS `donationPayDate`
			, user_regular_donation_payment_refund_requested AS `donationPayRefundRequest`
			, regular_donation_sales_group AS `donationPaySalesGroup`
			, user_regular_donation_deadline_check AS `donationPayDeadlineCheck`
		FROM
			user_regular_donation_payment
		WHERE
			regular_donation_payment_code = #{donationPayDetailCode};
	</select>
	
	<update id="modifyDonationPayDetail" parameterType="DonationPayDetail">
		/* 정기기부 구독 결제 상세 수정 */
		UPDATE user_regular_donation_payment
		<set>
			<if test="donationPayUserId != null and donationPayUserId !=''">
				user_id = #{donationPayUserId}
			</if>
			<if test="donationPayAmount != null and donationPayAmount !=''">
				,payment_amount = #{donationPayAmount}
			</if>
			<if test="donationPaySalesCommission != null and donationPaySalesCommission !=''">
				,sales_commission = #{donationPaySalesCommission}
			</if>
			<if test="donationPayPurchaseBudget != null and donationPayPurchaseBudget !=''">
				,purchase_budget = #{donationPayPurchaseBudget}
			</if>
			<if test="donationPayDate != null and donationPayDate !=''">
				,user_regular_donation_payment_date = #{donationPayDate}
			</if>
			<if test="donationPayRefundRequest != null and donationPayRefundRequest !=''">
				,user_regular_donation_payment_refund_requested = #{donationPayRefundRequest}
			</if>
			<if test="donationPayDeadlineCheck != null and donationPayDeadlineCheck !=''">
				,user_regular_donation_deadline_check = #{donationPayDeadlineCheck}
			</if>
		</set>
		WHERE
			regular_donation_payment_code = #{donationPayDetailCode};
	</update>
	
	<delete id="removeDonationPayDetail" parameterType="DonationPayDetail">
		/* 정기기부 구독 결제 상세 삭제 */
		DELETE
		FROM
		 	user_regular_donation_payment 
		WHERE 
			regular_donation_payment_code = #{donationPayDetailCode};		
	</delete>
	
	<select id="getDonationMonthPay" resultType="DonationMonthPay">
		/* 정기기부 월별 결제 합계 조회 */
		SELECT 
			month_regular_donation_payment_code AS `donationMonthPayCode`
			, regular_donation_code AS `donationCode`
			, payment_year AS `donationMonthPayYear`
			, payment_month AS `donationMonthPayMonth`
			, total_payment_amount AS `donationMonthPayAmount`
			, donation_monthly_deadline_group AS `donationMonthPayDeadlineGroup`
		FROM
			month_regular_donation_payment;
	</select>
	
	<insert id="addDonationMonthPay" parameterType="DonationMonthPay">
		/* 정기기부 월별 결제 합계 등록 */
		INSERT INTO month_regular_donation_payment
		(month_regular_donation_payment_code, regular_donation_code, payment_year, payment_month,
		total_payment_amount, donation_monthly_deadline_group)
		VALUES
		(#{donationMonthPayCode}, #{donationCode}, #{donationMonthPayYear}, #{donationMonthPayMonth},
		 #{donationMonthPayAmount}, #{donationMonthPayDeadlineGroup});		
	</insert>
	
	<select id="getDonationMonthPayInfoByCode" resultType="DonationMonthPay" parameterType="String">
		/* 특정 정기기부 월별 결제 합계 조회*/
		SELECT
			month_regular_donation_payment_code AS `donationMonthPayCode`
			, regular_donation_code AS `donationCode`
			, payment_year AS `donationMonthPayYear`
			, payment_month AS `donationMonthPayMonth`
			, total_payment_amount AS `donationMonthPayAmount`
			, donation_monthly_deadline_group AS `donationMonthPayDeadlineGroup`
		FROM
			month_regular_donation_payment
		WHERE
			month_regular_donation_payment_code = #{donationMonthPayCode};
	</select>
	
	<update id="modifyDonationMonthPay" parameterType="DonationMonthPay">
		/* 정기기부 월별 결제 합계 수정 */
		UPDATE month_regular_donation_payment
		<set>
			<if test="donationMonthPayYear != null and donationMonthPayYear !=''">
				payment_year  = #{donationMonthPayYear}
			</if>
			<if test="donationMonthPayMonth != null and donationMonthPayMonth !=''">
				,payment_month  = #{donationMonthPayMonth}
			</if>
			<if test="donationMonthPayAmount != null and donationMonthPayAmount !=''">
				,total_payment_amount  = #{donationMonthPayAmount}
			</if>
		</set>
		WHERE
			month_regular_donation_payment_code = #{donationMonthPayCode};
	</update>
	
	<delete id="removeDonationMonthPay" parameterType="DonationMonthPay">
		/* 정기기부 월별 결제 합계 삭제 */
		DELETE
		FROM
		 	month_regular_donation_payment 
		WHERE 
			month_regular_donation_payment_code = #{donationMonthPayCode};		
	</delete>
	
	<select id="getDonationRefund" resultType="DonationRefund">
	/* 정기기부 환불 조회 */
	SELECT
		regular_donation_payment_refund_code AS `donationRefundCode`
		, user_id AS `donationRefundUserId`
		, user_regular_donation_payment_code AS `donationPayCode`
		, regular_donation_refund_request_date AS `donationRefundRequestDate`
		, regular_donation_refund_request_amount AS `donationRefundRequestAmount`
		, regular_donation_refund_request_reason AS `donationRefundRequestReason`
		, regular_donation_refund_bank_name AS `donationRefundBank`
		, regular_donation_refund_account AS `donationRefundAccount`
		, regular_donation_refund_status AS `donationRefundStatus`
		, regular_donation_refund_approval_date AS `donationRefundApprovalDate`
		, regular_donation_refund_rejection_date AS `donationRefundRejectionDate`
		, regular_donation_refund_reg_id AS `donationRefundRegId`
		, regular_donation_refund_reg_date AS `donationRefundRegDate`
		, regular_donation_refund_update_id AS `donationRefundUpdateId`
		, regular_donation_refund_update_date AS `donationRefundUpdateDate`
	FROM
		regular_donation_payment_refund;
	</select>
	
	<insert id="addDonationRefund" parameterType="DonationRefund">
		/* 정기기부 환불 등록 */
		INSERT INTO regular_donation_payment_refund
		(regular_donation_payment_refund_code, user_id, user_regular_donation_payment_code, regular_donation_refund_request_date,
		regular_donation_refund_request_amount, regular_donation_refund_request_reason, regular_donation_refund_bank_name,
		regular_donation_refund_account, regular_donation_refund_status, regular_donation_refund_approval_date, regular_donation_refund_rejection_date,
		regular_donation_refund_reg_id, regular_donation_refund_reg_date, regular_donation_refund_update_id, regular_donation_refund_update_date)
		VALUES
		(#{donationRefundCode}, #{donationRefundUserId}, #{donationPayCode}, #{donationRefundRequestDate},
		 #{donationRefundRequestAmount}, #{donationRefundRequestReason}, #{donationRefundBank}, #{donationRefundAccount}, #{donationRefundStatus},
		 #{donationRefundApprovalDate}, #{donationRefundRejectionDate}, #{donationRefundRegId}, #{donationRefundRegDate}, #{donationRefundUpdateId}, #{donationRefundUpdateDate});		
	</insert>
	
	<select id="getDonationRefundInfoByCode" resultType="DonationRefund" parameterType="String">
		/* 특정 정기기부 환불 조회*/
		SELECT
			regular_donation_payment_refund_code AS `donationRefundCode`
		, user_id AS `donationRefundUserId`
		, user_regular_donation_payment_code AS `donationPayCode`
		, regular_donation_refund_request_date AS `donationRefundRequestDate`
		, regular_donation_refund_request_amount AS `donationRefundRequestAmount`
		, regular_donation_refund_request_reason AS `donationRefundRequestReason`
		, regular_donation_refund_bank_name AS `donationRefundBank`
		, regular_donation_refund_account AS `donationRefundAccount`
		, regular_donation_refund_status AS `donationRefundStatus`
		, regular_donation_refund_approval_date AS `donationRefundApprovalDate`
		, regular_donation_refund_rejection_date AS `donationRefundRejectionDate`
		, regular_donation_refund_reg_id AS `donationRefundRegId`
		, regular_donation_refund_reg_date AS `donationRefundRegDate`
		, regular_donation_refund_update_id AS `donationRefundUpdateId`
		, regular_donation_refund_update_date AS `donationRefundUpdateDate`
		FROM
			regular_donation_payment_refund
		WHERE
			regular_donation_payment_refund_code = #{donationRefundCode};
	</select>
	
	<update id="modifyDonationRefund" parameterType="DonationRefund">
		/* 정기기부 환불 수정 */
		UPDATE regular_donation_payment_refund
		<set>
			<if test="donationRefundRequestAmount != null and donationRefundRequestAmount !=''">
				,regular_donation_refund_request_amount  = #{donationRefundRequestAmount}
			</if>
			<if test="donationRefundRequestReason != null and donationRefundRequestReason !=''">
				,regular_donation_refund_request_reason  = #{donationRefundRequestReason}
			</if>
			<if test="donationRefundBank != null and donationRefundBank !=''">
				,regular_donation_refund_bank_name  = #{donationRefundBank}
			</if>
			<if test="donationRefundAccount != null and donationRefundAccount !=''">
				,regular_donation_refund_account  = #{donationRefundAccount}
			</if>
			<if test="donationRefundStatus  != null and donationRefundStatus !=''">
				,regular_donation_refund_status   = #{donationRefundStatus}
			</if>
			<if test="donationRefundApprovalDate != null and donationRefundApprovalDate !=''">
				,regular_donation_refund_approval_date   = #{donationRefundApprovalDate}
			</if>
			<if test="donationRefundRejectionDate != null and donationRefundRejectionDate !=''">
				,regular_donation_refund_rejection_date  = #{donationRefundRejectionDate}
			</if>
			<if test="donationRefundRegId != null and donationRefundRegId !=''">
				,regular_donation_refund_reg_id  = #{donationRefundRegId}
			</if>
			<if test="donationRefundRegDate != null and donationRefundRegDate !=''">
				,regular_donation_refund_reg_date  = #{donationRefundRegDate}
			</if>
				,regular_donation_refund_update_id  = #{donationRefundUpdateId}
				,regular_donation_refund_update_date  = NOW()
		</set>
		WHERE
			regular_donation_payment_refund_code = #{donationRefundCode};
	</update>
	
	<delete id="removeDonationRefund" parameterType="DonationRefund">
		/* 정기기부 환불 삭제 */
		DELETE
		FROM
		 	regular_donation_payment_refund 
		WHERE 
			regular_donation_payment_refund_code = #{donationRefundCode};		
	</delete>
</mapper>
