<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ks46team04.admin.mapper.DonationMapper">
	<resultMap type="Donation" id="donationResultMap">
		<id		column="regular_donation_code"				property="donationCode"/>
		<result column="regular_donation_name"				property="donationName"/>
		<result column="regular_donation_price"				property="donationPrice"/>
		<result column="regular_donation_description"		property="donationDescription"/>
		<result column="regular_donation_reg_id"			property="donationRegId"/>
		<result column="regular_donationr_reg_date"			property="donationRegDate"/>
		<result column="regular_donation_update_id"			property="donationUpdateId"/>
		<result column="regular_donation_update_date"		property="donationUpdateDate"/>
	</resultMap>
	
	<resultMap type="Donation" id="DonationCodeResultMap">
		<result column="regular_donation_code"		property="donationCode"/>
	</resultMap>
	
	<resultMap type="DonationPayMethod" id="DonationPayMethodCodeResultMap">
		<result column="regular_donation_auto_pm_code"		property="donationPayMethodCode"/>
	</resultMap>
	
	<resultMap type="DonationSub" id="DonationSubCodeResultMap">
		<result column="user_regular_donation_subscription_code"		property="donationSubCode"/>
	</resultMap>
	
	<resultMap type="Payment" id="PaymentCodeResultMap">
		<result column="pm_code"		property="paymentCode"/>
	</resultMap>
	
	<resultMap type="DonationPayDetail" id="DonationPayDetailCodeResultMap">
		<result column="regular_donation_payment_code"		property="donationPayDetailCode"/>
	</resultMap>
		
	<select id="getDonation" resultMap="donationResultMap">
		/*정기기부 단가 조회*/
		SELECT 
			regular_donation_code
			, regular_donation_name
			, regular_donation_price
			, regular_donation_description
			, regular_donation_reg_id
			, regular_donationr_reg_date
			, regular_donation_update_id
			, regular_donation_update_date
		FROM
			regular_donation_unit_price
		<where>
			<if test="searchKey != null and searchKey != ''">
				${searchKey} LIKE CONCAT('%', #{searchValue},'%')
			</if>		
		</where>
			ORDER BY CAST(SUBSTRING_INDEX(regular_donation_code, 'regular_donation', -1) AS unsigned) ASC;
	</select>
	
	<insert id="addDonation" parameterType="Donation" >
		/* 정기기부 단가 등록 */
		INSERT INTO regular_donation_unit_price
		(regular_donation_code, regular_donation_name, regular_donation_price, regular_donation_description, regular_donation_reg_id, regular_donationr_reg_date)
		VALUES
		(sf_new_donation_code(), #{donationName}, #{donationPrice}, #{donationDescription}, #{donationRegId}, SYSDATE());		
	</insert>
	
	<select id="getDonationInfoByCode" parameterType="String" resultMap="donationResultMap">
		/* 특정 정기기부 단가 조회*/
		SELECT
			regular_donation_code
			, regular_donation_name
			, regular_donation_price
			, regular_donation_description
			, regular_donation_reg_id
			, regular_donationr_reg_date
			, regular_donation_update_id
			, regular_donation_update_date
		FROM
			regular_donation_unit_price
		WHERE
			regular_donation_code = #{donationCode}
	</select>
	
	<update id="modifyDonation" parameterType="Donation">
		/* 정기기부 단가 수정 */
		UPDATE regular_donation_unit_price
		<set>
			<if test="donationName != null and donationName !=''">
				regular_donation_name = #{donationName}
			</if>
			<if test="donationPrice != null and donationPrice !=''">
				,regular_donation_price = #{donationPrice}
			</if>
			<if test="donationDescription != null and donationDescription !=''">
				,regular_donation_description = #{donationDescription}
			</if>
			, regular_donation_update_id = #{donationUpdateId}
			, regular_donation_update_date = SYSDATE()
		</set>
		WHERE
			regular_donation_code = #{donationCode};
	</update>
	
	<delete id="removeDonation" parameterType="Donation">
		/* 정기기부 단가 삭제 */
		DELETE
		FROM
		 	regular_donation_unit_price 
		WHERE 
			regular_donation_code = #{donationCode};
	</delete>
	
	<select id="getDonationPayMethod" resultType="DonationPayMethod">
		/* 등록된 회원 결제수단 조회 */
		SELECT 
			regular_donation_auto_pm_code AS donationPayMethodCode
			, user_id AS donationPayMethodUserId
			, pm_code AS paymentCode
			, regular_donation_payment_bank AS donationPayMethodBank
			, regular_donation_payment_account AS donationPayMethodAccount
			, regular_donation_payment_reg_date AS donationPayMethodRegDate
			, regular_donation_payment_update_date AS donationPayMethodUpdateDate
		FROM
			donation_auto_pay_method
		<where>
			<if test="searchKey != null and searchKey != ''">
				${searchKey} LIKE CONCAT('%', #{searchValue},'%')
			</if>		
		</where>
			ORDER BY CAST(SUBSTRING_INDEX(donationPayMethodCode, 'auto_payment', -1) AS unsigned) ASC;
	</select>
	
	<insert id="addDonationPayMethod" parameterType="DonationPayMethod">
		/* 등록된 회원 결제수단 등록 */
		INSERT INTO donation_auto_pay_method
		(regular_donation_auto_pm_code, user_id, pm_code, regular_donation_payment_bank, regular_donation_payment_account, regular_donation_payment_reg_date)
		VALUES
		(sf_new_donationPayMethod_code(), #{donationPayMethodUserId}, #{paymentCode}, #{donationPayMethodBank}, #{donationPayMethodAccount}, SYSDATE());		
	</insert>
	
	<select id="getDonationPayMethodInfoByCode" resultType="DonationPayMethod" parameterType="String">
		/* 특정 등록된 회원 결제수단 조회*/
		SELECT
			regular_donation_auto_pm_code AS donationPayMethodCode
			, user_id AS donationPayMethodUserId
			, pm_code AS paymentCode
			, regular_donation_payment_bank AS donationPayMethodBank
			, regular_donation_payment_account AS donationPayMethodAccount
			, regular_donation_payment_reg_date AS donationPayMethodRegDate
			, regular_donation_payment_update_date AS donationPayMethodUpdateDate
		FROM
			donation_auto_pay_method
		WHERE
			regular_donation_auto_pm_code = #{donationPayMethodCode};
	</select>
	
	<update id="modifyDonationPayMethod" parameterType="DonationPayMethod">
		/* 등록된 회원 결제수단 수정 */
		UPDATE donation_auto_pay_method
		<set>
			<if test="donationPayMethodBank != null and donationPayMethodBank !=''">
				,regular_donation_payment_bank = #{donationPayMethodBank}
			</if>
			<if test="donationPayMethodAccount != null and donationPayMethodAccount !=''">
				,regular_donation_payment_account = #{donationPayMethodAccount}
			</if>
				,user_id = #{donationPayMethodUserId}
				,regular_donation_payment_update_date = SYSDATE()
		</set>
		WHERE
			regular_donation_auto_pm_code = #{donationPayMethodCode};
	</update>
	
	<delete id="removeDonationPayMethod" parameterType="DonationPayMethod">
		/* 등록된 회원 결제수단 삭제 */
		DELETE
		FROM
		 	donation_auto_pay_method 
		WHERE 
			regular_donation_auto_pm_code = #{donationPayMethodCode};		
	</delete>
	
	<select id="getDonationSub" resultType="DonationSub">
		/* 정기기부 구독 신청 조회 */
		SELECT 
			user_regular_donation_subscription_code AS `donationSubCode`
			, user_id AS `donationSubUserId`
			, regular_donation_code AS `donationCode`
			, regular_donation_auto_pm_code AS `donationPayMethodCode`
			, user_regular_donation_subscription_start_date AS `donationSubStartDate`
			, user_regular_donation_subscription_end_date AS `donationSubEndDate`
		FROM
			user_regular_donation_subscription
		<where>
			<if test="searchKey != null and searchKey != ''">
				${searchKey} LIKE CONCAT('%', #{searchValue},'%')
			</if>		
		</where>
			ORDER BY CAST(SUBSTRING_INDEX(donationSubCode, 'donation_subscription', -1) AS unsigned) ASC;
	</select>
	
	<insert id="addDonationSub" parameterType="DonationSub">
		/* 정기기부 구독 신청 등록 */
		INSERT INTO user_regular_donation_subscription
		(user_regular_donation_subscription_code, user_id, regular_donation_code, regular_donation_auto_pm_code, user_regular_donation_subscription_start_date)
		VALUES
		(sf_new_donationSub_code(), #{donationSubUserId}, #{donationCode}, #{donationPayMethodCode}, #{donationSubStartDate});
	</insert>
	
	<select id="getDonationSubInfoByCode" resultType="DonationSub" parameterType="String">
		/* 특정 정기기부 구독 신청 조회*/
		SELECT
			user_regular_donation_subscription_code AS `donationSubCode`
			, user_id AS `donationSubUserId`
			, regular_donation_code AS `donationCode`
			, regular_donation_auto_pm_code AS `donationPayMethodCode`
			, user_regular_donation_subscription_start_date AS `donationSubStartDate`
			, user_regular_donation_subscription_end_date AS `donationSubEndDate`
		FROM
			user_regular_donation_subscription
		WHERE
			user_regular_donation_subscription_code = #{donationSubCode};
	</select>
	
	<update id="modifyDonationSub" parameterType="DonationSub">
		/* 정기기부 구독 신청 수정 */
		UPDATE user_regular_donation_subscription
		<set>
			<if test="donationSubStartDate != null and donationSubStartDate !=''">
				,user_regular_donation_subscription_start_date = #{donationSubStartDate}
			</if>
			<if test="donationSubEndDate != null and donationSubEndDate !=''">
				,user_regular_donation_subscription_end_date = #{donationSubEndDate}
			</if>
				,user_id = #{donationSubUserId}
		</set>
		WHERE
			user_regular_donation_subscription_code = #{donationSubCode};
	</update>
	
	<delete id="removeDonationSub" parameterType="DonationSub">
		/* 정기기부 구독 신청 삭제 */
		DELETE
		FROM
		 	user_regular_donation_subscription 
		WHERE 
			user_regular_donation_subscription_code = #{donationSubCode};		
	</delete>
	
	<select id="getDonationPayDetail" resultType="DonationPayDetail">
		/* 정기기부 구독 결제 상세 조회 */
		SELECT 
			regular_donation_payment_code AS `donationPayDetailCode`
			, user_id AS `donationPayUserId`
			, user_regular_donation_subscription_code AS `donationSubCode`
			, regular_donation_code AS `donationCode`
			, regular_donation_auto_pm_code AS `donationPayMethodCode`
			, payment_amount AS `donationPayAmount`
			, sales_commission AS `donationPaySalesCommission`
			, purchase_budget AS `donationPayPurchaseBudget`
			, user_regular_donation_payment_date AS `donationPayDate`
			, user_regular_donation_payment_refund_requested AS `donationPayRefundRequest`
			, regular_donation_sales_group AS `donationPaySalesGroup`
			, user_regular_donation_deadline_check AS `donationPayDeadlineCheck`
		FROM
			user_regular_donation_payment
		<where>
			<if test="searchKey != null and searchKey != ''">
				${searchKey} LIKE CONCAT('%', #{searchValue},'%')
			</if>		
		</where>
			ORDER BY CAST(SUBSTRING_INDEX(donationPayDetailCode, 'donation_payment', -1) AS unsigned) ASC;
	</select>
	
	<insert id="addDonationPayDetail" parameterType="DonationPayDetail">
		/* 정기기부 구독 결제 상세 등록 */
		INSERT INTO user_regular_donation_payment
		(regular_donation_payment_code, user_id, user_regular_donation_subscription_code, regular_donation_code, regular_donation_auto_pm_code, payment_amount, sales_commission, purchase_budget,
		user_regular_donation_payment_date, user_regular_donation_payment_refund_requested, regular_donation_sales_group, user_regular_donation_deadline_check)
		VALUES
		(sf_new_donationPayDetail_code(), #{donationPayUserId}, #{donationSubCode}, #{donationCode}, #{donationPayMethodCode}, #{donationPayAmount}, #{donationPaySalesCommission}, #{donationPayPurchaseBudget},
		#{donationPayDate}, #{donationPayRefundRequest}, #{donationPaySalesGroup}, #{donationPayDeadlineCheck});		
	</insert>
	
	<select id="getDonationPayDetailInfoByCode" resultType="DonationPayDetail" parameterType="String">
		/* 특정 정기기부 구독 결제 상세 조회*/
		SELECT
			regular_donation_payment_code AS `donationPayDetailCode`
			, user_id AS `donationPayUserId`
			, user_regular_donation_subscription_code AS `donationSubCode`
			, regular_donation_code AS `donationCode`
			, regular_donation_auto_pm_code AS `donationPayMethodCode`
			, payment_amount AS `donationPayAmount`
			, sales_commission AS `donationPaySalesCommission`
			, purchase_budget AS `donationPayPurchaseBudget`
			, user_regular_donation_payment_date AS `donationPayDate`
			, user_regular_donation_payment_refund_requested AS `donationPayRefundRequest`
			, regular_donation_sales_group AS `donationPaySalesGroup`
			, user_regular_donation_deadline_check AS `donationPayDeadlineCheck`
		FROM
			user_regular_donation_payment
		WHERE
			regular_donation_payment_code = #{donationPayDetailCode};
	</select>
	
	<update id="modifyDonationPayDetail" parameterType="DonationPayDetail">
		/* 정기기부 구독 결제 상세 수정 */
		UPDATE user_regular_donation_payment
		<set>
			<if test="donationPayAmount != null and donationPayAmount !=''">
				,payment_amount = #{donationPayAmount}
			</if>
			<if test="donationPaySalesCommission != null and donationPaySalesCommission !=''">
				,sales_commission = #{donationPaySalesCommission}
			</if>
			<if test="donationPayPurchaseBudget != null and donationPayPurchaseBudget !=''">
				,purchase_budget = #{donationPayPurchaseBudget}
			</if>
			<if test="donationPayRefundRequest != null and donationPayRefundRequest !=''">
				,user_regular_donation_payment_refund_requested = #{donationPayRefundRequest}
			</if>
			<if test="donationPayDeadlineCheck != null and donationPayDeadlineCheck !=''">
				,user_regular_donation_deadline_check = #{donationPayDeadlineCheck}
			</if>
				,user_id = #{donationPayUserId}
		</set>
		WHERE
			regular_donation_payment_code = #{donationPayDetailCode};
	</update>
	
	<delete id="removeDonationPayDetail" parameterType="DonationPayDetail">
		/* 정기기부 구독 결제 상세 삭제 */
		DELETE
		FROM
		 	user_regular_donation_payment 
		WHERE 
			regular_donation_payment_code = #{donationPayDetailCode};		
	</delete>
	
	<select id="getDonationMonthPay" resultType="DonationMonthPay">
		/* 정기기부 월별 결제 합계 조회 */
		SELECT 
			month_regular_donation_payment_code AS `donationMonthPayCode`
			, regular_donation_code AS `donationCode`
			, payment_year AS `donationMonthPayYear`
			, payment_month AS `donationMonthPayMonth`
			, total_payment_amount AS `donationMonthPayAmount`
			, donation_monthly_deadline_group AS `donationMonthPayDeadlineGroup`
		FROM
			month_regular_donation_payment
		<where>
			<if test="searchKey != null and searchKey != ''">
				${searchKey} LIKE CONCAT('%', #{searchValue},'%')
			</if>		
		</where>
			ORDER BY CAST(SUBSTRING_INDEX(donationMonthPayCode, 'month_donation_payment', -1) AS unsigned) ASC;
	</select>
	
	<insert id="addDonationMonthPay" parameterType="DonationMonthPay">
		/* 정기기부 월별 결제 합계 등록 */
		INSERT INTO month_regular_donation_payment
		(month_regular_donation_payment_code, regular_donation_code, payment_year, payment_month, total_payment_amount, donation_monthly_deadline_group)
		VALUES
		(sf_new_donationMonthPay_code(), #{donationCode}, #{donationMonthPayYear}, #{donationMonthPayMonth}, #{donationMonthPayAmount}, #{donationMonthPayDeadlineGroup});		
	</insert>
	
	<select id="getDonationMonthPayInfoByCode" resultType="DonationMonthPay" parameterType="String">
		/* 특정 정기기부 월별 결제 합계 조회*/
		SELECT
			month_regular_donation_payment_code AS `donationMonthPayCode`
			, regular_donation_code AS `donationCode`
			, payment_year AS `donationMonthPayYear`
			, payment_month AS `donationMonthPayMonth`
			, total_payment_amount AS `donationMonthPayAmount`
			, donation_monthly_deadline_group AS `donationMonthPayDeadlineGroup`
		FROM
			month_regular_donation_payment
		WHERE
			month_regular_donation_payment_code = #{donationMonthPayCode};
	</select>
	
	<update id="modifyDonationMonthPay" parameterType="DonationMonthPay">
		/* 정기기부 월별 결제 합계 수정 */
		UPDATE month_regular_donation_payment
		<set>
			<if test="donationMonthPayYear != null and donationMonthPayYear !=''">
				payment_year  = #{donationMonthPayYear}
			</if>
			<if test="donationMonthPayMonth != null and donationMonthPayMonth !=''">
				,payment_month  = #{donationMonthPayMonth}
			</if>
			<if test="donationMonthPayAmount != null and donationMonthPayAmount !=''">
				,total_payment_amount  = #{donationMonthPayAmount}
			</if>
		</set>
		WHERE
			month_regular_donation_payment_code = #{donationMonthPayCode};
	</update>
	
	<delete id="removeDonationMonthPay" parameterType="DonationMonthPay">
		/* 정기기부 월별 결제 합계 삭제 */
		DELETE
		FROM
		 	month_regular_donation_payment 
		WHERE 
			month_regular_donation_payment_code = #{donationMonthPayCode};		
	</delete>
	
	<select id="getDonationRefund" resultType="DonationRefund">
	/* 정기기부 환불 조회 */
	SELECT
		regular_donation_payment_refund_code AS `donationRefundCode`
		, user_id AS `donationRefundUserId`
		, regular_donation_payment_code AS `donationPayDetailCode`
		, regular_donation_refund_request_date AS `donationRefundRequestDate`
		, regular_donation_refund_request_amount AS `donationRefundRequestAmount`
		, regular_donation_refund_request_reason AS `donationRefundRequestReason`
		, regular_donation_refund_bank_name AS `donationRefundBank`
		, regular_donation_refund_account AS `donationRefundAccount`
		, regular_donation_refund_status AS `donationRefundStatus`
		, regular_donation_refund_approval_date AS `donationRefundApprovalDate`
		, regular_donation_refund_rejection_date AS `donationRefundRejectionDate`
		, regular_donation_refund_reg_id AS `donationRefundRegId`
		, regular_donation_refund_reg_date AS `donationRefundRegDate`
		, regular_donation_refund_update_id AS `donationRefundUpdateId`
		, regular_donation_refund_update_date AS `donationRefundUpdateDate`
	FROM
		regular_donation_payment_refund
	<where>
		<if test="searchKey != null and searchKey != ''">
			${searchKey} LIKE CONCAT('%', #{searchValue},'%')
		</if>		
	</where>
		ORDER BY CAST(SUBSTRING_INDEX(donationRefundCode, 'donation_payment_refund', -1) AS unsigned) ASC;
	</select>
	
	<insert id="addDonationRefund" parameterType="DonationRefund">
		/* 정기기부 환불 등록 */
		INSERT INTO regular_donation_payment_refund
		(regular_donation_payment_refund_code, user_id, regular_donation_payment_code, regular_donation_refund_request_date,
		regular_donation_refund_request_amount, regular_donation_refund_request_reason, regular_donation_refund_bank_name,
		regular_donation_refund_account, regular_donation_refund_status, regular_donation_refund_reg_id, regular_donation_refund_reg_date)
		VALUES
		(sf_new_donationRefund_code(), #{donationRefundUserId}, #{donationPayDetailCode}, #{donationRefundRequestDate}, #{donationRefundRequestAmount},
		#{donationRefundRequestReason}, #{donationRefundBank}, #{donationRefundAccount}, #{donationRefundStatus}, #{donationRefundRegId}, SYSDATE());		
	</insert>
	
	<select id="getDonationRefundInfoByCode" resultType="DonationRefund" parameterType="String">
		/* 특정 정기기부 환불 조회*/
		SELECT
		regular_donation_payment_refund_code AS `donationRefundCode`
		, user_id AS `donationRefundUserId`
		, regular_donation_payment_code AS `donationPayDetailCode`
		, regular_donation_refund_request_date AS `donationRefundRequestDate`
		, regular_donation_refund_request_amount AS `donationRefundRequestAmount`
		, regular_donation_refund_request_reason AS `donationRefundRequestReason`
		, regular_donation_refund_bank_name AS `donationRefundBank`
		, regular_donation_refund_account AS `donationRefundAccount`
		, regular_donation_refund_status AS `donationRefundStatus`
		, regular_donation_refund_approval_date AS `donationRefundApprovalDate`
		, regular_donation_refund_rejection_date AS `donationRefundRejectionDate`
		, regular_donation_refund_reg_id AS `donationRefundRegId`
		, regular_donation_refund_reg_date AS `donationRefundRegDate`
		, regular_donation_refund_update_id AS `donationRefundUpdateId`
		, regular_donation_refund_update_date AS `donationRefundUpdateDate`
		FROM
			regular_donation_payment_refund
		WHERE
			regular_donation_payment_refund_code = #{donationRefundCode};
	</select>
	
	<update id="modifyDonationRefund" parameterType="DonationRefund">
		/* 정기기부 환불 수정 */
		UPDATE regular_donation_payment_refund
		<set>
			<if test="donationRefundRequestAmount != null and donationRefundRequestAmount !=''">
				,regular_donation_refund_request_amount  = #{donationRefundRequestAmount}
			</if>
			<if test="donationRefundRequestReason != null and donationRefundRequestReason !=''">
				,regular_donation_refund_request_reason  = #{donationRefundRequestReason}
			</if>
			<if test="donationRefundBank != null and donationRefundBank !=''">
				,regular_donation_refund_bank_name  = #{donationRefundBank}
			</if>
			<if test="donationRefundAccount != null and donationRefundAccount !=''">
				,regular_donation_refund_account  = #{donationRefundAccount}
			</if>
			<if test="donationRefundStatus  != null and donationRefundStatus !=''">
				,regular_donation_refund_status   = #{donationRefundStatus}
			</if>
			<if test="donationRefundApprovalDate != null and donationRefundApprovalDate !=''">
				,regular_donation_refund_approval_date   = #{donationRefundApprovalDate}
			</if>
			<if test="donationRefundRejectionDate != null and donationRefundRejectionDate !=''">
				,regular_donation_refund_rejection_date  = #{donationRefundRejectionDate}
			</if>
				,regular_donation_refund_update_id  = #{donationRefundUpdateId}
				,regular_donation_refund_update_date  = SYSDATE()
		</set>
		WHERE
			regular_donation_payment_refund_code = #{donationRefundCode};
	</update>
	
	<delete id="removeDonationRefund" parameterType="DonationRefund">
		/* 정기기부 환불 삭제 */
		DELETE
		FROM
		 	regular_donation_payment_refund 
		WHERE 
			regular_donation_payment_refund_code = #{donationRefundCode};		
	</delete>
	
	<select id="getdonationCode" resultMap="DonationCodeResultMap">
		/*  DonationCode 값 가져오기 */
		SELECT 
			regular_donation_code
		FROM
			regular_donation_unit_price
		ORDER BY CAST(SUBSTRING_INDEX(regular_donation_code, 'regular_donation', -1) AS unsigned) ASC;
	</select>
	
	<select id="getdonationPayMethodCode" resultMap="DonationPayMethodCodeResultMap">
		/*  DonationPayMethodCode 값 가져오기 */
		SELECT 
			regular_donation_auto_pm_code
		FROM
			donation_auto_pay_method
		ORDER BY CAST(SUBSTRING_INDEX(regular_donation_auto_pm_code, 'auto_payment', -1) AS unsigned) ASC;
	</select>
	
	<select id="getdonationSubCode" resultMap="DonationSubCodeResultMap">
		/*  DonationSubCode 값 가져오기 */
		SELECT 
			user_regular_donation_subscription_code
		FROM
			user_regular_donation_subscription
		ORDER BY CAST(SUBSTRING_INDEX(user_regular_donation_subscription_code, 'donation_subscription', -1) AS unsigned) ASC;
	</select>
	
	<select id="getpaymentCode" resultMap="PaymentCodeResultMap">
		/*  PaymentCode 값 가져오기 */
		SELECT 
			pm_code
		FROM
			payment_method;
	</select>

	<select id="getdonationPayDetailCode" resultMap="DonationPayDetailCodeResultMap">
		/*  DonationPayDetailCode 값 가져오기 */
		SELECT 
			regular_donation_payment_code
		FROM
			user_regular_donation_payment
		ORDER BY CAST(SUBSTRING_INDEX(regular_donation_payment_code, 'donation_payment', -1) AS unsigned) ASC;
	</select>
</mapper>
