<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ks46team04.admin.mapper.FoundationMapper">
	<resultMap type="Foundation" id="foundationResultMap">
		<id		column="foundation_code"				property="foundationCode"/>
		<result column="foundation_name"				property="foundationName"/>
		<result column="foundation_manager"				property="foundationManager"/>
		<result column="foundation_phone"				property="foundationPhone"/>
		<result column="foundation_addr"				property="foundationAddr"/>
		<result column="foundation_reg_id"				property="foundationRegId"/>
		<result column="foundation_reg_date"			property="foundationRegDate"/>
		<result column="foundation_update_id"			property="foundationUpdId"/>
		<result column="foundation_is_delete"			property="foundationIsDelete"/>
	</resultMap>
	
	<resultMap type="FoundationRequest" id="foundationRequestResultMap">
		<id		column="foundation_request_code"			property="foundationRequestCode"/>
		<result column="foundation_code"					property="foundationCode"/>
		<result column="foundation_name"					property="foundationName"/>
		<result column="content_category"					property="contentCategory"/>
		<result column="request_goods_name"					property="requestGoodsName"/>
		<result column="initial_goods_amount"				property="initialGoodsAmount"/>
		<result column="final_goods_amount"					property="finalGoodsAmount"/>
		<result column="delivery_request_date"				property="deliveryRequestDate"/>
		<result column="request_reg_id"						property="requestRegId"/>
		<result column="request_reg_date"					property="requestRegDate"/>
		<result column="request_update_id"					property="requestUpdId"/>
		<result column="request_update_date"				property="requestUpdDate"/>
		<result column="request_progress_status"			property="requestProgressStatus"/>
	</resultMap>
	
	<delete id="removeFoundationRequest" parameterType="String">
		/* 재단 요청사항 삭제 */
		DELETE 
		FROM 
			foundation_request
		WHERE 
			foundation_request_code = #{foundationRequestCode};
	</delete>
	
	<update id="modifyFoundationRequest" parameterType="FoundationRequest">
		/* 재단 요청사항 수정 */
		UPDATE foundation_request
		<set>
			<if test="contentCategory != null and contentCategory !=''">
				content_category = #{contentCategory}
			</if>
			<if test="requestGoodsName != null and requestGoodsName !=''">
				, request_goods_name = #{requestGoodsName}
			</if>
			<if test="initialGoodsAmount != null and initialGoodsAmount !=''">
				, initial_goods_amount = #{initialGoodsAmount}
			</if>
			<if test="finalGoodsAmount != null and finalGoodsAmount !=''">
				, final_goods_amount = #{finalGoodsAmount}
			</if>
			<if test="deliveryRequestDate != null and deliveryRequestDate !=''">
				, delivery_request_date = #{deliveryRequestDate}
			</if>
			, request_update_id = #{requestUpdId}
			, request_update_date = NOW()
		</set>
		WHERE
			foundation_request_code = #{foundationRequestCode};
	</update>
	
	<select id="getFoundationRequestInfoByCode" resultMap="foundationRequestResultMap">
		/* 특정 재단 요청사항 조회 */
		SELECT
			foundation_request_code
			, foundation_code
			, foundation_name
			, content_category
			, request_goods_name
			, initial_goods_amount
			, final_goods_amount
			, delivery_request_date
			, request_reg_id
			, request_reg_date
			, request_update_id
			, request_update_date
			, request_progress_status
		FROM
			foundation_request
		WHERE
			foundation_request_code = #{foundationRequestCode};
	</select>
	
	<insert id="addFoundationRequest" parameterType="FoundationRequest">
		/* 재단 요청사항 등록 */
		INSERT INTO foundation_request
			(foundation_request_code, foundation_code, foundation_name, content_category, request_goods_name, initial_goods_amount,
				delivery_request_date, request_reg_id, request_reg_date, request_progress_status)
		VALUES 
			(sf_new_foundation_request_code(), sf_return_foundation_code(#{foundationName}), #{foundationName}, #{contentCategory}, #{requestGoodsName}, #{initialGoodsAmount}, #{deliveryRequestDate}, 
				#{requestRegId}, NOW(), #{requestProgressStatus});
	</insert>
	
	<select id="getFoundationRequestList" resultMap="foundationRequestResultMap">
		/* 재단 요청사항 조회 */
		SELECT 
			foundation_request_code
			, foundation_code
			, foundation_name
			, content_category
			, request_goods_name
			, initial_goods_amount
			, final_goods_amount
			, delivery_request_date
			, request_reg_id
			, request_reg_date
			, request_update_id
			, request_update_date
			, request_progress_status
		FROM
			foundation_request
		ORDER BY 
			CAST(SUBSTRING_INDEX(foundation_request_code, 'foundation_request', -1) AS UNSIGNED) DESC;
	</select>
	
	<update id="removeFoundation" parameterType="Foundation">
		/* 재단 삭제 - 삭제 여부 컬럼 수정 */
		UPDATE foundation_list
		SET
			foundation_is_delete = '1'
		WHERE
			foundation_code = #{foundationCode};
	</update>
	
	<update id="modifyFoundation" parameterType="Foundation">
		/* 재단 수정 */
		UPDATE foundation_list
		<set>
			<if test="foundationName != null and foundationName !=''">
				foundation_name = #{foundationName}
			</if>
			<if test="foundationManager != null and foundationManager !=''">
				, foundation_manager = #{foundationManager}
			</if>
			<if test="foundationPhone != null and foundationPhone !=''">
				, foundation_phone = #{foundationPhone}
			</if>
			<if test="foundationAddr != null and foundationAddr !=''">
				, foundation_addr = #{foundationAddr}
			</if>
			, foundation_update_id = #{foundationUpdId}
			, foundation_update_date = NOW()
		</set>
		WHERE
			foundation_code = #{foundationCode};
	</update>
	
	<select id="getFoundationByCode" resultMap="foundationResultMap">
		/* 특정 재단 조회 */
		SELECT
			foundation_code
			, foundation_name
			, foundation_manager
			, foundation_phone
			, foundation_addr
			, foundation_reg_id
			, foundation_reg_date
			, foundation_update_id
			, foundation_update_date
		FROM 
			foundation_list
		WHERE
			foundation_code = #{foundationCode};
	</select>
	
	<insert id="addFoundation" parameterType="Foundation">
		/* 재단 등록 */
		INSERT INTO foundation_list
			(foundation_code, foundation_name, foundation_manager, foundation_phone, foundation_addr,
				 foundation_reg_id, foundation_reg_date)
		VALUES 
			(sf_new_foundation_code(), #{foundationName}, #{foundationManager}, #{foundationPhone}, #{foundationAddr}, 
				#{foundationRegId}, NOW());
	</insert>
	
	<select id="getFoundationList" resultMap="foundationResultMap">
		/* 재단 목록 조회 */
		SELECT
			foundation_code
			, foundation_name
			, foundation_manager
			, foundation_phone
			, foundation_addr
			, foundation_reg_id
			, foundation_reg_date
			, foundation_update_id
			, foundation_update_date
		FROM 
			foundation_list
		WHERE
			foundation_is_delete = '0'
		ORDER BY 
			CAST(SUBSTRING_INDEX(foundation_code, 'foundation', -1) AS UNSIGNED) DESC;
	</select>
	
</mapper>
