<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ks46team04.admin.mapper.FoundationMapper">
	<resultMap type="Foundation" id="foundationResultMap">
		<id		column="foundation_code"				property="foundationCode"/>
		<result column="foundation_name"				property="foundationName"/>
		<result column="foundation_manager"				property="foundationManager"/>
		<result column="foundation_phone"				property="foundationPhone"/>
		<result column="foundation_zipcode"				property="foundationZipcode"/>
		<result column="foundation_addr"				property="foundationAddr"/>
		<result column="foundation_extra_addr"			property="foundationExtraAddr"/>
		<result column="foundation_detail_addr"			property="foundationDetailAddr"/>
		<result column="foundation_reg_id"				property="foundationRegId"/>
		<result column="foundation_reg_date"			property="foundationRegDate"/>
		<result column="foundation_update_id"			property="foundationUpdId"/>
		<result column="foundation_update_date"			property="foundationUpdDate"/>
		<result column="foundation_is_delete"			property="foundationIsDelete"/>
	</resultMap>
	
	<resultMap type="FoundationRequest" id="foundationRequestResultMap">
		<id		column="foundation_request_code"			property="foundationRequestCode"/>
		<result column="foundation_code"					property="foundationCode"/>
		<result column="foundation_name"					property="foundationName"/>
		<result column="content_category"					property="contentCategory"/>
		<result column="request_goods_name"					property="requestGoodsName"/>
		<result column="initial_goods_amount"				property="initialGoodsAmount"/>
		<result column="final_goods_amount"					property="finalGoodsAmount"/>
		<result column="delivery_request_date"				property="deliveryRequestDate"/>
		<result column="request_reg_id"						property="requestRegId"/>
		<result column="request_reg_date"					property="requestRegDate"/>
		<result column="request_update_id"					property="requestUpdId"/>
		<result column="request_update_date"				property="requestUpdDate"/>
		<result column="request_progress_status"			property="requestProgressStatus"/>
	</resultMap>
	
	<update id="modifyFoundationRequest" parameterType="FoundationRequest">
		/* 재단 요청사항 수정 */
		UPDATE foundation_request
		<set>
			<if test="foundationCode != null and foundationCode !=''">
				foundation_code = #{foundationCode}
			</if>
			<if test="foundationName != null and foundationName !=''">
				, foundation_name = #{foundationName}
			</if>
			<if test="contentCategory != null and contentCategory !=''">
				, content_category = #{contentCategory}
			</if>
			<if test="requestGoodsName != null and requestGoodsName !=''">
				, request_goods_name = #{requestGoodsName}
			</if>
			<if test="initialGoodsAmount != null and initialGoodsAmount !=''">
				, initial_goods_amount = #{initialGoodsAmount}
			</if>
			<if test="finalGoodsAmount != null and finalGoodsAmount !=''">
				, final_goods_amount = #{finalGoodsAmount}
			</if>
			<if test="deliveryRequestDate != null and deliveryRequestDate !=''">
				, delivery_request_date = #{deliveryRequestDate}
			</if>
			<if test="requestProgressStatus != null and requestProgressStatus !=''">
				, request_progress_status = #{requestProgressStatus}
			</if>
			, request_update_id = #{requestUpdId}
			, request_update_date = NOW()
		</set>
		WHERE
			foundation_request_code = #{foundationRequestCode};
	</update>
	
	<select id="getFoundationRequestInfoByCode" resultMap="foundationRequestResultMap">
		/* 특정 재단 요청사항 조회 */
		SELECT
			foundation_request_code
			, foundation_code
			, foundation_name
			, content_category
			, request_goods_name
			, initial_goods_amount
			, final_goods_amount
			, delivery_request_date
			, request_reg_id
			, request_reg_date
			, request_update_id
			, request_update_date
			, request_progress_status
		FROM
			foundation_request
		WHERE
			foundation_request_code = #{foundationRequestCode};
	</select>
	
	<insert id="addFoundationRequest" parameterType="FoundationRequest">
		/* 재단 요청사항 등록 */
		INSERT INTO foundation_request
			(foundation_request_code, foundation_code, foundation_name, content_category, request_goods_name,
			 initial_goods_amount, delivery_request_date, request_reg_id, request_reg_date, request_progress_status)
		VALUES 
			(#{foundationRequestCode}, #{foundationCode}, #{foundationName}, #{contentCategory}, #{requestGoodsName},
			 #{initialGoodsAmount}, #{deliveryRequestDate}, #{requestRegId}, NOW(), #{requestProgressStatus});
	</insert>
	
	<delete id="removeFoundationRequest" parameterType="String">
		/* 재단 요청사항 삭제 */
		DELETE 
		FROM 
			foundation_request
		WHERE 
			foundation_request_code = #{foundationRequestCode}
	</delete>
	
	<select id="removeFoundationRequestCheck" parameterType="String" resultType="boolean">
		/* 삭제 재단 요청사항 진행 현황 확인 - 요청사항 진행 현황이 진행중, 완료 아닌 경우에만 삭제 */
		SELECT
			IF(COUNT(1)=0, 1, 0)
		FROM 
			foundation_request
		WHERE 
			foundation_request_code = #{foundationRequestCode}
			and
			(request_progress_status = '진행중' OR request_progress_status = '완료');
	</select>
	
	<select id="getFoundationRequestListBySearch" resultMap="foundationRequestResultMap" parameterType="map">
		/* 재단 요청사항 검색 결과 조회 */
		SELECT 
			foundation_request_code
			, foundation_code
			, foundation_name
			, content_category
			, request_goods_name
			, initial_goods_amount
			, final_goods_amount
			, delivery_request_date
			, request_reg_id
			, request_reg_date
			, request_update_id
			, request_update_date
			, request_progress_status
		FROM
			foundation_request
		<where>
			<if test="inputSearchKey != null and inputSearchKey != ''">
				${inputSearchKey} LIKE CONCAT('%', #{inputSearchValue}, '%')
			</if>
			<if test="contentKey != null and contentValue != ''">
				AND ${contentKey} LIKE CONCAT('%', #{contentValue}, '%')
			</if>
			<if test="progressKey != null and progressValue != ''">
				AND ${progressKey} LIKE CONCAT('%', #{progressValue}, '%')
			</if>
		    <if test="dateSearchKey != null and dateSearchKey != '' and startDate != null and endDate != null">
		    	<choose>
		    		<when test="dateSearchKey == 'deliveryDate'">
				        AND delivery_request_date BETWEEN #{startDate} AND #{endDate}
				    </when>
				    <otherwise>
				        AND 
						(
							request_update_date IS NULL 
							AND request_reg_date BETWEEN #{startDate} 
							AND #{endDate}
							OR request_update_date IS NOT NULL 
							AND request_update_date BETWEEN #{startDate} AND #{endDate}
						)
				    </otherwise>
		    	</choose>
			</if>
		</where>	
		ORDER BY 
			CAST(SUBSTRING_INDEX(foundation_request_code, 'foundation_request', -1) AS UNSIGNED) DESC;
	</select>

	<select id="getFoundationRequestList" resultMap="foundationRequestResultMap">
		/* 재단 요청사항 조회 */
		SELECT 
			foundation_request_code
			, foundation_code
			, foundation_name
			, content_category
			, request_goods_name
			, initial_goods_amount
			, final_goods_amount
			, delivery_request_date
			, request_reg_id
			, request_reg_date
			, request_update_id
			, request_update_date
			, request_progress_status
		FROM
			foundation_request
		ORDER BY 
			CAST(SUBSTRING_INDEX(foundation_request_code, 'foundation_request', -1) AS UNSIGNED) DESC;
	</select>
	
	<update id="modifyFoundation" parameterType="Foundation">
		/* 재단 수정 */
		UPDATE foundation_list
		<set>
			<if test="foundationName != null and foundationName !=''">
				foundation_name = #{foundationName}
			</if>
			<if test="foundationManager != null and foundationManager !=''">
				, foundation_manager = #{foundationManager}
			</if>
			<if test="foundationPhone != null and foundationPhone !=''">
				, foundation_phone = #{foundationPhone}
			</if>
			<if test="foundationZipcode != null and foundationZipcode !=''">
				, foundation_zipcode = #{foundationZipcode}
			</if>
			<if test="foundationAddr != null and foundationAddr !=''">
				, foundation_addr = #{foundationAddr}
			</if>
			<if test="foundationExtraAddr != null">
				, foundation_extra_addr = #{foundationExtraAddr}
			</if>
			<if test="foundationDetailAddr != null and foundationDetailAddr !=''">
				, foundation_detail_addr = #{foundationDetailAddr}
			</if>
			, foundation_update_id = #{foundationUpdId}
			, foundation_update_date = NOW()
		</set>
		WHERE
			foundation_code = #{foundationCode};
	</update>
	
	<select id="getFoundationByCode" resultMap="foundationResultMap">
		/* 특정 재단 조회 */
		SELECT
			foundation_code
			, foundation_name
			, foundation_manager
			, foundation_phone
			, foundation_zipcode
			, foundation_addr
			, foundation_extra_addr
			, foundation_detail_addr
			, foundation_reg_id
			, foundation_reg_date
			, foundation_update_id
			, foundation_update_date
		FROM 
			foundation_list
		WHERE
			foundation_code = #{foundationCode};
	</select>
	
	<select id="getFoundationCodeByName" parameterType="String" resultType="String">
		/* 재단명으로 재단코드 조회 */
		SELECT
			foundation_code AS foundationCode
		FROM
			foundation_list
		WHERE 
			foundation_name = #{foundationName};
	</select>
	
	<select id="getFoundationNameList" resultType="String">
		/* 등록된 재단명 조회 */
		SELECT DISTINCT 
			foundation_name
		FROM 
			foundation_list
		WHERE
			foundation_is_delete = '0'
	</select>
	
	<select id="foundationNameCheck" parameterType="String" resultType="boolean">
		/* 재단명 중복체크 */
		SELECT
			IF(COUNT(1)=0, 1, 0)
		FROM
			foundation_list
		WHERE 
			foundation_name = #{foundationName} and foundation_is_delete = '0';
	</select>
	
	<insert id="addFoundation" parameterType="Foundation">
		/* 재단 등록 */
		INSERT INTO foundation_list
			(foundation_code, foundation_name, foundation_manager, foundation_phone, foundation_zipcode, 
			foundation_addr, foundation_extra_addr, foundation_detail_addr, foundation_reg_id, foundation_reg_date)
		VALUES 
			(#{foundationCode}, #{foundationName}, #{foundationManager}, #{foundationPhone}, #{foundationZipcode}, 
			#{foundationAddr}, #{foundationExtraAddr}, #{foundationDetailAddr}, #{foundationRegId}, NOW());
	</insert>
	
	<update id="removeFoundation" parameterType="Foundation">
		/* 재단 삭제 - 삭제 여부 컬럼 수정 */
		UPDATE foundation_list
		SET
			foundation_is_delete = '1'
		WHERE
			foundation_code = #{foundationCode};
	</update>
	
	<select id="removeFoundationCheck" parameterType="String" resultType="boolean">
		/* 삭제 재단 진행 중 컨텐츠 유무 확인 - 재단 요청사항 테이블에 진행 중인 컨텐츠가 없는 경우에만 삭제 */
		SELECT
			IF(COUNT(1)=0, 1, 0)
		FROM
			foundation_request
		WHERE 
			foundation_code = #{foundationCode}
			and
			(request_progress_status = '진행중' OR request_progress_status = '대기중');
	</select>
	
	<select id="getFoundationListBySearch" resultMap="foundationResultMap" parameterType="map">
		/* 재단 검색 결과 조회 */
		SELECT
			foundation_code
			, foundation_name
			, foundation_manager
			, foundation_phone
			, foundation_zipcode
			, foundation_addr
			, foundation_extra_addr
			, foundation_detail_addr
			, foundation_reg_id
			, foundation_reg_date
			, foundation_update_id
			, foundation_update_date
		FROM 
			foundation_list
		WHERE
			foundation_is_delete = '0'
			<if test="inputSearchKey != null and inputSearchValue != ''">
				AND ${inputSearchKey} LIKE CONCAT('%', #{inputSearchValue}, '%')
			</if>
			<if test="startDate != '' and startDate != null and endDate != null and endDate != ''">
				AND (
						(foundation_update_date IS NULL
						 AND foundation_reg_date BETWEEN #{startDate} 
						 AND CONCAT(#{endDate}, ' 23:59:59'))
						OR
						(foundation_update_date IS NOT NULL
						 AND foundation_update_date BETWEEN #{startDate}
						 AND CONCAT(#{endDate}, ' 23:59:59'))
				)
			</if>
		ORDER BY 
			CAST(SUBSTRING_INDEX(foundation_code, 'foundation', -1) AS UNSIGNED) DESC;
	</select>
	
	<select id="getFoundationList" resultMap="foundationResultMap">
		/* 재단 목록 조회 */
		SELECT
			foundation_code
			, foundation_name
			, foundation_manager
			, foundation_phone
			, foundation_zipcode
			, foundation_addr
			, foundation_extra_addr
			, foundation_detail_addr
			, foundation_reg_id
			, foundation_reg_date
			, foundation_update_id
			, foundation_update_date
		FROM 
			foundation_list
		WHERE
			foundation_is_delete = '0'
		ORDER BY 
			CAST(SUBSTRING_INDEX(foundation_code, 'foundation', -1) AS UNSIGNED) DESC;
	</select>
	
</mapper>
