<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team04.admin.mapper.FundingMapper">
	<resultMap type="Funding" id="fundingResultMap">
		<id 	column="funding_code"			property="fundingCode"/>
		<result column="funding_name"			property="fundingName"/>
		<result column="funding_foundation"		property="foundationName"/>
		<result column="funding_description"	property="fundingDescription"/>
		<result column="goods_code"				property="goodsCode"/>
		<result column="funding_goal_amount"	property="fundingGoalAmount"/>
		<result column="funding_start_date"		property="fundingStartDate"/>
		<result column="funding_end_date"		property="fundingEndDate"/>
		<result column="funding_progress"		property="fundingProgress"/>
		<result column="funding_reg_date"		property="fundingRegDate"/>
		<result column="funding_reg_id"			property="fundingRegId"/>
		<result column="funding_update_date"	property="fundingUpdateDate"/>
		<result column="funding_update_id"		property="fundingUpdateId"/>	
	</resultMap>
	
	<resultMap type="FundingRefund" id="fundingRefundResultMap">
		<id 	column="funding_payment_refund_code"	property="fundingRefundCode"/>
		<result column="funding_refund_request_date"	property="refundRequestDate"/>
		<result column="funding_payment_code"			property="fundingPayCode"/>
		<result column="user_id"						property="refundUserId"/>
		<result column="funding_refund_bank_name"		property="refundBank"/>
		<result column="funding_refund_account"			property="refundAccount"/>
		<result column="funding_refund_request_amount"	property="requestAmount"/>
		<result column="funding_refund_approval_date"	property="approvalDate"/>
		<result column="funding_refund_rejection_date"	property="rejectionDate"/>		
		<result column="funding_refund_request_reason"	property="requestReason"/>
		<result column="funding_refund_status"			property="refundStatus"/>
	</resultMap>
	
	<resultMap type="Goods" id="goodsResultMap">
		<id 	column="goods_code"	property="goodsCode"/>
		<result column="goods_name"	property="goodsName"/>
	</resultMap>
	
	<resultMap type="FundingCurrentAmount" id="FundingCurrentAmountResultMap">
		<id 	column="funding_current_amount_code"	property="fundingCurrentAmountCode"/>
	</resultMap>

	<insert id="registFunding" parameterType="Funding">
		/* 펀딩 등록 */
		INSERT INTO each_funding_info
		(funding_code, funding_name, funding_description, funding_foundation, goods_name, goods_code, funding_goal_amount,
		 funding_start_date, funding_end_date, funding_progress, funding_reg_id, funding_reg_date, funding_update_id, funding_update_date)
		VALUES 
		(sf_new_funding_code(), #{fundingName}, #{fundingDescription}, #{foundationName}, #{goodsName}, #{goodsCode}, #{fundingGoalAmount},
		 #{fundingStartDate}, #{fundingEndDate}, #{fundingProgress}, #{fundingRegId}, CURDATE(), #{fundingUpdateId}, #{fundingUpdateDate});
	</insert>
	
	
	<delete id="deleteFunding" parameterType="String">
		/* 펀딩 삭제 */
		DELETE
		FROM
		 	each_funding_info 
		WHERE 
			funding_code = #{fundingCode};
	</delete>		

	<select id="getFundingProgressList" resultType="Funding">
		/* 진행상태 조회 */
		SELECT
			funding_progress AS fundingProgress
		FROM
			funding_progress_status;					
	</select>
	
	<select id="getGoodsNameList" resultType="Goods">
		/* 상품명 조회 */
		SELECT
			goods_name AS goodsName
		FROM
			goods_reg_info;			
	</select>
	
	<select id="getGoodsCodeList" resultType="Funding">
		/* 상품코드 조회 */
		SELECT
			goods_code AS goodsCode
		FROM
			goods_reg_info;
	</select>	
	
	<select id="getFoundationNameList" resultType="Funding">
		/* 재단 목록 이름 조회 */
		SELECT			
			fl.foundation_name AS foundationName
		FROM 
			foundation_list AS fl
		ORDER BY foundation_code;
	</select>	
	
	<update id="modifyFunding" parameterType="Funding">
		/* 펀딩 정보 수정 */
		UPDATE each_funding_info
		<set>
			funding_code = #{fundingCode},		
			funding_name = #{fundingName},
			funding_description = #{fundingDescription},			
			funding_foundation = #{foundationName},					
			goods_code = #{goodsCode},
			funding_goal_amount = #{fundingGoalAmount},
			funding_start_date = #{fundingStartDate},			
			funding_end_date = #{fundingEndDate},
			funding_progress = #{fundingProgress},
			funding_update_id = #{fundingUpdateId},
			funding_update_date = NOW()			
		</set>
		WHERE 
			funding_code = #{fundingCode};
	</update>
	
	<select id="getFundingInfoByCode" parameterType="String" resultMap="fundingResultMap">
		/* 특정 펀딩 조회*/
		SELECT
			f.funding_code,		  	
			f.funding_name,
			f.funding_description,		  	
			f.funding_foundation,			
			g.goods_name, 	
			f.goods_code,		  	
			f.funding_goal_amount, 		
			f.funding_start_date,  				
			f.funding_end_date,	  	
			f.funding_progress,
			f.funding_reg_date,
			f.funding_update_date				
		FROM
			each_funding_info AS f
			JOIN
			goods_reg_info AS g ON f.goods_code = g.goods_code
		WHERE
			funding_code = #{fundingCode}		
	</select>  
	
	<select id="getFundingList" parameterType="list" resultType="funding">
		/* 펀딩 목록 조회 */
		SELECT
			f.funding_code		  	AS fundingCode,
			f.funding_name		  	AS fundingName,
			f.funding_foundation 	AS foundationName,			
			f.funding_goal_amount 	AS fundingGoalAmount,	
			f.funding_start_date  	AS fundingStartDate,			
			f.funding_end_date	  	AS fundingEndDate,
			f.funding_progress 	  	AS fundingProgress,
			f.goods_code			AS goodsCode,
			g.goods_name		  	AS goodsName
		FROM
			each_funding_info AS f
			JOIN
			goods_reg_info AS g ON f.goods_code = g.goods_code				
		<where>
			<if test="searchList != null">			
				<foreach collection="searchList" item="item">
					<if test="item.value != null and item.value != ''">					
						AND ${item.key} LIKE CONCAT('%', #{item.value}, '%')
					</if>
				</foreach>
			</if>
		</where>		
		ORDER BY funding_code DESC;
	</select>
		
		
		
							<!--펀딩 결제 내역 -->	
	<select id="getFundingPayInfoByCode" parameterType="String" resultType="fundingPay">
		/* 특정 펀딩 결제 내역 */
		SELECT
			fp.funding_payment_code  	AS fundingPayCode,
			fp.user_id		  			AS userId,
			fp.funding_code		  		AS fundingCode,
			fp.funding_payment_date 	AS fundingPaymentDate,	
			fp.funding_payment_amount 	AS fundingPaymentAmount,			
			pm.pm_name				  	AS pmName,
			u.user_name					AS userName,
			u.user_phone				AS userPhone,
			ef.funding_name 			AS fundingName,
			ef.funding_foundation		AS fundingFoundation,
			ef.funding_progress			AS fundingProgress
		FROM
			funding_payments AS fp
			JOIN
			payment_method AS pm ON	fp.pm_code = pm.pm_code
			JOIN
			user_info AS u ON fp.user_id = u.user_id
			JOIN
			each_funding_info AS ef	ON fp.funding_code = ef.funding_code				
		WHERE
			funding_payment_code = #{fundingPayCode}		
	</select> 
	
	<select id="getFundingPayList" resultType="fundingPay">
		/* 펀딩 결제 내역 목록 조회 */
		SELECT
			fp.funding_payment_code  	AS fundingPayCode,
			fp.user_id		  			AS userId,
			fp.funding_code		  		AS fundingCode,
			fp.funding_payment_date 	AS fundingPaymentDate,	
			fp.funding_payment_amount 	AS fundingPaymentAmount,			
			pm.pm_name				  	AS pmName			
		FROM
			funding_payments AS fp
			JOIN
			payment_method AS pm ON	fp.pm_code = pm.pm_code
		<where>			
			<if test="keyword != null and keyword != ''">			
				${keyword} LIKE CONCAT('%', #{searchValue},'%')
			</if>		
		</where>			
		ORDER BY 
			CAST(SUBSTRING_INDEX(funding_payment_code, 'funding_payment',-1) AS unsigned) DESC, fp.funding_payment_code;
	</select>



									<!-- 펀딩 환불 -->
	<select id="getRefundStatusList" resultType="fundingRefund">
		/* 진행상태 조회 */
		SELECT
			funding_refund_status AS refundStatus
		FROM
			funding_pay_refund_status;					
	</select>									
																
	<update id="modifyFundingRefund" parameterType="fundingRefund">
		/* 펀딩 환불 상세 정보 수정 */
		UPDATE funding_payment_refund
		<set>
			funding_payment_refund_code = #{fundingRefundCode},
			user_id = #{refundUserId},
			funding_refund_request_amount = #{requestAmount},
			funding_refund_request_reason = #{requestReason},
			funding_refund_status = #{refundStatus}			
		</set>
		WHERE 
			funding_payment_refund_code = #{fundingRefundCode};
	</update>	
												
	<select id="getFundingRefundInfoByCode" parameterType="String" resultType="fundingRefund">
		/* 특정 펀딩 환불내역 조회*/
		SELECT
			fr.funding_payment_refund_code 		AS fundingRefundCode,		  	
			fr.user_id 					   		AS refundUserId,		  	
			fr.funding_payment_code		   		AS fundingPayCode,
			fr.funding_refund_request_date 		AS refundRequestDate,		  	
			fr.funding_refund_request_amount	AS requestAmount, 		
			fr.funding_refund_bank_name			AS refundBank,  				
			fr.funding_refund_account			AS refundAccount,	  	
			fr.funding_refund_request_reason	AS requestReason,
			fr.funding_refund_status			AS refundStatus,
			fr.funding_refund_approval_date		AS approvalDate,
			fr.funding_refund_rejection_date	AS rejectionDate,
			fp.funding_payment_date				AS fundingPaymentDate,
			pm.pm_name							AS pmName
		FROM
			funding_payment_refund AS fr
			JOIN
			funding_payments AS fp ON fp.funding_payment_code = fr.funding_payment_code
			JOIN
			payment_method AS pm ON pm.pm_code = fp.pm_code
		WHERE
			funding_payment_refund_code = #{fundingRefundCode}	
			
	</select> 
	
	<select id="updateFundingRefundStatus" resultType="fundingRefund">
		/* 처리상태 환불완료로 업데이트 */
		UPDATE funding_payment_refund
		<set>
			funding_refund_status = '환불완료'
		</set>	
		WHERE
			funding_refund_status = '환불전'
	</select>					
							
	<select id="getRefundList" parameterType="list" resultType="fundingRefund">
		/* 펀딩 환불 신청내역 조회 */
		SELECT
			fr.funding_payment_refund_code  	AS fundingRefundCode,
			fr.user_id 					   	 	AS refundUserId,
			fr.funding_payment_code 			AS fundingPayCode,
			fr.funding_refund_request_date 		AS refundRequestDate,
			fr.funding_refund_request_amount	AS requestAmount,
			fr.funding_refund_bank_name 		AS refundBank,
			fr.funding_refund_account 			AS refundAccount,
			fr.funding_refund_request_reason 	AS requestReason,
			fr.funding_refund_status 			AS refundStatus,
			fr.funding_refund_approval_date 	AS approvalDate,
			fr.funding_refund_rejection_date 	AS rejectionDate,			
			fp.funding_payment_date 			AS fundingPaymentDate,
			pm.pm_name 							AS pmName
		FROM
			funding_payment_refund AS fr
			JOIN
			funding_payments AS fp ON fp.funding_payment_code = fr.funding_payment_code
			JOIN
			payment_method AS pm ON pm.pm_code = fp.pm_code	
		<where>
			<if test="searchList != null">			
				<foreach collection="searchList" item="item">
					<if test="item.value != null and item.value != ''">					
						AND ${item.key} LIKE CONCAT('%', #{item.value}, '%')
					</if>
				</foreach>
			</if>
		</where>
		ORDER BY funding_payment_refund_code DESC;
	</select>
	
	
	<!-- 컨텐츠 별 진행현황 -->
	<select id="getTargetSum" resultType="Integer">
		/* 진행 펀딩 총 목표 금액 */
	    SELECT
	    	SUM(funding_goal_amount) AS targetSum
	    FROM
	    	funding_current_amount
	    WHERE funding_progress = '진행중' AND funding_goal_amount IS NOT NULL AND funding_goal_amount != ''
	</select>
	
	<select id="sumOfCurrentAmount" resultType="Integer">
		/* 진행 펀딩 현재 모금 합계액 */ 
	    SELECT
	    	SUM(funding_current_achieved_amount) AS currentSum
	    FROM
	    	funding_current_amount
	    WHERE funding_progress = '진행중' AND funding_goal_amount IS NOT NULL AND funding_goal_amount != ''
	</select>

	<select id="allAccomplishmentRate" resultType="Integer">
		/* 진행 펀딩 전체 달성률 */
		SELECT
			(SUM(funding_current_achieved_amount) / SUM(funding_goal_amount)) * 100 AS allAccomplishmentRate
		FROM
			funding_current_amount
		WHERE funding_progress = '진행중';
	</select>
	
	<!-- 
	<select id="accomplishmentRate" parameterType="Integer" resultMap="FundingCurrentAmountResultMap">
		/* 개별 펀딩 달성률 */ 			
		SELECT
			ROUND((funding_current_achieved_amount / funding_goal_amount) * 100) AS roundedValue
		FROM
			funding_current_amount
		WHERE
			funding_current_amount_code = #{fundingCurrentAmountCode};
			
	</select>
	 -->
	
	<select id="getFundingProgressStatus" resultType="FundingCurrentAmount">
		/* 펀딩 모금 진행현황 조회 */	
		SELECT		
			fc.funding_code 					AS fundingCode,
			ef.funding_name 					AS fundingName,
			ef.funding_foundation 				AS foundationName,			
			fc.funding_goal_amount 				AS fundingGoalAmount,
			fc.funding_current_achieved_amount 	AS currentAchievedAmount,
			fc.funding_achieved_rate 			AS achievedRate
		FROM
			funding_current_amount AS fc
			LEFT JOIN
			each_funding_info AS ef ON fc.funding_code = ef.funding_code 		 		
		<where>			
			<if test="searchKey != null and searchKey != ''">			
				${searchKey} LIKE CONCAT('%', #{searchValue},'%')
			</if>		
			fc.funding_progress = '진행중';
		</where>	
	</select>
	

	
	
</mapper>
