<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ks46team04.admin.mapper.GoodsMapper">
	<resultMap type="Goods" id="goodsResultMap">
		<id		column="goods_code"				property="goodsCode"/>
		<result column="goods_name"				property="goodsName"/>
		<result column="goods_company"			property="goodsCompany"/>
		<result column="goods_category"			property="goodsCategory"/>
		<result column="goods_price"			property="goodsPrice"/>
		<result column="goods_reg_id"			property="goodsRegId"/>
		<result column="goods_reg_date"			property="goodsRegDate"/>
		<result column="goods_update_id"		property="goodsUpdId"/>
		<result column="goods_update_date"		property="goodsUpdDate"/>
		<result column="goods_is_delete"		property="goodsIsDelete"/>
		<association property="stockInfo" javaType="Stock">
			<result column="goods_code"						property="goodsCode"/>
			<result column="final_stock_amount"				property="finalStockAmount"/>
		</association>
	</resultMap>
	
	<resultMap type="GoodsCategory" id="goodsCategoryResultMap">
		<result column="goods_category_code"		property="goodsCategoryCode"/>
		<result column="goods_category"				property="goodsCategory"/>
	</resultMap>
	
	
	
	<update id="removeGoods" parameterType="Goods">
		/* 상품 삭제 - 삭제 여부 컬럼 수정, 상품 재고 테이블에 해당 상품의 모든 재고량이 0인 경우에만 삭제 */
		UPDATE goods_reg_info
		SET
			goods_is_delete = '1'
		WHERE
			goods_code = #{goodsCode};
	</update>
	
	<update id="modifyGoods" parameterType="Goods">
		/* 상품 수정 */
		UPDATE goods_reg_info
		<set>
			<if test="goodsName != null and goodsName !=''">
				goods_name = #{goodsName}
			</if>
			<if test="goodsCompany != null and goodsCompany !=''">
				, goods_company = #{goodsCompany}
			</if>
			<if test="goodsCategory != null and goodsCategory !=''">
				, goods_category = #{goodsCategory}
			</if>
			<if test="goodsPrice != null and goodsPrice !=''">
				, goods_price = #{goodsPrice}
			</if>
			, goods_update_id = #{goodsUpdId}
			, goods_update_date = NOW()
		</set>
		WHERE
			goods_code = #{goodsCode};
	</update>
	
	<select id="getGoodsInfoByCode" resultMap="goodsResultMap">
		/* 특정 상품 조회 */
		SELECT 
			goods_code
			, goods_name
			, goods_company
			, goods_category
			, goods_price
			, goods_reg_id
			, goods_reg_date
			, goods_update_id
			, goods_update_date
		FROM
			goods_reg_info
		WHERE
			goods_code = #{goodsCode};
	</select>
	
	<select id="getGoodsCompanyList" resultType="String">
		/* 상품 제조사 조회 */
		SELECT
			goods_company AS goodsCompany
		FROM
			goods_reg_info;
	</select>
	
	<select id="goodsNameCheck" parameterType="String" resultType="boolean">
		/* 상품명 중복체크 */
		SELECT
			IF(COUNT(1)=0, 1, 0)
		FROM
			goods_reg_info
		WHERE 
			goods_name = #{goodsName} and goods_is_delete = '0';
	</select>
	
	<insert id="addGoods" parameterType="Goods" >
		/* 상품 등록 */
		INSERT INTO goods_reg_info
			(goods_code, goods_name, goods_company, goods_category, goods_price, goods_reg_id, goods_reg_date)
		VALUES
			(sf_new_goods_code(), #{goodsName}, #{goodsCompany}, #{goodsCategory}, #{goodsPrice}, #{goodsRegId}, NOW());
	</insert>
	
	<select id="getGoodsListBySearch" resultMap="goodsResultMap" parameterType="map">
		/* 상품 검색 결과 조회 */
		SELECT
			goods_code
			, goods_name
			, goods_company
			, goods_category
			, goods_price
			, goods_reg_id
			, goods_reg_date
			, goods_update_id
			, goods_update_date
		FROM
			goods_reg_info
		WHERE
			goods_is_delete = '0'
			<if test="searchKey != null and searchKey != ''">
				AND ${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
			</if>
			<if test="startDate != null and endDate != null">
				AND (
					goods_update_date IS NULL AND goods_reg_date BETWEEN #{startDate} AND #{endDate}
					OR goods_update_date IS NOT NULL AND goods_update_date BETWEEN #{startDate} AND #{endDate}
				)
			</if>
		ORDER BY 
			CAST(SUBSTRING_INDEX(goods_code, 'goods', -1) AS UNSIGNED) DESC;
	</select>
	
	<select id="getGoodsList" resultMap="goodsResultMap">
		/* 상품 목록 조회 */
		SELECT
			goods_code
			, goods_name
			, goods_company
			, goods_category
			, goods_price
			, goods_reg_id
			, goods_reg_date
			, goods_update_id
			, goods_update_date
		FROM
			goods_reg_info
		WHERE
			goods_is_delete = '0'
		ORDER BY 
			CAST(SUBSTRING_INDEX(goods_code, 'goods', -1) AS UNSIGNED) DESC;
	</select>
	
	<select id="getGoodsCategoryList" resultMap="goodsCategoryResultMap">
		/* 상품 분류 조회 */
		SELECT 
			goods_category_code
			, goods_category
		FROM
			goods_category_info;
	</select>
	
</mapper>