<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ks46team04.admin.mapper.NoticeBoardMapper">
	<resultMap type="NoticeBoard" id="BoardResultMap">
		<id		column="notice_board_code"				property="noticeBoardCode"/>
		<result column="notice_board_title"				property="noticeBoardTitle"/>
		<result column="notice_board_content"			property="noticeBoardContent"/>
		<result column="notice_reg_id"					property="noticeBoardRegId"/>
		<result column="notice_board_reg_date"			property="noticeBoardRegDate"/>
		<result column="notice_update_id"				property="noticeBoardUpdId"/>
		<result column="notice_update_date"				property="noticeBoardUpdDate"/>
	</resultMap>
	
	<delete id="removeNoticeBoard" parameterType="String">
		/* 공지사항 삭제 */
		DELETE 
		FROM 
			notice_board_info
		WHERE 
			notice_board_code = #{noticeBoardCode};
	</delete>
	
	<update id="modifyNoticeBoard" parameterType="NoticeBoard">
		/* 공지사항 수정 */
		UPDATE notice_board_info
		<set>
			<if test="noticeBoardTitle != null and noticeBoardTitle !=''">
				notice_board_title = #{noticeBoardTitle}
			</if>
			<if test="noticeBoardContent != null and noticeBoardContent !=''">
				, notice_board_content = #{noticeBoardContent}
			</if>
			, notice_update_id = #{noticeBoardUpdId}
			, notice_update_date = NOW()
		</set>
		WHERE
			notice_board_code = #{noticeBoardCode};
	</update>
	
	<select id="getNoticeBoardInfoByCode" resultMap="BoardResultMap">
		/* 특정 공지사항 조회 */
		SELECT 
			notice_board_code
			, notice_board_title
			, notice_board_content
			, notice_reg_id
			, notice_board_reg_date
			, notice_update_id
			, notice_update_date
		FROM
			notice_board_info
		WHERE
			notice_board_code = #{noticeBoardCode};
	</select>
	
	<insert id="addNoticeBoard" parameterType="NoticeBoard">
		/* 공지사항 등록 */
		INSERT INTO notice_board_info
			(notice_board_code, notice_board_title, notice_board_content, notice_reg_id, notice_board_reg_date)
		VALUES
			(#{noticeBoardCode}, #{noticeBoardTitle}, #{noticeBoardContent}, #{noticeBoardRegId}, NOW());
	</insert>
	
	<select id="getNoticeBoardList" resultMap="BoardResultMap">
		/* 공지사항 조회 */
		SELECT 
			notice_board_code
			, notice_board_title
			, notice_board_content
			, notice_reg_id
			, notice_board_reg_date
			, notice_update_id
			, notice_update_date
		FROM
			notice_board_info;
	</select>
</mapper>