<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ks46team04.admin.mapper.PaymentMapper">
	<resultMap type="Payment" id="paymentResultMap">
		<id		column="pm_code"				property="paymentCode"/>
		<result column="pm_name"				property="paymentName"/>
		<result column="pm_company"				property="paymentCompany"/>
	</resultMap>
	
	<select id="getPayment" resultMap="paymentResultMap">
		/*정기기부 단가 조회*/
		SELECT 
			pm_code
			, pm_name
			, pm_company
		FROM
			payment_method;
	</select>
</mapper>
