@charset "UTF-8";
.number-input {
    width: 9rem; 
    height: calc(1em + 0.5rem + 2px);
    display: inline-block;
    margin-right: 0.2rem;
    padding: 1.13rem 1rem;
    text-align: center;
} 
.short-input {
    width: 15rem; 
    height: calc(1em + 0.5rem + 2px);
    display: inline-block;
    margin-right: 0.2rem;
    padding: 1.13rem 1rem;
    text-align: center;
} 
.long-input {
    width: 50rem; 
    height: calc(1em + 0.5rem + 2px);
    display: inline-block;
    margin-right: 0.2rem;
    padding: 1.13rem 1rem
} 
.hidden {
	display:none;
}
.check-block {
	display: block;
}
.black-bg {
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 5;
  padding: 30px;
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
} 