@charset "UTF-8";

#current_amount_select {
	width: 120px;
	
}

select:focus {
	outline: none;
}

#goodsCode{
	width: 140px;
	text-align: center;
}

label {
	margin: 4px 0;
}

ul {
	list-style: none;
	padding-left: 0;
}

table a{
	text-decoration: underline;
	color: #858796;
}


th {
	vertical-align: middle;
	text-align: center;
}

.list-table {
	margin-top: 70px;
}



/* manage 펀딩 컨텐츠 관리 */

.dateSelect input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
}

.dateSelect input[type='date']:focus::before,
.dateSelect input[type='date']:valid::before {
  display: none;
}

#fundingName{
	text-align: left;
}

.fmtable th{
	text-align: center;
}

.fmtable td{
	padding: 6px;
	text-align: center;
}

.fradio {
	margin-right: 5px;
}

.f-date-select {
	margin-right: 5px;
}


.manage-s-table label {
	margin-left: 8px;
}




/* pay 결제내역 */


/* modifyPay 결제내역 상세 */
.mTitle h2{
	display: inline-block;
	font-size: 17px;
	font-weight: 600;
	color: #1b1e26;
	line-height: 1.5em;
	vertical-align: middle;	
}

.mTitle{
	margin-top:30px;
}






/* refund 환불관리 */
.f-refund th {
	text-align: center;
}

.f-refund td {
	font-size: 15px;
	padding: 6px;
	text-align: center;
}

.refund-s-table label {
	margin-left: 8px;
}

.refund-table label {
	margin-bottom: 0;
}



/* 상세 정보 화면 공통 */
#fRegInfo {
	font-size: 15px;
}

#fRegInfo input {
	background-color: #fff;	
}

.modify-table th {
	width: 9em;
	vertical-align: middle;
}

input[type="text"]:disabled,
input[type="number"]:disabled {
  background: #fff;
}