@charset "UTF-8";

/*modal style - start*/
#modal.modal-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background : rgba( 255, 255, 255, 0.25);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}


#modal .modal-window {
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 450px;
	/* height: 300px; */
	position: relative;
	z-index: 100;
	top: -70px;
	padding: 27px;
}

#modal .title {
	padding-left: 10px;
	display: inline;
}

#modal .title h3 {
	display: inline;
}

.x-box{
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
}
.modal-window a{
	margin-right: 30px;	
}

.modal-btns{
	width: 202px;
	margin: 0 auto;
	padding: 10px 0;
}

.modal-btns button:nth-child(2){
	margin-left: 38px;
}

#modal .content {
	margin-top: 20px;
	padding: 15px 14px;
}

.content-goods{
	font-size: 1.3rem;
	color: #EC4D2A;
}
/*modal style - end*/