<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<!-- Custom styles for this page -->
<link th:href="@{/css/lbr-style.css}" rel="stylesheet">
</head>

<th:block layout:fragment="customContents">
	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Page Heading -->

		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">수수료 조회</h1>
		</div>

		<p>
			정기 기부와 펀딩 결제에 공통적으로 적용되는 수수료입니다.<br>
			조회·수정만 가능하며, 삭제·등록은 불가능합니다.<br>
			파라미터 필요없음. 오로지 하나의 행만 단순 조회.<br>
			수수료비율 소수점을 백분율%로 서비스에서 가공
		</p>

		<!-- 기본 -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">
					매입·매출 > <a th:href="@{/admin/purchase_sale/payment_vat_list}">수수료
						관리</a>
				</h6>
			</div>
		</div>

		<div class="card shadow mb-4">
			<div class="card-body">
				<br>
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%"
						cellspacing="0">
						<thead>
							<tr>
								<th>결제 수수료</th>
								<th>최초 등록일</th>
								<th>수정일</th>
								<th>수정자 아이디</th>
							</tr>
						</thead>
						<tbody>
							<tr th:unless="${getVatRow == null}">
								<td><b th:text="${getVatRow.vatRatio}"></b></td>
								<td th:text="${getVatRow.vatRegDate}"></td>
								<td th:text="${getVatRow.vatUpdateDate}"></td>
								<td th:text="${getVatRow.vatUpdateId}"></td>
							</tr>
						</tbody>
					</table>
				</div>

				<button id="btn-modal" class="btn btn-primary">
					<span class="text text-gray-100">수정</span>
				</button>

				<br> <br>

				<!-- modal -->
				<div id="modal" class="modal-overlay">
					<div class="modal-window bg-gray-100">
						<div class="title">
							<h3>경고</h3>
						</div>
						<div class="close-area x-box">X</div>
						<div class="content">
							<p>
								수수료는 수정 즉시 반영되며<br>
								달의 매입·매출 정산 마감에 영향을 미칩니다.<br> 
								수정하시겠습니까?
							</p>
						</div>
						<a th:href="@{/admin/purchase_sale/payment_vat_update}">
							<button type="button" class="btn btn-secondary">						
								<span class="text-gray-100">예</span>							
							</button>
						</a>
						<button type="button" class="close-area btn btn-secondary">아니오</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- container-fluid -->
</th:block>

<!-- 사용자정의 Js 페이지 -->
<th:block layout:fragment="customJs">
	<script>
	const $modal = document.getElementById('modal');

	function modalOn() {
	    $modal.style.display = 'flex';
	}
	function modalOff() {
	    $modal.style.display = 'none';
	}
	const $btnModal = document.getElementById('btn-modal');
	$btnModal.addEventListener('click', e => {
	    modalOn();
	})
	const $closeBtn = modal.querySelectorAll('.close-area');
	$.each($closeBtn, (idx,item) => {
		console.log(item);
		item.addEventListener('click', e => {
			modalOff();
		})
	});
	
	$modal.addEventListener('click', e => {
	    const evTarget = e.target;
	    if(evTarget.classList.contains('modal-overlay')) {
	        modalOff();
	    }
	})
	window.addEventListener('keyup', e => {
	    if(isModalOn() && e.key === 'Escape') {
	        modalOff();
	    }
	})
</script>
</th:block>
</html>