<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<!-- Custom styles for this page -->
	<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
	<link th:href="@{/css/lbr-style.css}" rel="stylesheet">
</head>

<th:block layout:fragment="customContents">
	<!-- Begin Page Content -->
	<div class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-4 text-gray-800">매입 기록 조회</h1>
		<p class="mb-4">
			매입 기록을 조회합니다.<br> 
			마감되지 않은 기록과 예정 기록도 포함입니다.<br><br>
			
			매입 등록 - 관리자가 직접 등록한다<br>
			매입 수정 - 관리자가 직접 수정한다<br>
			매입 삭제 - 관리자가 직접 삭제한다<br><br>
			
			매입현황[purchase_status]이 매입_입금_완료 상태이면 매입그룹코드[purchase_group_code]에 코드가 생성된다.<br>
			(purchase_group_230226_1) 날짜 뒤 _1은 그날 매입 기록 번호.<br><br>
			
			달 마감은 매월 4일 00시에 이루어진다.<br>
			달 마감된 매입 기록은 수정, 삭제가 불가능하다.<br>
			수정, 삭제 버튼이 [마감]으로 바뀐다.<br>
			마감은 태이블의 완전마감유무[user_purchse_deadlinde_check] 칼럼으로 판단한다.<br>
			
			검색 기능<br><br>
			
			보완할 점1 - 후에 완전히 동일한 이름으로 상품을 등록하면, 상품코드가 새로 생성되므로 이전 기록의 상품명들은 계속 삭제된 상품인 채로 남는다. 따라서, 이전과 완전히 동일한 상품명의 경우 삭제 여부를 미삭제 건으로 수정하고 상품명에서 삭제된 상품 설명을 지우는 방향이 어떨까 싶다.<br>
		</p>
		<!--   
                        1.입고 매입액 조회				
                        2. 기간 별 매입 누계 조회(달, 분기)
                        3. 총 매입 누계 조회
                    -->

		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">매입 기록 조회</h6>
			</div>
			<div class="card-body">
				<!-- 검색 테이블 -->
				<div class="table-responsive">
					<table class="table table-bordered search-table"
						id="searchdataTable" width="100%" cellspacing="0">
						<tbody>
							<tr>
								<th class="bg-gray-100">통합 검색</th>
								<td><input type="text"
									class="form-control form-control-user-search"
									id="purchase-search"> <!-- <a href="#" class="btn btn-primary">
                                                    <span class="icon text-white-50">
                                                    </span>
                                                    <span class="text">검색</span>
                                                </a> -->
									<button class="btn btn-primary">
										<span class="text text-gray-100">검색</span>
									</button></td>
							</tr>
							<tr>
								<th class="bg-gray-100">기간 상세</th>
								<td>
									<form>
										<div class="form-row align-items-center search-schedule">
											<div class="col-auto">
												<label for="start-date" class="sr-only">시작일</label> <input
													type="date" id="start-date" class="form-control"
													placeholder="시작일">
											</div>
											~
											<div class="col-auto">
												<label for="end-date" class="sr-only">종료일</label> <input
													type="date" id="end-date" class="form-control"
													placeholder="종료일">
											</div>
										</div>
									</form>
									<button class="btn btn-primary search-schedule">
										<span class="text text-gray-100">검색</span>
									</button>

								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">기간 검색</th>
								<td>
									<button class="btn btn-primary">
										<span class="text text-gray-100">당일</span>
									</button>
									<button class="btn btn-primary">
										<span class="text text-gray-100">당월</span>
									</button>
									<button class="btn btn-primary">
										<span class="text text-gray-100">해당 분기</span>
									</button>
								</td>
							</tr>
							<tr>
								<th class="bg-gray-100">현황 검색</th>
								<td><select
									class="dropdown btn btn-primary dropdown-toggle"
									id="dropdownMenuButton" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
										<option value="option1">:: 매입 현황 ::</option>
										<option value="option2">매입 예정</option>
										<option value="option2">매입 입금 완료</option>
								</select></td>
							</tr>
							<tr>
								<th class="bg-gray-100">마감 여부</th>
								<td><select
									class="dropdown btn btn-primary dropdown-toggle"
									id="dropdownMenuButton" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
										<option value="option1">:: 마감 여부 ::</option>
										<option value="option2">마감 전</option>
										<option value="option2">마감 완료</option>
								</select></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="mx-auto" style="width: 60px;">
					<button class="btn btn-primary">
						<span class="text text-gray-100">검색</span>
					</button>
				</div>
			</div>
		</div>


		<div class="card shadow mb-4">
			<div class="card-body">
				<br>
				<button class="deleteAllChecks btn btn-primary">
					<span class="text text-gray-100">선택 항목 일괄 삭제</span>
				</button>
				
				<a th:href="@{/admin/purchase_sale/purchase_insert}">
					<button class="btn btn-primary addNewPurchase">
						<span class="text text-gray-100">새 매입 등록</span>
					</button>
				</a>
				<br>
				<br>
				<!-- 조회된 테이블 -->
				<div class="table-responsive">
					<table class="table table-bordered text-center table-layout-auto table-space" id="dataTable" width="100%"
						cellspacing="0">
						<thead class="bg-gray-100">
							<tr class="text-center">
								<td><input type="checkbox" id="allDeleteCheck" class="update-delete"
									name="updateDeleteCheck" value="false"></td>
								<!-- 매입 현황	상품명	매입 단가	매입 수량	총 매입가	매입 날짜	매입 등록자	매입 등록일	매입 수정자	매입 수정일 -->
								<th>매입 현황</th>
								<th>상품명</th>
								<th>매입 단가</th>
								<th>매입 수량</th>
								<th>총 매입가</th>
								<th>매입 날짜</th>
								<th>매입 등록자</th>
								<th>매입 등록일</th>
								<th>매입 수정자</th>
								<th>매입 수정일</th>
								<th>수정</th>
								<th>삭제</th>
							</tr>
						</thead>
						<tbody>
							<tr th:unless="${totalPurchaseList == null}" th:each="l : ${totalPurchaseList}">
								<td>
									<input type="checkbox" class="update-delete deleteChecks" name="DeleteCheck" value="false">
									<input type="hidden" class="purchaseCode" name="purchaseCode" th:value="${l.purchaseCode}">	
								</td>
								<td th:text="${l.purchaseStatus}"></td>
								<td class="goodsName" th:text="${l.goodsName}"></td>
								<td class="price" th:text="${l.purchasePrice}"></td>
								<td th:text="${l.purchaseQuantity}"></td>
								<td class="price" th:text="${l.totalPurchasePrice}"></td>
								<td th:text="${l.purchaseDate}"></td>
								<td th:text="${l.purchaseRegId}"></td>
								<td th:text="${l.purchaseRegDate}"></td>
								<td th:text="${l.purchaseUpdateId}"></td>
								<td th:text="${l.purchaseUpdateDate}"></td>
								<td>
									<a th:href=@{/admin/purchase_sale/purchase_update(purchaseCode=${l.purchaseCode},goodsCode=${l.goodsCode})}>	
										<button class="btn btn-secondary btn-sm">
											<span class="text text-gray-100">수정</span>
										</button>
									</a>
								</td>
								<td>
									<button class="btn btn-secondary btn-sm btn-modal">
										<span class="text text-gray-100">삭제</span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br>
				<button class="deleteAllChecks btn btn-primary">
					<span class="text text-gray-100">선택 항목 일괄 삭제</span>
				</button>
				
				<!-- modal -->
				<div id="modal" class="modal-overlay">
					<div class="modal-window bg-gray-100">
						<div class="title">
							<h3>삭제 확인</h3>
						</div>
						<div class="close-area x-box">X</div>
						<div class="content">
							<p>
								해당 매입 기록을 삭제하시겠습니까?<br>
								삭제된 기록은 복구할 수 없습니다.<br>
							</p>
							<p class="content-goods">[<span class="content-goods-name"></span>]</p>
							<hr>
							<div>
								<p>관리자 비밀번호 확인</p>
								<input type="password" id="masterPw" name="masterPw" placeholder="비밀번호" class="form-control form-control-user-search purchase-search">
							</div>						
						</div>
						<div class="modal-btns">
								<button type="button" id="deletePurchase" class="btn btn-secondary">						
								<span class="text-gray-100">매입 삭제</span>							
							</button>
							<button type="button" class="close-area btn btn-secondary">취소</button>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
	<!-- /container-fluid -->
</th:block>

<!-- 사용자정의 Js 페이지 -->
<th:block layout:fragment="customJs">
	<!-- Page level plugins -->
	<script th:src="@{../../vendor/datatables/jquery.dataTables.min.js}"></script>
	<script
		th:src="@{../../vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{../../js/demo/datatables-demo.js}"></script>
	<script type="text/javascript">
		const dataTable	= $('#dataTable').DataTable({
			'ordering': false,
		  	'info': false
		});
	</script>
	
	<script>
		let isCheckDelBtn = false;
		let isOnlyDelBtn = false;
		
		let $onlyRowSave = null;
		let $checkRowsSave = [];

		const $masterPw = $('#masterPw');
		
		//선택된 PK요소를 파라미터로 보낸다
		function requestDelete(delPkValues, $delPkEles){
			let masterPw = $masterPw.val()
			$.ajax({
				  url: '/admin/purchase_sale/request_remove',
				  method: 'POST',
				  data: { 
						  'masterPw': masterPw, 
						  'delPkValues': delPkValues
						}, 
				  dataType: 'json',
				  success: function(response) {   
								console.log(response);
							    if(response.isDel){
						    	 // 요소 리무브 
								  	$.each($delPkEles, function(idx, item){
								  		console.log($(item).parents('tr'));
								  		dataTable.row( $(item).parents('tr') )
								        		 .remove()
								        		 .draw();	//화면에서 해당요소 지움
								    });
							    	modalOff();
						    	 
								  	console.log($onlyRowSave + '<- $onlyRowSave1');
									console.log($checkRowsSave + ' <- $checkRowsSave1');
							    	$onlyRowSave = null;
									$checkRowsSave = [];
									console.log($onlyRowSave + '<- $onlyRowSave2');
									console.log($checkRowsSave + ' <- $checkRowsSave2');
							    }else{
							    	alert(response.msg);
							    }
				  },
				  error: function(error) {
				    // 삭제 요청이 실패한 경우 실행되는 콜백 함수
				    // 에러 처리 로직을 추가할 수 있음
				    //alert('삭제할 수 없습니다.');
				    console.log('요청실패');
				  }
			});
		}
	
	</script>
	
	<script>
		const $modal = document.getElementById('modal');
		let isModalOn = false;
		
		function modalOn() {
		    $modal.style.display = 'flex';
		    $masterPw.val('');
		    isModalOn = true;
		}
		function modalOff() {
		    $modal.style.display = 'none';
		    isModalOn = false;
		   	isCheckDelBtn = false;
			isOnlyDelBtn = false;
		}
		
		//개별 삭제 버튼
		const $btnModal = document.querySelectorAll('.btn-modal');	
		console.log($btnModal);
		$btnModal.forEach(function(item, idx){
			item.addEventListener('click', e => {
				const $parentTr = item.parentNode.parentNode; // item의 부모 요소인 tr을 가져옴
				console.log($parentTr + '<- $parentTr');
				$onlyRowSave = item.parentNode.parentNode;	//체크된 단일 행 요소 저장	
				
				const $goodsNameEle = $parentTr.querySelector('.goodsName'); // tr 안에서 클래스가 'goodsName'인 요소를 선택
				console.log($goodsNameEle);
				let goodsname = $goodsNameEle.textContent;
				console.log(goodsname);
				
				const $modalContentName = document.querySelector('.content-goods-name')
				$modalContentName.textContent = goodsname;
				isOnlyDelBtn = true;
			    modalOn();
			});
		});
		
		const $closeBtn = modal.querySelectorAll('.close-area');
		$.each($closeBtn, (idx,item) => {
			console.log(item);
			item.addEventListener('click', e => {
				modalOff();
			})
		});
		
		$modal.addEventListener('click', e => {
		    const evTarget = e.target;
		    if(evTarget.classList.contains('modal-overlay')) {
		        modalOff();
		    }
		});
		window.addEventListener('keyup', e => {
		    if(isModalOn && e.key === 'Escape') {
		        modalOff();
		    }
		});
	</script>
	
	<script>
		//전체선택 체크박스
		$('#allDeleteCheck').click(function(){
			$('.deleteChecks').prop('checked', $(this).prop('checked'));
		});

		$('.deleteChecks').click(function(){
			let length = $('.deleteChecks').length;
			let checkLength = $('.deleteChecks:checked').length;
			//console.log(length);

			if(length == checkLength){
				$('#allDeleteCheck').prop('checked',true);
			}else{
				$('#allDeleteCheck').prop('checked',false);
			}
		});
		
		
		//체크된 항목 삭제 버튼
		console.log($('.deleteAllChecks').length);
		$.each($('.deleteAllChecks'), function(idx, item){
			$(item).click(function(){
				//삭제
				const $checkRows = $('.deleteChecks[type="checkbox"]:checked').parents('tr');
				console.log($checkRows.length);
	
				$.each($checkRows, function(idx, item){ //체크된 행 요소들 저장
					$checkRowsSave[idx] = $(item);
					console.log($checkRowsSave[idx]);
				});
				
				
				const $checkNames = $checkRows.last().find('.goodsName');
				let nameStr = $checkNames.text();
				
				if($checkRows.length == 0){
					alert('선택된 항목이 없습니다.');
					return false;
				}else if($checkRows.length > 1){
					nameStr += '<br>' + `¨외 ${$checkRows.length-1} 건`;
				}
	
				console.log(nameStr);
				$('.content-goods-name').html(nameStr);
				isCheckDelBtn = true;
				modalOn();
			});
		});
		
		
		$('#deletePurchase').click(function(){
			//세션 아이디가 관리자이며 아이디에 해당하는 비밀번호가 일치하는지 확인
			//정보가 맞다면 디비에서 해당 row 지우기
			//체크된 요소 배열 넘기기 or 삭제 누른 요소 하나만 넘기기
			//체크가 되었을수도 있고 체크 되었어도 오른쪽 삭제를 눌렀을 수도 있음...
			//두 경우를 구분할 값이 필요함
			//모달창이 꺼질때 값을 리셋해
			
			const $delPkEles = [];
			const delPkValues = [];
			//두 경우를 나누어서 PK값을 배열에 담는다
				if(isCheckDelBtn){
					for(idx in $checkRowsSave){
						console.log($checkRowsSave[idx].find('.purchaseCode').val());
						delPkValues[idx] = $checkRowsSave[idx].find('.purchaseCode').val();
						console.log(delPkValues + ' <- 다중 체크된 요소');
						console.log($checkRowsSave + ' <- $checkRowsSave2');
						$delPkEles[idx] = $checkRowsSave[idx].find('.purchaseCode');
						console.log($delPkEles[idx]);
					}
					requestDelete(delPkValues, $delPkEles)	// ajax 요청
				} else if(isOnlyDelBtn){
					console.log($($onlyRowSave).find('.purchaseCode').val());			
					delPkValues[0] = $($onlyRowSave).find('.purchaseCode').val();
					console.log(delPkValues + ' <- 단일 선택된 요소');
					console.log($onlyRowSave + '<- $onlyRowSave2');

					$delPkEles[0] = $($onlyRowSave).find('.purchaseCode');
					console.log($delPkEles[0]);
					requestDelete(delPkValues, $delPkEles)	// ajax 요청
				}
			
			
			
		});
	
		
		//₩세자리,콤마----------------------------
		const price = $('.price');
		//console.log(price);
		price.each(function(idx,item){
			//console.log(item);
			let priceText = item.textContent;
			//console.log(priceText);
			let formattedPrice = '₩' + priceText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
			item.textContent = formattedPrice;
		});		
	</script>
</th:block>
</html>