<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- 정기기부 단가 검색 -->
	<div th:fragment="donationSearch">
		<form th:action="@{/admin/donation/donation_list}" method="get">
		<div class="align-items-center search-schedule">
			<select class="form-control form-control-user-search search-input" name="searchKey">
				<option value="donationCode">코드</option>
				<option value="donationName">콘텐츠명</option>
				<option value="donationPrice">콘텐츠 금액</option>
			</select>
		</div>
		<div class="search-schedule">
			<input type="text"
				class="form-control form-control-user-search search-input"
				name="searchValue" style="width: 300px;" />
		</div>
		 &nbsp; <button type="submit" class="btn btn-primary">검색</button>
		</form>
	</div>
	
	<!-- 정기기부 등록된 회원 결제수단 검색 -->
	<div th:fragment="donationPayMethodSearch">
		<form th:action="@{/admin/donation/donationPayMethod_list}" method="get">
		<div class="align-items-center search-schedule">
			<select class="form-control form-control-user-search search-input" name="searchKey">
				<option value="donationPayMethodCode">코드</option>
				<option value="donationPayMethodUserId">회원아이디</option>
				<option value="donationPayMethodBank">은행명</option>
				<option value="donationPayMethodAccount">계좌번호</option>
			</select>
		</div>
		<div class="search-schedule">
			<input type="text"
				class="form-control form-control-user-search search-input"
				name="searchValue" style="width: 300px;" />
		</div>
		 &nbsp; <button type="submit" class="btn btn-primary">검색</button>
		</form>
	</div>
	
	<!-- 정기기부 구독 신청 검색 -->
	<div th:fragment="donationSubSearch">
		<form th:action="@{/admin/donation/donationSub_list}" method="get">
		<div class="align-items-center search-schedule">
			<select class="form-control form-control-user-search search-input" name="searchKey">
				<option value="donationSubCode">코드</option>
				<option value="donationSubUserId">회원아이디</option>
				<option value="donationCode">콘텐츠 코드</option>
			</select>
		</div>
		<div class="search-schedule">
			<input type="text"
				class="form-control form-control-user-search search-input"
				name="searchValue" style="width: 300px;" />
		</div>
		 &nbsp; <button type="submit" class="btn btn-primary">검색</button>
		</form>
	</div>

	<!-- 정기기부 구독 결제 상세 검색 -->
	<div th:fragment="donationPayDetailSearch">
		<form th:action="@{/admin/donation/donationPayDetail_list}" method="get">
		<div class="align-items-center search-schedule">
			<select class="form-control form-control-user-search search-input" name="searchKey">
				<option value="donationPayDetailCode">코드</option>
				<option value="donationPayUserId">회원아이디</option>
				<option value="donationPayRefundRequest">환불 요청 0/1</option>
				<option value="donationPayDeadlineCheck">마감전/마감완료</option>
			</select>
		</div>
		<div class="search-schedule">
			<input type="text"
				class="form-control form-control-user-search search-input"
				name="searchValue" style="width: 300px;" />
		</div>
		 &nbsp; <button type="submit" class="btn btn-primary">검색</button>
		</form>
	</div>
	
	<!-- 정기기부 구독 결제 상세 검색 -->
	<div th:fragment="donationMonthPaySearch">
		<form th:action="@{/admin/donation/donationMonthPay_list}" method="get">
		<div class="align-items-center search-schedule">
			<select class="form-control form-control-user-search search-input" name="searchKey">
				<option value="donationMonthPayCode">코드</option>
				<option value="donationMonthPayYear">연도</option>
				<option value="donationMonthPayMonth">월</option>
			</select>
		</div>
		<div class="search-schedule">
			<input type="text"
				class="form-control form-control-user-search search-input"
				name="searchValue" style="width: 300px;" />
		</div>
		 &nbsp; <button type="submit" class="btn btn-primary">검색</button>
		</form>
	</div>
	
	<!-- 정기기부 환불 검색 -->
	<div th:fragment="donationRefundSearch">
		<form th:action="@{/admin/donation/donationRefund_list}" method="get">
		<div class="align-items-center search-schedule">
			<select class="form-control form-control-user-search search-input" name="searchKey">
				<option value="donationRefundCode">코드</option>
				<option value="donationRefundUserId">회원아이디</option>
				<option value="donationRefundBank">은행명</option>
				<option value="donationRefundAccount">계좌번호</option>
				<option value="donationRefundStatus">환불전/환불완료</option>
			</select>
		</div>
		<div class="search-schedule">
			<input type="text"
				class="form-control form-control-user-search search-input"
				name="searchValue" style="width: 300px;" />
		</div>
		 &nbsp; <button type="submit" class="btn btn-primary">검색</button>
		</form>
	</div>