<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="searchFragment">
		<form th:action="@{/admin/user/userList}" method="get">
			<div class="align-items-center search-schedule">
			<select class="form-control form-control-user-search search-input" name="searchKey">
				<option value="userId">회원 아이디</option>
				<option value="userName">회원 이름</option>
			</select>
				</div>
		<div class="search-schedule">
			<input type="text"
				class="form-control form-control-user-search search-input"
				name="searchValue" style="width: 300px;" />
		</div>&nbsp;
			<button type="submit" class="btn btn-primary">검색</button>
		</form>
	</div>

<div th:fragment="searchFragment2">
		<form th:action="@{/admin/user/loginLog}" method="get">
		<div class="align-items-center search-schedule">
			<select class="form-control form-control-user-search search-input" name="searchKey">
				<option value="userId">회원 아이디</option>
			</select>
				</div>
		<div class="search-schedule">
			<input type="text"
				class="form-control form-control-user-search search-input"
				name="searchValue" placeholder="아이디를 입력해주세요." style="width: 300px;" />
		</div>&nbsp;
			<button type="submit" class="btn btn-primary">검색</button>
		</form>
	</div>



		
</html>